.atm-lead {
  $leadMargins: (
    leadMarginBottom: (
      tiny: 16px,
      medium: 20px,
      xlarge: 24px,
    ),
  );

  color: var(--color-text);
  font-family: $fontFamilyBlack;
  line-height: $sizeLineHeightMedium;
  hyphens: auto;

  @include polyFluidSizing('font-size', map-get($fontSizeCurves, biggerRegular));
  @include sizeCurve('margin-bottom', leadMarginBottom, $leadMargins);

  strong {
    font-family: $fontFamilyBlack;
  }
}
