.mdl-jurisdiction_finder {
  @include sizeCurve(margin-top, big);

  &__form {
    display: flex;
    padding-bottom: $sizeLarge;

    &-input,
    &-button {
      width: 100%;
      overflow: hidden;

      &:first-child {
        margin-right: $sizeMini;
      }

      &:last-child {
        margin-left: $sizeMini;
      }

      .atm-button,
      .atm-form_input {
        width: 100%;
      }

      .atm-button {
        span {
          margin: auto;
        }
      }
    }

    &-input {
      min-width: 50%;
    }

    @include mq($from: tiny, $to: small) {
      display: block;

      &-input,
      &-button {
        &:first-child {
          margin-right: 0;
          margin-bottom: $sizeTiny;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
  }

  .mdl-locations {
    display: none;

    &.visible {
      display: block;
    }
  }
}
