.mdl-jurisdiction_finder {
  &__form {
    display: flex;
    padding-bottom: $sizeLarge;

    &-input,
    &-button {
      width: 100%;

      &:first-child {
        margin-right: $sizeMini;
      }

      &:last-child {
        margin-left: $sizeMini;
      }

      .atm-button,
      .atm-form_input {
        width: 100%;
      }

      .atm-button {
        span {
          margin: auto;
        }
      }
    }
  }

  .mdl-locations {
    display: none;

    &.visible {
      display: block;
    }
  }
}
