<div class="mdl-jurisdiction_finder" data-init="jurisdictionFinder">
  <p class="atm-paragraph">{{text}}</p>
  <form class="mdl-jurisdiction_finder__form" novalidate>
    <div class="mdl-jurisdiction_finder__form-input" >{{>"atoms/form_input/form_input" searchInputData }}</div>
    <div class="mdl-jurisdiction_finder__form-button" >{{>"atoms/button/button" buttonData }}</div>
  </form>
</div>
