<div class="mdl-edirectory_details" data-init="edirectoryDetails">
  <div class="mdl-edirectory_details__contacts">
    {{> "modules/contact_block/contact_block" contactOrganization }}
    {{> "modules/contact_block/contact_block" contactLeaders }}
  </div>
  {{> "modules/table/table" table }}
  {{> "modules/linklist/linklist" linklist }}
</div>
