.mdl-instructions {
  .mdl-instructions__list {
    .mdl-instructions__item {
      &:before {
        color: $colorBlack !important; // stylelint-disable-line
      }
    }
  }

  ul.mdl-instructions__list {
    .mdl-instructions__item {
      &:before {
        content: url(svg-checkmark($colorBlack)); // stylelint-disable-line
        padding-right: pxToRem($sizeBig);
        background: none;
      }
    }
  }
}
