<div class="mdl-focus_teaser">
  {{#if focusTeaserHeader }}
  <h2 class="atm-heading atm-heading--bordered"{{#if focusTeaserHeader.anchorNavReference}} id="{{focusTeaserHeader.anchorNavReference}}"{{/if}}>{{focusTeaserHeader.title}}</h2>
  <p class="atm-paragraph">
    {{focusTeaserHeader.text}}
  </p>
  {{/if}}
  {{#each items}}
    {{> "modules/focus_card/focus_card" this}}
  {{/each}}
</div>
