{{#extend "layouts/layout"}}
  {{#content "header"}}
    <header>
      {{> "modules/page_header/page_header" props.modules.pageHeader}}
    </header>
  {{/content}}

  {{#content "content"}}
      <h1>(--ANKERNAVIGATION PLACEHOLDER--)</h1>
      {{> "modules/topiclist/topiclist" props.modules.topiclist }}
      <h1>(--ÜBER UNS PLACEHOLDER--)</h1>
      <h1>(--NEWS TEASER PLACEHOLDER--)</h1>
      {{> "modules/contact/contact" props.modules.contact }}
      {{> "modules/teaser/teaser" props.modules.teaser }}
      <h1>(--SOCIAL MEDIA STREAM--)</h1>
  {{/content}}

  {{#content "footer"}}
    <footer id="contentinfo">
      <h1 class="visuallyhidden">Fussbereich</h1>
    </footer>
  {{/content}}
{{/extend}}
