.mdl-filter-pills {
  display: flex;
  flex-wrap: wrap;

  .atm-button {
    margin-bottom: pxToRem($sizeMini);

    &--tag-filter {
      margin-right: pxToRem($sizeMini);
    }
  }

  &__hidden-control {
    display: none;
  }
}
