{{#if preview}}
  <button class="atm-button" onclick="document.querySelector('.mdl-filter-pills').dispatchEvent(new CustomEvent('FilterPills.addTag', { detail: { text: 'Bla' }}))">Filter Hinzufügen</button>
  <br />
{{/if}}
<div class="mdl-filter-pills" data-init="filterPills">
  <script data-template type="text/x-handlebars-template">
  <span data-pill class="atm-button atm-button--small atm-button--tag atm-button--tag-filter">
    <span class="atm-button__text ">
      <%=text%>
    </span>
    <button class="atm-button__icon">
      <svg class="icon">
        <use xlink:href="#exit"></use>
      </svg>
    </button>
  </span>
  </script>
  <div class="mdl-filter-pills__items">
    {{>"atoms/button/button" buttonData }}
  </div>
</div>
