<div class="atm-loading_circle">
  <svg class="atm-loading_circle__svg" viewBox="0 0 32 32" width="32" height="32">
    <style>
      #spinner {

      }

    </style>
    <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
  </svg>
</div>
