<div class="mdl-carousel" data-init="carousel" {{#if isInGallery}}data-image-gallery="carousel"{{/if}}>
  {{#if title}}
    <div class="mdl-carousel__title">
      <h{{{title.level}}} class="atm-heading">{{ title.text }}</h{{{title.level}}}>
    </div>
  {{/if}}
  <div class="mdl-carousel__meta">
    <button class="mdl-carousel__close" data-carousel="close">
      <span class="visuallyhidden">Schliessen</span>
      <svg class="icon">
        <use xlink:href="#exit"></use>
      </svg>
    </button>
  </div>
  <div class="mdl-carousel__slides" data-carousel="slide-wrapper">
    {{#each slides}}
      <div class="mdl-carousel__slide" data-carousel="slide">
        {{> "modules/image_figure/image_figure" this}}
      </div>
    {{/each}}
  </div>
  <div class="mdl-carousel__control-wrapper">
    <div class="mdl-carousel__control">
      <span class="mdl-carousel__indicator"><span data-carousel="indicator">1</span> von {{ slides.length }}</span>
      {{> "modules/button_group/button_group" controlButtons}}
    </div>
  </div>
</div>
