.mdl-carousel {
  @include gridBleed;
  @include sizeCurve(margin-bottom, medium);

  overflow-x: hidden;

  &__title,
  &__slides,
  &__control-wrapper {
    @extend .lyt-wrapper;
  }

  &__slides {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
  }

  &__slide {
    min-width: 100%;
    display: block;
    background: none;
    border: none;

    transition: margin-left $transitionTimeAreaLarge $transitionEasingDefault;
    transform: translate3d(0, 0, 0);
    padding: 0;
    text-align: left;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  &__control {
    justify-content: center;
    height: pxToRem($normalButtonSize);

    display: flex;
    align-items: center;
    position: relative;
  }

  &__indicator {
    @extend .atm-figcaption;
  }

  /**
   * Cascading styles
   */
  .mdl-image-figure {
    @include sizeCurve(margin-bottom, small);
  }

  .mdl-button_group {
    position: absolute;

    @include mq($from: large) {
      top: 0;
      right: 0;
    }
    @include mq($to: large) {
      left: 0;
      justify-content: flex-end;

      @include gridBleed;
    }
  }
}
