.mdl-carousel {
  &__meta {
    display: none;
  }

  &__slides {
    flex-direction: column;
    align-items: flex-end;
  }

  .mdl-image-figure {
    &__img {
      max-height: 20rem !important; // stylelint-disable-line
    }
  }

  &__control-wrapper {
    display: none;
  }
}
