<div class="mdl-cookie_controls" data-init="cookieControls" data-expirydays="60">
	<h2 class="atm-heading">Datenschutz</h2>
	<h3 class="atm-heading">Einstellungen zum Datenschutz</h3>
  <div class="atm-checkbox">
    <input type="checkbox" id="cookieCheckboxYoutube" name="checkbox" />
    <label for="cookieCheckboxYoutube">
      Videos von Youtube akzeptieren
      <span>
			<svg class="icon icon--iframe-arrow">
				<use xlink:href="#check"></use>
			</svg>
		</span>
    </label>
  </div>
  <p class="atm-paragraph">Wenn Sie akzeptieren, kann YouTube auf Seiten mit Videos Ihr Surf-Verhalten mitverfolgen.</p>
</div>
