<div class="mdl-cookie_controls" data-init="cookieControls">
	<h2 class="atm-heading">Datenschutz</h2>
	<h3 class="atm-heading">Einstellungen zum Datenschutz</h3>

  <p class="atm-paragraph"></p>
</div>
