<div class="mdl-search" data-init="search">
  <label class="mdl-search__label" for="mdl-search__search">
    <span>
      <span class="mdl-search__label-text">Suche</span>
      <svg class="icon mdl-search__icon">
        <use xlink:href="#search"></use>
      </svg>
    </span>
    <input type="search" id="mdl-search__search" name="mdl-search__search" class="mdl-search__search">
  </label>
</div>
