{{#extend "layouts/layout"}}

  {{#content "header"}}
    <header>
      {{> "modules/page_header/page_header" props.modules.pageHeaderData}}
    </header>
  {{/content}}

  {{#content "content"}}
    {{> "modules/anchornav/anchornav" props.modules.anchorNav }}
    {{> "modules/topiclist/topiclist" props.modules.topicListData}}
    <h1 id="eventsTODO">(--VERANSTALTUNGEN KOMPONENTE PLACEHOLDER--)</h1>
    {{> "modules/contact/contact" props.modules.contactData}}
    <h1>(--MAP PLACEHOLDER--)</h1>
    <h1 id="teamTODO">(--PERSONEN-TEASER PLACEHOLDER--)</h1>
    {{> "modules/teaser/teaser" props.modules.teaserData}}
    <h1>(--SOCIALMEDIA PLACEHOLDER--)</h1>
    <h2>SPA</h2>
    {{> "modules/application/application" props.modules.SPAData}}
    <h2>iFrame</h2>
    {{> "modules/iframe/iframe" props.modules.iframeData}}
  {{/content}}

  {{#content "footer"}}
    <footer id="contentinfo">
      <h1>(--FOOTER PLACEHOLDER--)</h1>
    </footer>
  {{/content}}
{{/extend}}
