{{#extend "layouts/layout"}}

  {{#content "pageheader"}}
    {{> "modules/page_header/page_header" props.modules.pageHeaderData}}
  {{/content}}

  {{#content "content"}}
    <div class="mdl-anchornav__wrapper">
      {{> "modules/lead_section/lead_section" props.modules.leadSectionData}}
      {{> "modules/anchornav/anchornav" props.modules.anchornavData }}
    </div>
    {{> "modules/stepper/stepper" props.modules.stepperForm }}
  {{/content}}

  {{#content "pagefooter"}}
    {{> "modules/contact/contact" props.modules.contact}}
  {{/content}}

  {{#content "footer"}}
    {{> "modules/footer/footer" props.modules.footerData }}
    {{> "modules/back_to/back_to" props.modules.backToData }}
  {{/content}}
{{/extend}}
