{{#extend "layouts/layout"}}
	{{#content "header"}}
		<header>
			<h1 class="visuallyhidden">Navigation</h1>

			{{> "modules/skiplinks/skiplinks" props.modules.skiplinks}}
		</header>
	{{/content}}

	{{#content "content"}}
		<main id="content">
			<h1>{{props.title}}</h1>

			{{> "modules/richtext/richtext" props.modules.richtext}}
		</main>
	{{/content}}

	{{#content "footer"}}
		<footer id="contentinfo">
			<h1 class="visuallyhidden">Fussbereich</h1>


		</footer>
	{{/content}}
{{/extend}}
