.mdl-locations {


  .mdl-locations__map {
    display: none;
  }

  .mdl-locations__wrapper {
    padding-top: 0;
    margin-top: 0;
    width: auto;
    transform: none;
    margin-left: 0;
  }

  .mdl-locations__sidebar-wrapper {
    position: relative;
    max-width: none;
    top: 0;
    bottom: 0;

    .mdl-locations__sidebar {
      height: auto;
      left: 0;
      right: 0;

      &:not(.show-details) {
        .mdl-linklist {
          margin-top: $sizeRegular;
          max-height: none;
        }
      }

      .mdl-locations__details_location.show {
        margin-top: $sizeRegular;
        max-height: none;
      }

      .sidebarhead {
        display: none;
      }

      .mdl-locations__details_head,
      .mdl-locations__filter_head {
        display: none;
      }
    }
  }
}
