<div class="mdl-locations" data-init="locations">
    {{#if title}} <div class="mdl-locations__title">
        <h{{{title.level}}} class="atm-heading atm-heading--bordered">{{ title.text }}</h{{{title.level}}}>
    </div> {{/if}}
    <div class="mdl-locations__wrapper">
      <div class="mdl-locations__map" data-locations="map">
          <div style="position: absolute; top: 0; left: 0;">&lceil;</div>
          <div style="position: absolute; top: 0; right: 0;">&rceil;</div>
          <div style="position: absolute; bottom: 0; right: 0;">&rfloor;</div>
          <div style="position: absolute; bottom: 0; left: 0;">&lfloor;</div>
          <span style="position: absolute; left: 25%; top: 25%; ">  </span>
      </div>
      <div class="mdl-locations__sidebar-wrapper">
        <div class="mdl-locations__sidebar" data-locations="sidebar">
          <div class="mdl-locations__filter">
            {{> "atoms/form_input/form_input" locationsFormInput }}
            {{> "modules/linklist/linklist" locationsList}}
          </div>
          <div class="mdl-locations__details">
              {{> "atoms/button/button" backBtn }}

            {{#each locationContacts}}
              <div class="mdl-locations__details_location" data-locations="locationDetails">
                {{> "modules/contact/contact" this}}
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
</div>
