$locationsPaddingCurve: (
  default: (
    tiny: $sizeBiggerBig,
    large: $sizeGiant,
  )
);

$sidebarMaxWidth: 386px;
$sideBarHeightSmall: 568px;
$sideBarHeadHeight: 2 * $sizeRegular + $sizeSmallHuge;

$mapRatioLarge: 1.777;
$mapRatioMedium: 1;
$mapRatioSmall: 0.75;

.sidebarhead {
  position: absolute;
  padding: pxToRem($sizeRegular) 0;
  width: calc(50% - #{$sizeBig});
  background: $colorWhite;
  z-index: 10;
}

.sideBarScrollContainer {
  height: calc(100% - #{$sideBarHeadHeight});

  overflow-y: scroll;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0);
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }
}

.mdl-locations {
  @include sizeCurve(margin-top margin-bottom, default, $locationsPaddingCurve);

  &__wrapper {
    padding-top: calc((100vw - #{$sizeGiant}) / #{$mapRatioLarge}); // stylelint-disable-line -- preserve aspect 16:9 ratio
    margin-top: pxToRem($sizeGiant);

    @media ( min-width: $sizeGlobalMaxWidth ) {
      padding-top: 768px; // stylelint-disable-line -- preserve 16:9 aspect ratio
    }

    @include gridBleed;
  }

  &__map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    background: $colorBlack15;
    width: calc(91.6667% - #{$sidebarMaxWidth});
  }

  &__sidebar-wrapper {
    max-width: pxToRem($sidebarMaxWidth);
    position: absolute;
    top: pxToRem(-$sizeBiggerBig);
    bottom: 0;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 1px;
    overflow: hidden;
    background: $colorWhite;
    z-index: 10000;
  }

  &__sidebar {
    position: relative;
    width: 200%;
    height: 100%;
    margin-left: 0;
    transition: margin-left 400ms ease-in-out;

    &.show-details {
      margin-left: -100%;

      .mdl-locations__details {
        display: block;
      }
    }

    &.empty {
      .mdl-locations__filter_empty {
        display: block;
      }
    }
  }

  &__filter {
    padding: 0 pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: left;

    &_head {
      @extend .sidebarhead;
      padding-bottom: pxToRem($sizeTiny);

      .atm-button {
        display: none;
      }
    }

    .mdl-linklist {
      @extend .sideBarScrollContainer;
      margin-top: pxToRem($sideBarHeadHeight);
      padding: 0 pxToRem($sizeRegular);

      li {
        max-height: 1000px;
        transition: max-height 400ms ease-out;

        &.hide {
          max-height: 0;
          overflow: hidden;
        }
      }

      .atm-linklist_item.marker-hovered {
        color: rgba($colorText, 1);

        &:after {
          transform: translateY(50%) scaleY(3);
          background: $colorText;
        }

        .icon use {
          fill: $colorText;
        }
      }
    }

    &_empty {
      margin-top: pxToRem($sideBarHeadHeight);
      display: none;
      padding: 0 pxToRem($sizeRegular);

      strong {
        display: block;
        font-size: pxToRem($sizeFontRegular);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 2px solid $colorBlack15;
        width: 100%;
      }

      .atm-text_link {
        margin: pxToRem($sizeBig) 0;
      }
    }
  }

  &__details {
    padding: pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: right;

    &_head {
      @extend .sidebarhead;
      padding-left: pxToRem($sizeRegular);
    }

    &_location {
      @extend .sideBarScrollContainer;
      padding: 0 pxToRem($sizeRegular);
      margin-top: 0;
      max-height: 0;
      transition: max-height, margin-top 600ms, 150ms ease-out;

      &.show {
        display: block;
        margin-top: pxToRem($sideBarHeadHeight);
        max-height: 100%;
      }

      .mdl-contact {
        padding-top: 0;
      }
    }
  }

  &__sidebar--single-location {
    left: -100%;

    .mdl-locations__filter {
      display: none;
    }

    .mdl-locations__details {
      display: block;

      &_head {
        display: none;
      }

      &_location {
        margin-top: pxToRem($sizeRegular);
        max-height: 100%;
        display: block;
        height: auto;

        &.show {
          max-height: 100%;
        }
      }
    }
  }

  @include mq($to: medium, $media: 'screen') {
    .sidebarhead {
      width: calc(50% - #{$sizeLarge});
    }

    .mdl-locations {
      &__wrapper {
        padding-top: calc((100vw - #{$sizeBig}) / #{$mapRatioMedium});
      }

      &__map {
        width: calc(100% - #{$sizeBig});
      }

      &__sidebar-wrapper {
        width: auto;
        max-width: initial;
        right: pxToRem($sizeBig);
        left: 16.6667%;
        bottom: unset;
        margin-left: pxToRem($sizeTiny);
      }

      &__sidebar {
        .mdl-linklist {
          height: auto;
          max-height: 0;
          padding: 0 pxToRem($sizeRegular);
          transition: max-height, margin-top 400ms, 200ms ease-out;
          margin-top: pxToRem($sideBarHeadHeight - $sizeRegular);
        }

        .mdl-locations__details_location.show {
          display: none;
        }

        &.opened {
          .mdl-linklist {
            max-height: calc(100vw - #{$sizeBiggerBig + 3 * $sizeRegular});
            margin-top: pxToRem($sideBarHeadHeight);
          }

          .mdl-locations__details_location.show {
            display: block;
            max-height: calc(100vw - #{$sideBarHeadHeight + $sizeLarge});
          }

          &.empty {
            .mdl-linklist {
              margin-top: 0;
            }
          }
        }
      }

      &__filter {
        &_head {
          padding-right: pxToRem($sizeGiant);

          .atm-button {
            display: block;
            position: absolute;
            text-align: center;
            right: pxToRem($sizeRegular);
            top: 50%;
            margin-top: pxToRem(-$sizeSmallHuge / 2 + $sizeMini);

            svg use {
              fill: $colorBlack60;
            }
          }
        }

        &_empty {
          padding: 0;
        }
      }

      &__sidebar--single-location {
        left: 0;

        .mdl-locations__details {
          &_head {
            display: block;
          }

          &_location {
            margin-top: pxToRem($sideBarHeadHeight - $sizeRegular);
            max-height: 0;

            &.show {
              max-height: 100%;
              display: block;
            }
          }
        }

        .mdl-locations__filter {
          display: block;

          &_head {
            display: none;
          }

          .mdl-linklist {
            margin-top: pxToRem($sizeRegular);
            max-height: 100%;

            .atm-linklist_item {
              border: none;

              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  @include mq($to: small) {

    .mdl-locations {
      &__wrapper {
        padding-top: calc(100vw / #{$mapRatioSmall});
        margin-top: pxToRem($sizeGiant + $sizeLarge);
      }

      &__map {
        left: 0;
        width: auto;
      }

      &__sidebar-wrapper {
        right: 0;
        left: 0;
        margin-left: 0;
        top: pxToRem(-$sizeGiant);
      }

      &__sidebar {
        .mdl-linklist {
          padding: 0;
        }

        &.opened {
          .mdl-linklist {
            max-height: pxToRem($sideBarHeightSmall -  $sideBarHeadHeight - $sizeRegular);
          }

          .mdl-locations__details_location {
            padding: 0;

            &.show {
              max-height: pxToRem($sideBarHeightSmall -  $sideBarHeadHeight - $sizeRegular);
              margin-top: pxToRem(2 * $sizeSmallRegular + $sizeSmallHuge);
            }
          }
        }
      }

      &__filter {
        padding: 0 pxToRem($sizeSmallRegular);

        &_head {
          padding-right: pxToRem($sizeHuge);

          .atm-button {
            right: 0;
          }
        }
      }

      &__details {
        padding: pxToRem($sizeSmallRegular);

        &_head {
          padding-left: 0;
        }
      }
    }
  }
}
