$locationsPaddingCurve: (
  default: (
    tiny: $sizeBiggerBig,
    large: $sizeGiant,
  )
);

$sidebarMaxWidth: 386px;

.mdl-locations {
  @include sizeCurve(padding-top padding-bottom, default, $locationsPaddingCurve);

  &__wrapper {
    padding-top: calc((100vw - #{$sizeGiant}) / 1.777); // stylelint-disable-line -- preserve aspect 16:9 ratio
    padding-left: pxToRem($sizeGiant);
    margin-top: pxToRem($sizeGiant);

    @media ( min-width: $sizeGlobalMaxWidth ) {
      padding-top: 768px; // stylelint-disable-line -- preserve 16:9 aspect ratio
    }

    @include gridBleed;
  }

  &__map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba($colorRed, 0.5);
    width: calc(100% - #{$sidebarMaxWidth} - #{$sizeGiant});
  }

  &__sidebar-wrapper {
    max-width: pxToRem($sidebarMaxWidth);
    position: absolute;
    top: pxToRem(-40);
    bottom: 0;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 1px;
    overflow: hidden;
  }

  &__sidebar {
    position: relative;
    width: 200%;
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;

    &_head {
      position: absolute;
      padding: pxToRem($sizeRegular) 0 pxToRem($sizeTiny);
      width: calc(50% - #{$sizeBig});
      background: $colorWhite;
      z-index: 10;
    }

    &.show-details {
      left: -100%;
    }
  }
  $sideBarHeadHeight: $sizeRegular + $sizeTiny + $sizeSmallHuge;

  .sideBarScrollContainer {
    height: calc(100% - #{$sideBarHeadHeight});
    margin-top: pxToRem($sideBarHeadHeight);
    overflow: scroll;
  }

  &__filter {
    padding: 0 pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: left;

    .mdl-linklist {
      @extend .sideBarScrollContainer;
      padding: 0 pxToRem($sizeRegular);

      li {
        max-height: 1000px;
        transition: max-height 400ms ease-out;

        &.hide {
          max-height: 0;
          overflow: hidden;
        }
      }
    }
  }

  &__details {
    padding: pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: right;
    overflow: scroll;

    .mdl-locations__sidebar_head {
      padding-left: pxToRem($sizeRegular);
    }

    &_location {
      @extend .sideBarScrollContainer;
      padding: 0 pxToRem($sizeRegular);
      display: none;

      &.show {
        display: block;
      }

      .mdl-contact {
        padding-top: 0;
      }
    }
  }

  @include mq($from: small, $to: medium) {
    &__wrapper {
      padding-top: calc(100vw - #{$sizeSmallLarge});
    }

    &__map {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      background: rgba($colorRed, 0.5);
      width: calc(100% - #{$sizeSmallLarge});
    }
  }
}
