$locationsPaddingCurve: (
  default: (
    tiny: $sizeBiggerBig,
    large: $sizeGiant,
  )
);

$sidebarMaxWidth: 386px;

.mdl-locations {
  @include sizeCurve(padding-top padding-bottom, default, $locationsPaddingCurve);

  &__wrapper {
    padding-top: calc((100vw - #{$sizeGiant}) / 1.777); // stylelint-disable-line -- preserve aspect 16:9 ratio
    margin-top: pxToRem($sizeGiant);

    @media ( min-width: $sizeGlobalMaxWidth ) {
      padding-top: 768px; // stylelint-disable-line -- preserve 16:9 aspect ratio
    }

    @include gridBleed;
  }

  &__map {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    background: rgba($colorRed, 0.5);
    width: calc(91.6667% - #{$sidebarMaxWidth});
  }

  &__sidebar-wrapper {
    max-width: pxToRem($sidebarMaxWidth);
    position: absolute;
    top: pxToRem(-40);
    bottom: 0;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.16);
    border-radius: 1px;
    overflow: hidden;
    background: $colorWhite;
    z-index: 1;
  }

  &__sidebar {
    position: relative;
    width: 200%;
    height: 100%;
    left: 0;
    transition: left 400ms ease-in-out;

    &.show-details {
      left: -100%;
    }

    &.empty {
      .mdl-locations__filter_empty {
        display: block;
      }
    }
  }

  .sidebarhead {
    position: absolute;
    padding: pxToRem($sizeRegular) 0;
    width: calc(50% - #{$sizeBig});
    background: $colorWhite;
    z-index: 10;
  }
  $sideBarHeadHeight: 2 * $sizeRegular + $sizeSmallHuge;

  .sideBarScrollContainer {
    height: calc(100% - #{$sideBarHeadHeight});
    overflow: scroll;
  }

  &__filter {
    padding: 0 pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: left;

    &_head {
      @extend .sidebarhead;
      padding-bottom: pxToRem($sizeTiny);

      .atm-button {
        display: none;
      }
    }

    .mdl-linklist {
      @extend .sideBarScrollContainer;
      padding: 0 pxToRem($sizeRegular);

      li {
        max-height: 1000px;
        transition: max-height 400ms ease-out;

        &.hide {
          max-height: 0;
          overflow: hidden;
        }
      }
    }

    &_empty {
      display: none;

      strong {
        display: block;
        font-size: pxToRem($sizeFontRegular);
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 2px solid $colorBlack15;
        width: 100%;
      }

      .atm-text_link {
        margin: pxToRem($sizeBig) 0;
      }
    }
  }

  &__details {
    padding: pxToRem($sizeRegular);
    width: 50%;
    height: 100%;
    float: right;
    overflow: scroll;

    &_head {
      @extend .sidebarhead;
      padding-left: pxToRem($sizeRegular);
    }

    &_location {
      @extend .sideBarScrollContainer;
      padding: 0 pxToRem($sizeRegular);
      margin-top: 0;
      max-height: 0;
      transition: max-height, margin-top 600ms, 150ms ease-out;

      &.show {
        margin-top: pxToRem($sideBarHeadHeight);
        max-height: 100%;
      }

      .mdl-contact {
        padding-top: 0;
      }
    }
  }

  @include mq($from: small, $to: medium) {
    .mdl-locations {
      &__wrapper {
        padding-top: calc(100vw - #{$sizeSmallLarge});
      }

      &__map {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        background: rgba($colorRed, 0.5);
        width: calc(100% - #{$sizeBig});
      }

      &__sidebar-wrapper {
        width: auto;
        max-width: initial;
        right: pxToRem($sizeBig);
        left: 16.6667%;
        margin-left: pxToRem($sizeTiny);
        bottom: inherit;
      }

      &__sidebar {
        .mdl-linklist {
          height: auto;
          max-height: 0;
          padding: 0 pxToRem($sizeRegular);
          transition: max-height, margin-top 400ms, 150ms ease-out;
          margin-top: pxToRem($sideBarHeadHeight - $sizeRegular);
        }

        .mdl-locations__details_location.show {
          display: none;
        }

        &.opened {
          .mdl-linklist {
            max-height: calc(100vw - #{$sizeSmallLarge});
            margin-top: pxToRem($sideBarHeadHeight);
          }

          .mdl-locations__details_location.show {
            display: block;
          }
        }
      }

      &__filter_head {
        padding-right: pxToRem($sizeGiant);

        .atm-button {
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: pxToRem(-$sizeLarge);

          svg use {
            fill: $colorBlack60;
          }
        }
      }
    }
  }
}
