/**
 * Layout
 */
$sizeWidthContent: 1168px;

// Variable needed for xy-grid
$global-width: $sizeWidthContent;

/**
  * Gutter sizes
  */
$sizeGutterTiny: 16px;
$sizeGutterMedium: 24px;
$sizeGutterLarge: 32px;

/**
 * Font sizes
 */
$sizeFontTiny: 12px;
$sizeFontSmall: 14px;
$sizeFontRegular: 16px;
$sizeFontBiggerRegular: 18px;
$sizeFontMedium: 20px;
$sizeFontLarge: 24px;
$sizeFontSmallBig: 28px;
$sizeFontBig: 32px;
$sizeFontBiggerBig: 40px;
$sizeFontSmallHuge: 48px;
$sizeFontHuge: 56px;
$sizeFontGiant: 72px;

$sizeFontBase: $sizeFontRegular;
$fontFamilyBase: Arial, sans-serif;

/**
 * Line heights
 */
$sizeLineHeightNarrower: 1;
$sizeLineHeightNarrow: 1.2;
$sizeLineHeightBase: 1.5;

/**
 * Breakpoints
 */
$sizeBreakpointTiny: 0;
$sizeBreakpointXSmall: 400px;
$sizeBreakpointSmall: 600px;
$sizeBreakpointMedium: 840px;
$sizeBreakpointLarge: 1024px;
$sizeBreakpointXLarge: 1280px;

// Size Curves
$sizeMini: 8px;
$sizeSmallRegular: 12px;
$sizeRegular: 16px;
$sizeSmallLarge: 20px;
$sizeLarge: 24px;
$sizeBig: 32px;
$sizeBiggerBig: 40px;
$sizeHuge: 56px;
$sizeGiant: 80px;

$sizeCurves: (
  big: (
    tiny: $sizeHuge,
    medium: $sizeGiant
  ),
  large: (
    tiny: $sizeBiggerBig,
    medium: $sizeHuge,
  ),
  medium: (
    tiny: $sizeLarge,
    medium: $sizeBig,
    xlarge: $sizeBiggerBig
  ),
  regular: (
    tiny: $sizeRegular,
    medium: $sizeSmallLarge,
    xlarge: $sizeLarge
  ),
  small: (
    tiny: $sizeSmallRegular,
    xlarge: $sizeRegular
  ),
  tiny: (
    tiny: $sizeTiny,
    medium: $sizeSmallRegular,
    xlarge: $sizeRegular
  )
);

// Layout Wrapper Spacing
$wrapperSpacing: (
  tiny: pxToEm($sizeSmallRegular),
  xsmall: pxToEm($sizeRegular),
  small: pxToEm($sizeBig),
  large: pxToEm($sizeBiggerBig),
);

/**
 * Breakpoint Variables for Foundation Grid
 */
$breakpoints: (
  tiny: $sizeBreakpointTiny,
  xsmall: $sizeBreakpointXSmall,
  small: $sizeBreakpointSmall,
  medium: $sizeBreakpointMedium,
  large: $sizeBreakpointLarge,
  xlarge: $sizeBreakpointXLarge
);

$grid-margin-gutters: (
  tiny: $sizeGutterTiny,
  medium: $sizeGutterMedium,
  large: $sizeGutterLarge
);

$breakpoint-classes: (tiny xsmall small medium large xlarge);


/**
 * Custom colors
 */
$colorText: #000;
$colorBg: #fff;
$colorActive: #a4c400;
