/**
 * Layout
 */
$sizeGlobalMaxWidth: 1440px;
$sizeWidthContent: 1168px;
$sizeWidthTextContent: 768px;

// Variable needed for xy-grid
$global-width: $sizeWidthContent;

/**
 * Font sizes
 */
$sizeFontTiny: 12px;
$sizeFontSmall: 14px;
$sizeFontRegular: 16px;
$sizeFontBiggerRegular: 18px;
$sizeFontMedium: 20px;
$sizeFontLarge: 24px;
$sizeFontSmallBig: 28px;
$sizeFontBig: 32px;
$sizeFontBiggerBig: 40px;
$sizeFontSmallHuge: 48px;
$sizeFontHuge: 56px;
$sizeFontGiant: 72px;

// Font-Size curves
$fontSizeCurves: (
  huge: (
    tiny: $sizeFontSmallBig,
    xsmall: $sizeFontBig,
    small: $sizeFontBiggerBig,
    medium: $sizeFontSmallHuge,
    large: $sizeFontHuge,
    xlarge: $sizeFontGiant
  ),
  big: (
    tiny: $sizeFontLarge,
    small: $sizeFontSmallBig,
    medium: $sizeFontBig,
    large: $sizeFontBiggerBig,
    xlarge: $sizeFontSmallHuge
  ),
  large: (
    tiny: $sizeFontBiggerRegular,
    medium: $sizeFontLarge,
    large: $sizeFontSmallBig,
    xlarge: $sizeFontBig
  ),
  medium: (
    tiny: $sizeFontBiggerRegular,
    xsmall: $sizeFontMedium,
    medium: $sizeFontMedium,
    large: $sizeFontLarge,
    xlarge: $sizeFontSmallBig
  ),
  // Leads & Blockquotes
  biggerRegular: (
    xsmall: $sizeFontBiggerRegular,
    small: $sizeFontMedium,
    large: $sizeFontMedium,
    xlarge: $sizeFontLarge
  ),
  regular: (
    tiny: $sizeFontRegular,
    xsmall: $sizeFontBiggerRegular,
    large: $sizeFontBiggerRegular,
    xlarge: $sizeFontMedium,
  ),
  small: (
    tiny: $sizeFontSmall,
    medium: $sizeFontRegular,
    large: $sizeFontBiggerRegular,
  ),
  tiny: (
    xsmall: $sizeFontTiny,
    small: $sizeFontSmall
  )
);

$sizeFontBase: $sizeFontRegular;
$fontFamilyBase: Helvetica, sans-serif;

/**
 * Line heights
 */
$sizeLineHeightNarrower: 1;
$sizeLineHeightNarrow: 1.2;
$sizeLineHeightMedium: 1.3;
$sizeLineHeightBigger: 1.4;
$sizeLineHeightBase: 1.5;

/**
 * Breakpoints
 */
$sizeBreakpointZero: 0;
$sizeBreakpointTiny: 320px;
$sizeBreakpointXSmall: 400px;
$sizeBreakpointSmall: 600px;
$sizeBreakpointMedium: 840px;
$sizeBreakpointLarge: 1024px;
$sizeBreakpointXLarge: 1280px;

// Size Curves
$sizeTiny: 8px;
$sizeSmallRegular: 12px;
$sizeRegular: 16px;
$sizeSmallLarge: 20px;
$sizeLarge: 24px;
$sizeBig: 32px;
$sizeBiggerBig: 40px;
$sizeSmallHuge: 48px;
$sizeHuge: 56px;
$sizeGiant: 80px;

$sizeCurves: (
  big: (
    tiny: $sizeHuge,
    medium: $sizeGiant
  ),
  large: (
    tiny: $sizeBiggerBig,
    medium: $sizeHuge,
  ),
  medium: (
    tiny: $sizeLarge,
    small: $sizeLarge,
    medium: $sizeBig,
    xlarge: $sizeBiggerBig
  ),
  biggerRegular: (
    tiny: $sizeSmallLarge,
    medium: $sizeLarge,
    xlarge: $sizeBig
  ),
  regular: (
    tiny: $sizeRegular,
    medium: $sizeSmallLarge,
    xlarge: $sizeLarge
  ),
  smallerRegular: (
    tiny: $sizeRegular,
    xsmall: $sizeSmallLarge,
    large: $sizeSmallLarge,
    xlarge: $sizeLarge
  ),
  small: (
    tiny: $sizeSmallRegular,
    xlarge: $sizeRegular
  ),
  tiny: (
    tiny: $sizeTiny,
    medium: $sizeSmallRegular,
    xlarge: $sizeRegular
  ),
  mini: (
    tiny: $sizeTiny,
    xlarge: $sizeTiny,
  )
);

// Layout Wrapper Spacing
$wrapperSpacing: (
  tiny: $sizeSmallRegular,
  xsmall: $sizeRegular,
  small: $sizeBig,
  medium: $sizeBig,
  large: $sizeBiggerBig,
);

// Indentation curves
$indentCurve: (
  list: (
    tiny: $sizeRegular,
    small: $sizeLarge,
    xlarge: $sizeBig,
  ),
  benefits: (
    tiny: $sizeBig,
    medium: $sizeBiggerBig
  ),
  quote: (
    tiny: 18px,
    xsmall: 22px,
    small: $sizeLarge
  ),
  quoteParagraph: (
    tiny: $sizeRegular,
    medium: $sizeLarge,
    large: $sizeBig
  )
);

// used in video and image
$imageCustomSizes: (
  headerImageWidth: (
    tiny: 265px,
    xsmall: 323px,
    small: 488px,
    medium: 678px,
    large: 828px,
    xlarge: 1036px,
  ),
  headerImageWidthAspect: (
    tiny: 149px,
    xsmall:182px,
    small:274px,
    medium: 381px,
    large: 466px,
    xlarge: 583px,
  ),
);

// content grid numbers for width calculation
$gridOffsetColumns: (
  tiny: 6,
  small: 10,
  medium: 9,
  large: 8
);

/**
 * Breakpoint Variables for Foundation Grid
 */
$breakpoints: (
  tiny: $sizeBreakpointZero,
  xsmall: $sizeBreakpointXSmall,
  small: $sizeBreakpointSmall,
  medium: $sizeBreakpointMedium,
  large: $sizeBreakpointLarge,
  xlarge: $sizeBreakpointXLarge
);

$grid-margin-gutters: (
  tiny: $sizeSmallRegular,
  xsmall: $sizeRegular,
  medium: $sizeLarge,
  large: $sizeLarge,
  xlarge: $sizeBig
);

$grid-outer-gutters: (
  bleed: (
    tiny: $sizeSmallRegular,
    xsmall: $sizeRegular,
    small: $sizeBig,
    large: $sizeBiggerBig,
    xlarge: 0
  )
);

$breakpoint-classes: (tiny xsmall small medium large xlarge);

/** Font-Weights */
$fontWeightBlack: 900;
$fontWeightQuote: 800;
$fontWeightDefault: 400;


/**
 * Custom colors
 */
$colorBlack: $colorBlack100;
$colorText: $colorBlack100;
$colorBg: $colorBlack5;

/**
 * Color variations
 */
$tl-color-variations: (
  cv-blue: $colorBlue,
  cv-darkblue: $colorDarkBlue,
  cv-turqoise: $colorTurqoise,
  cv-green: $colorGreen,
  cv-bordeaux: $colorBordeaux,
  cv-magenta: $colorMagenta,
  cv-violet: $colorViolet,
  cv-monochrome: $colorBlack,
);

/**
 * Transition and Easings and Timings
 * documented here: https://we.one-inside.com/confluence/display/CZHDEV/04.11.09+Verhalten+und+Animation
 */

$transitionTimeSimple: 100ms;
$transitionTimeFade: 200ms;
$transitionTimeFadeIn: $transitionTimeFade;
$transitionTimeFadeOut: $transitionTimeFade;
$transitionTimeDefault: 250ms;
$transitionTimeMorph: 500ms;

$transitionTimeAreaSmall: 150ms;
$transitionTimeAreaMedium: 350ms;
$transitionTimeAreaLarge: 500ms;

$transitionEasingDefault: ease;
$transitionEasingAccelerate: cubic-bezier(0.2, 0.04, 0.87, 0.62);
$transitionEasingDecelerate: cubic-bezier(0.01, 0.13, 0.63, 0.99);

/**
 * Z-Indexes
 */
$zIndexInner: 1; // für Übersteuerung innerhalb der Komponente
$zIndexDropDowns: 10;
$zIndexScaffolds: 100; // für fixed Header/ Footer
$zIndexOverlays: 1000;
$zIndexSkiplinks: 2000;

:root {

  --scrollbar-wd: 17px;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
