/**
 * Layout
 */
$sizeWidthContent: 1168px;

// Variable needed for xy-grid
$global-width: $sizeWidthContent;

/**
  * Gutter sizes
  */
$sizeGutterTiny: 16px;
$sizeGutterMedium: 24px;
$sizeGutterLarge: 30px;

/**
 * Font sizes
 */
$sizeFontTiny: 12px;
$sizeFontSmall: 14px;
$sizeFontRegular: 16px;
$sizeFontBiggerRegular: 18px;
$sizeFontMedium: 20px;
$sizeFontLarge: 24px;
$sizeFontSmallBig: 28px;
$sizeFontBig: 32px;
$sizeFontBiggerBig: 40px;
$sizeFontSmallHuge: 48px;
$sizeFontHuge: 56px;
$sizeFontGiant: 72px;

$sizeFontBase: $sizeFontRegular;
$fontFamilyBase: Arial, sans-serif;

/**
 * Line heights
 */
$sizeLineHeightNarrower: 1;
$sizeLineHeightNarrow: 1.2;
$sizeLineHeightBase: 1.5;

/**
 * Breakpoints
 */
$sizeBreakpointTiny: 320px;
$sizeBreakpointXSmall: 400px;
$sizeBreakpointSmall: 600px;
$sizeBreakpointMedium: 840px;
$sizeBreakpointLarge: 1024px;
$sizeBreakpointXLarge: 1280px;

/**
 * Breakpoint Variables for Foundation Grid
 */
$breakpoints: (
  tiny: 0,
  xsmall: 400px,
  small: 600px,
  medium: 840px,
  large: 1024px,
  xlarge: 1280px
);

$grid-margin-gutters: (
  tiny: $sizeGutterTiny,
  medium: $sizeGutterMedium,
  large: $sizeGutterLarge
);

$breakpoint-classes: (tiny xsmall small medium large xlarge);


/**
 * Custom colors
 */
$colorText: #000;
$colorBg: #fff;
$colorActive: #a4c400;
