.mdl-image_gallery {
  @include gridBleed;
  @include sizeCurve(padding-top, big);

  background: $colorBlack80;
  overflow-x: hidden;

  &__image {
    padding-top: 82%;
    position: relative;
  }
}
