.mdl-image_gallery {
  @include gridBleed;
  @include sizeCurve(padding-top, big);
  @include sizeCurve(padding-bottom, large);

  background: $colorBlack80;
  overflow-x: hidden;

  &__images {
    height: 100%;
  }

  &__more {
    display: flex;
    flex-direction: column;

    .atm-button {
      align-self: center;
    }
  }
}
