$imageGalleryPaddingCurve: (
  default: (
    tiny: $sizeBiggerBig,
    large: $sizeGiant,
  )
);

.mdl-image_gallery {
  @include gridBleed($fullwidth: true);
  @include sizeCurve(padding-top padding-bottom, default, $imageGalleryPaddingCurve);

  background: $colorBlack80;
  overflow-x: hidden;

  h2.mdl-image_gallery__title {
    @include sizeCurve(margin-bottom, medium);
  }

  h2.atm-heading--bordered {
    margin-top: 0;
  }

  &__images {
    height: 100%;
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  &__more {
    display: flex;
    flex-direction: column;

    .atm-button {
      align-self: center;
    }
  }

  &__more-images {
    display: none;
  }

  /**
   * Expanded style
   */
  &--expanded {
    .mdl-image_gallery__more-images {
      display: flex;
    }

    .mdl-image_gallery__more {
      .atm-button {
        display: none;
      }
    }
  }

  /**
   * Fullscreen behaviour
   */
  &--fullscreen {
    transform: none;
  }
}
