<div class="mdl-image_gallery mdl-image_gallery--cv-inverted" data-init="imageGallery">
  <div class="mdl-image_gallery__title">
    <h2 class="atm-heading">{{ title }}</h2>
  </div>
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">

    </div>
  </div>
</div>
