.mdl-skiplinks {

  &__list {
    @include resetList;
  }

  &__link {
    @include visuallyhiddenFocusable;

    &:focus {
      @include sizeCurve(padding-top padding-bottom, mini);
      @include sizeCurve(padding-left padding-right, small);
      position: absolute;
      background: $colorWhite;
      color: $colorText;
      margin-left: -2px;
      margin-top: -2px;
      text-decoration: none;
      z-index: $zIndexSkiplinks;
    }
  }
}
