$headerCurves: (
  height: (
    tiny: 48px,
    xsmall: 56px,
    medium: 72px
  ),
);

.mdl-skiplinks {
  @include polyFluidSizing(font-size, map-get($fontSizeCurves, regular));

  &__list {
    @include resetList;
  }

  &__link {
    @include visuallyhiddenFocusable;

    &:focus {
      @include sizeCurve(height, height, $headerCurves);
      display: flex;
      position: absolute;
      background: $colorWhite;
      color: $colorText;
      text-decoration: none;
      z-index: $zIndexSkiplinks;
      align-items: center;
    }
  }
}
