<div class="mdl-skiplinks" data-init="skiplinks">
	<h2 class="visuallyhidden">Sprunglinks</h2>
	<ul class="mdl-skiplinks__list">
		{{#each skiplinks}}
			<li class="mdl-skiplinks__item">
				<a href="{{this.href}}" accesskey="{{this.accesskey}}" class="mdl-skiplinks__link mdl-no-modal-focus">{{this.label}}</a>
			</li>
		{{/each}}
	</ul>
</div>
