.mdl-search_page {
  @include sizeCurve(padding-bottom, big);

  &--loading {
    position: relative;

    height: 100px;
    max-height: 100px;

    overflow: hidden;
  }

  &__form {
    @include sizeCurve(padding-bottom, regular);
  }

  &__results-wrapper {
    @include sizeCurve(margin-top, medium);
  }

  &__counter {
    font-size: pxToRem($sizeFontTiny);
    font-weight: $fontWeightBlack;

    display: block;

    @include sizeCurve(margin-bottom, small);
  }

  &__results {
    @include sizeCurve(padding-bottom, small);
  }

  &__list {
    @include resetList;
  }

  &__tag-group {
    @include sizeCurve(margin-bottom, medium);
  }

  /**
   * SPECIAL STYLES FOR THE RESULTS ITEMS
   */
  &__item {
    @include sizeCurve(padding-top padding-bottom, regular);
    border-bottom: 1px solid $colorBlack20;

    &-content {
      text-decoration: none;

      h4 {
        color: $colorBlack;
        margin-bottom: pxToRem($sizeMini);
      }

      p {
        color: $colorBlack60;
        margin: 0;
      }
    }

    &-meta {
      font-size: pxToRem($sizeFontTiny);
      color: $colorBlack60;
    }

    &-type {
      font-weight: $fontWeightBlack;
    }

    .atm-linklist_item {
      padding: 0;
      border: none;

      &:after {
        display: none;
      }
    }

    .atm-linklist_item__text,
    .atm-heading {
      color: $colorBlack;
    }

    .atm-linklist_item__label {
      color: $colorBlack60;
    }
  }
}
