.mdl-search_page {
  &__form {
    @include sizeCurve(padding-bottom, regular);
  }

  &__results-wrapper {
    @include sizeCurve(margin-top, medium);
  }

  &__counter {
    font-size: pxToRem($sizeFontTiny);
    font-weight: $fontWeightBlack;

    display: block;

    @include sizeCurve(margin-bottom, small);
  }
}
