<div class="mdl-search_page" data-init="searchPage" {{#if options}}data-search-page-options="{{options}}"{{/if}}>
  <form novalidate class="mdl-search_page__form" data-search_page="form">
    {{> "atoms/form_input/form_input" input}}
  </form>
  <div class="mdl-search_page__results-wrapper">
    <div class="mdl-search_page__results-head" data-search_page="resultsHead">

    </div>
    <div class="mdl-search_page__results">

    </div>
  </div>

  {{> "modules/pagination/pagination"}}

  <script type="text/x-handlebars-template" data-search_page="resultsHeadTemplate">
    <div>
      <span class="mdl-search_page__counter"><%- numberOfResults %> Ergebnisse</span>
      <ul class="mdl-search_page--tag-group mdl-tag-group__tags">
        <li>
          <div class="atm-radiobutton atm-radiobutton--tag">
            <input id="search_filter_all" type="radio" value="all" name="search_filter" checked>
            <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_all">
              Alle
            </label>
          </div>
        </li>
        <% _.forEach(resultsByType, function(type, index) { %>
          <li>
            <div class="atm-radiobutton atm-radiobutton--tag">
              <input id="search_filter_<%- index %>" type="radio" value="<% type.type %>" name="search_filter">
              <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_<%- index %>">
                <%- type.typeLabel %> (<%- type.numberOfResults %>)
              </label>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </script>
</div>
