<div class="mdl-search_page" data-init="searchPage" {{#if options}}data-search-page-options="{{options}}"{{/if}} data-search-no-results="Keine Ergebnisse zu «<%- searchTerm %>» gefunden.">
  <form novalidate class="mdl-search_page__form" data-search_page="form">
    {{> "atoms/form_input/form_input" input}}
  </form>

  {{> "modules/content_nav/content_nav" contentNav}}

  <div class="mdl-search_page__results-wrapper" data-search_page="wrapper" aria-live="polite">
    <div class="mdl-search_page__results-head" data-search_page="resultsHead">
    </div>
    <div class="mdl-search_page__notification hidden">
      {{> "modules/notification/notification" notificationData }}
    </div>
    <form novalidate="true" data-search_page="dateFilter" class="mdl-search_page__date-filter">
      {{> "modules/datepicker/datepicker" datepicker}}
    </form>
    <div class="mdl-search_page__no-results">
      <h2 class="atm-heading">Keine Resultate</h2>
      {{>"atoms/button/button" resetButton }}
    </div>

    <h2 class="visuallyhidden">Gefundene Resultate:</h2>
    <div class="mdl-search_page__results" data-search_page="results">
    </div>
    {{> "atoms/loading_circle/loading_circle"}}
    {{> "modules/pagination/pagination"}}
  </div>

  <script type="text/x-handlebars-template" data-search_page="resultsHeadTemplate">
    <div>
      <h2 class="mdl-search_page__counter"><%- numberOfResults %> Ergebnisse<span class="mdl-search_page__autocorrect" data-search_page="autocorrect"> für <a data-search_page="force" href="?q=<%- autocorrectedTerm %>" class="atm-text_link" tabindex="0" role="button"><%- autocorrectedTerm %></a>. Stattdessen suchen nach <a class="atm-text_link"  data-search_page="force" role="button" data-search_page="force" tabindex="0" href="?q=<%- originalTerm %>"><%- originalTerm %></a></span></h2>
      <ul class="mdl-search_page__tag-group mdl-tag-group__tags">
        <li>
          <div class="atm-radiobutton atm-radiobutton--tag">
            <input id="search_filter_all" type="radio" value="all" name="search_filter" checked>
            <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_all">
              Alle
            </label>
          </div>
        </li>
        <% _.forEach(resultsByType, function(type, index) { %>
          <li>
            <div class="atm-radiobutton atm-radiobutton--tag">
              <input id="search_filter_<%- index %>" type="radio" value="<%- type.type %>" name="search_filter">
              <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_<%- index %>">
                <%- type.typeLabel %> (<%- type.numberOfResults %>)
              </label>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </script>

  <script type="text/x-handlebars-template" data-search_page="resultsTemplate">
    <ul class="mdl-search_page__list">
      <% _.forEach(results, function(item, index) { %>
        <li class="atm-search_result_item" <% if(item.type === 'service') { %>data-init="servicelist"<% } %>>
          <% if (item.type === 'service') { %>
            <a href="<%- item.link %>" class="mdl-service_list__item"
              data-url="<%- item.link %>" aria-controls="modal_search-result_<%- index %>" role="button"
            >
              <div class="mdl-service_list__item-container">
                <p class="atm-heading mdl-service_list__item-title"><%= item.title %></p>
                <p class="atm-paragraph mdl-service_list__item-text" data-lineclamp="true"><%= item.teaserText %></p>
              </div>
              <span class="mdl-service_list__item-button atm-button atm-button--small" aria-hidden="true">
                <span class="atm-button__text">
                  Start
                </span>
              </span>
            </a>
            <div id="modal_search-result_<%- index %>" class="mdl-modal" data-init="modal"></div>
          <% } else if (item.type === 'document') { %>
            <a class="atm-linklist_item atm-linklist_item--download atm-linklist_item--legalfoundation" href="<%- item.link %>" download>
              <span class="atm-linklist_item__text">
                <span><%= item.title %></span>
                <span class="atm-linklist_item__label"><%= item.teaserText %></span>
              </span>
              <span class="atm-linklist_item__download-button">
                <svg class="icon" focusable="false">
                  <use xlink:href="#download"></use>
                </svg>
                <span>Download</span>
              </span>
            </a>
          <% } else { %>
            <a class="atm-search_result_item__content" href="<%- item.link %>">
              <h4 class="atm-heading"><%= item.title %></h4>
              <p><%= item.teaserText %></p>
            </a>
          <% } %>
          <span class="atm-search_result_item__meta">
            <% if (item.typeLabel) { %>
            <span>
              <%- item.typeLabel %>
            </span>
            <% } %>
            <% if (item.breadcrumb) { %>
              <span>
                <%- item.breadcrumb %>
              </span>
            <% } %>
            <% if (item.date) { %>
              <span>
                <%- item.date %>
              </span>
            <% } %>
          </span>
        </li>
      <% }); %>
    </ul>
  </script>

  <script data-search_page="autosuggestTemplate" type="text/x-handlebars-template">
    {{{ autosuggestTemplate }}}
  </script>
</div>
