{{#extend "preview/layouts/layout"}}
  {{#content "header"}}
    {{> "modules/page_header/page_header" wrappingElements.pageHeaderData}}
  {{/content}}
  {{#content "content"}}
    <div class="lyt-wrapper cv-blue" id="footer">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
          <h2 class="atm-heading atm-heading--bordered">{{meta.title}}</h2>
        </div>
      </div>
    </div>
    <section class="sg_inner_wrapper">
      <h2 class="sg_h2">Code</h2>

    {{#if code.handlebars}}
        <h3 class="sg_h3">Handlebars Template</h3>
        <pre class="sg_code hljs">{{{code.handlebars.content }}}</pre>
        <h3 class="sg_h3">HTML (DEV)</h3>
        <pre class="sg_code hljs">{{{code.html}}}</pre>
        <h3 class="sg_h3">HTML (PROD)</h3>
        <pre class="sg_code hljs">{{{code.html_prod}}}</pre>
    {{/if}}
  {{/content}}
{{/extend}}
