h1,
h2,
h3,
h4,
h5,
h6,
.a-heading {
  line-height: $sizeLineHeightNarrow;
  margin: 0 0 0.6em;

  @include mq($from: medium) {
    line-height: $sizeLineHeightNarrower;
    margin-bottom: 0.5em;
  }
}

h1,
.a-heading.a-heading--level1 {
  @include sizeCurve(font-size, huge, $fontSizeCurves);
}

h2,
.a-heading.a-heading--level2 {
  @include sizeCurve(font-size, big, $fontSizeCurves);
}

h3,
.a-heading.a-heading--level3 {
  @include sizeCurve(font-size, medium, $fontSizeCurves);
}

h4,
h5,
h6,
.a-heading.a-heading--level4 {
  @include sizeCurve(font-size, regular, $fontSizeCurves);
}
