.atm-heading {
  line-height: $sizeLineHeightNarrow;
  margin: 0 0 0.6em;

  @include mq($from: medium) {
    line-height: $sizeLineHeightNarrower;
    margin-bottom: 0.5em;
  }

  &--inverted {
    color: #fff;
  }
}

h1 {
  &.atm-heading {
    @include sizeCurve(font-size, huge, $fontSizeCurves);
  }
}

h2 {
  &.atm-heading {
    @include sizeCurve(font-size, big, $fontSizeCurves);
  }
}

h3 {
  &.atm-heading {
    @include sizeCurve(font-size, medium, $fontSizeCurves);
  }
}

h4,
h5,
h6 {
  &.atm-heading {
    @include sizeCurve(font-size, regular, $fontSizeCurves);
  }
}

