h1,
h2,
h3,
h4,
h5,
h6,
.a-heading {
  line-height: $sizeLineHeightNarrow;
  margin: 0 0 0.6em;

  @include mq($from: medium) {
    line-height: $sizeLineHeightNarrower;
    margin-bottom: 0.5em;
  }
}

h1,
.a-heading.a-heading--level1 {
  $map: (
    $sizeBreakpointTiny: $sizeFontSmallBig,
    $sizeBreakpointXSmall: $sizeFontBig,
    $sizeBreakpointSmall: $sizeFontBiggerBig,
    $sizeBreakpointMedium: $sizeFontSmallHuge,
    $sizeBreakpointLarge: $sizeFontHuge,
    $sizeBreakpointXLarge: $sizeFontGiant
  );

  @include poly-fluid-sizing('font-size', $map);
}

h2,
.a-heading.a-heading--level2 {
  $map: (
    $sizeBreakpointXSmall: $sizeFontLarge,
    $sizeBreakpointSmall: $sizeFontSmallBig,
    $sizeBreakpointMedium: $sizeFontBig,
    $sizeBreakpointLarge: $sizeFontBiggerBig,
    $sizeBreakpointXLarge: $sizeFontSmallHuge
  );

  @include poly-fluid-sizing('font-size', $map);
}

h3,
.a-heading.a-heading--level3 {
  $map: (
    $sizeBreakpointTiny: $sizeFontBiggerRegular,
    $sizeBreakpointXSmall: $sizeFontMedium,
    $sizeBreakpointLarge: $sizeFontLarge,
    $sizeBreakpointXLarge: $sizeFontSmallBig
  );

  @include poly-fluid-sizing('font-size', $map);
}

h4,
h5,
h6,
.a-heading.a-heading--level4 {
  $map: (
    $sizeBreakpointTiny: $sizeFontRegular,
    $sizeBreakpointXSmall: $sizeFontBiggerRegular,
    $sizeBreakpointXLarge: $sizeFontMedium
  );

  @include poly-fluid-sizing('font-size', $map);
}
