<a class="atm-content_teaser" href={{target}}>
  <span class="atm-content_teaser__content" data-lineclamp="true">
    <span class="atm-content_teaser__title">
      {{ shortTitle }}
    </span>
    {{ buzzwords }}
  </span>
</a>
