<a class="atm-content_teaser {{#if isPromotopic}}atm-content_teaser--promo{{/if}}{{#if isTagged}} atm-content_teaser--tagged{{/if}}"
  href={{target}}>
  <span class="atm-content_teaser__content">
    <span class="atm-content_teaser__title">
      <span class="visuallyhidden">Kategorie: </span>
      {{ shortTitle }}
      <br class="visuallyhidden">
    </span>
    {{{ buzzwords }}}
  </span>
</a>
