$maxTextLinesSmall: 6;
$maxTextLinesDefault: 4;
$textLineRoundTolerance: 5px;

.mdl-teaser {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  & + .mdl-teaser {
    margin-top: $sizeHuge;
  }

  &__content {
    padding: $sizeBig;
    display: flex;
    flex-direction: column;
  }

  &__title,
  &__date,
  &__description,
  &__description + div {
    min-width: 100%;
  }

  &__date {
    order: 1;
    font-weight: 900;
    font-size: $sizeFontTiny;
    color: rgba($colorBlack, 0.6);
  }

  .atm-heading {
    order: 2;
    color: $colorBlack100;
    margin: 4px 0 $sizeTiny;
    padding-top: 0;
    word-break: break-word;

    $titleHeightCurveSmall: (
      tiny: $sizeFontLarge * $sizeLineHeightMedium * $maxTextLinesSmall ,
      small: $sizeFontSmallBig * $sizeLineHeightBase * $maxTextLinesSmall,
      medium: $sizeFontBig * $sizeLineHeightBase * $maxTextLinesDefault ,
      large: $sizeFontBiggerBig * $sizeLineHeightBase * $maxTextLinesDefault + $textLineRoundTolerance,
      xlarge: $sizeFontSmallHuge * $maxTextLinesDefault + ($sizeFontSmallHuge * 0.08) + $textLineRoundTolerance,
    );

    $titleHeightCurveLarge: (
      small: $sizeFontSmallBig * $sizeLineHeightMedium * $maxTextLinesDefault,
      medium: $sizeFontBig * $sizeLineHeightMedium * $maxTextLinesDefault ,
      large: $sizeFontBiggerBig * $sizeLineHeightBase * $maxTextLinesDefault + $textLineRoundTolerance,
      xlarge: $sizeFontSmallHuge * $maxTextLinesDefault + ($sizeFontSmallHuge * 0.08) + $textLineRoundTolerance,
    );

    @include mq($from: tiny, $to: small) {
      @include polyFluidSizing('max-height', $titleHeightCurveSmall);
    }
    @include mq($from: small) {
      @include polyFluidSizing('max-height', $titleHeightCurveLarge);
    }
  }

  &__description {
    order: 3;
    color: $colorBlack60;
    margin: 0;

    $descripionHeightCurve: (
      small: ($sizeFontRegular * $sizeLineHeightBase * $maxTextLinesDefault) + $textLineRoundTolerance,
      xlarge: ($sizeFontBiggerRegular * $sizeLineHeightBase * $maxTextLinesDefault) + $textLineRoundTolerance,
    );

    @include mq($from: tiny, $to: xsmall) {
      max-height: ($sizeFontSmall * $sizeLineHeightBase * $maxTextLinesSmall) + $textLineRoundTolerance;
    }
    @include mq($from: xsmall, $to: small) {
      max-height: ($sizeFontRegular * $sizeLineHeightBase * $maxTextLinesSmall) + $textLineRoundTolerance;
    }
    @include mq($from: small) {
      @include polyFluidSizing('max-height', $descripionHeightCurve);
    }
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, small));

    overflow: hidden;
  }

  &__description + div {
    order: 4;
  }

  .atm-button {
    margin-top: $sizeRegular;
    display: inline-flex;
    height: 2rem;

    span {
      font-size: $sizeFontSmall;
    }
  }

  &--inverted {

    .mdl-teaser__content {
      background-color: $colorBlack100;
    }

    time,
    .mdl-teaser__title,
    .mdl-teaser__description {
      color: $colorWhite;
    }
  }

  /*
  * OVERWRITES
   */
  .mdl-image-figure {
    margin-bottom: 0;
  }

  .mdl-image-figure__caption {
    @include visuallyhidden();
  }

  .mdl-image-figure__img-wrapper {
    margin-bottom: 0;
  }

  @include mq($from: xsmall) {
    margin: 0 auto;

    &__wrapper {
      @include gridBleed();
    }

    .atm-heading {
      margin: 4px 0 $sizeRegular;
    }
  }
  @include mq($from: large) {
    flex-direction: row;

    & + .mdl-teaser {
      margin-top: $sizeGiant;
    }

    &__content,
    &__image {
      flex-basis: 50%;
      flex-grow: 1;
      position: relative;
    }

    &--left {
      flex-direction: row-reverse;
    }

    &--noImage {
      max-width: 622px;
    }

    .atm-heading {
      margin: 4px 0 $sizeSmallLarge;
    }

    .atm-button {
      margin-top: $sizeLarge;
    }

    &__content {
      padding: $sizeBiggerBig;
      display: flex;
      flex-direction: column;
    }

    &__title + div:not(.mdl-teaser__description),
    &__description + div {
      margin-top: auto;
    }

    &__image {
      overflow: hidden;
      padding-top: calc(50% / 1.3333);

      figure {
        img {
          height: calc(100% / 1.3333);
          min-height: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  @include mq($from: xlarge) {
    .atm-heading {
      margin: 4px 0 $sizeLarge;
    }

    &__content {
      padding: $sizeHuge;
    }

    &--noImage {
      max-width: 770px;
    }
  }
}


/*
  * COLOR VARIATIONS
   */
@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-teaser {
      background-color: $colorWhite;
    }

    .mdl-teaser__title {
      color: #{$val};
    }

    .mdl-teaser--inverted .mdl-teaser__content {
      background-color: #{$val};

      time,
      .mdl-teaser__title {
        color: $colorWhite;
      }
    }
  }
}
