$teaserMargins: (
  marginBottom: (
    tiny: pxToRem($sizeBiggerBig),
    large: pxToRem($sizeHuge),
  ),
);

.mdl-teaser {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  @include sizeCurve('margin-bottom', marginBottom, $teaserMargins);

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: pxToRem(-$sizeTiny);
    left: pxToRem(-$sizeTiny);
    width: calc(100% + #{$sizeRegular});
    height: calc(100% + #{$sizeRegular});
    background-color: $colorBlack10;
  }

  // HOVER OVER ITEMS
  &:hover {
    z-index: $zIndexInner;

    &:before {
      background-color: $colorBorderFrameHover;
    }

    .atm-heading,
    time,
    p {
      color: var(--color-text);
    }
  }

  &--with-margins {
    @include sizeCurve('margin-block', big);
  }

  &--article {
    margin-bottom: 0;

    // News Teaser Overwrites
    & + .mdl-news-teaser {
      padding-top: 0;
      padding-bottom: 0;
      background-color: var(--color-bg);
      transform: translateX(-50%);
    }
  }

  &__title.atm-heading {
    line-height: $sizeLineHeightNarrow;

    @include sizeCurve('margin-bottom', regular);
    @include polyFluidSizing(font-size, map-get($fontSizeCurves, big));
    @include mq($to: small) {
      line-height: $sizeLineHeightMedium;
    }
    @include mq($from: xlarge) {
      line-height: $sizeLineHeightNarrower;
    }
  }

  &__title--smaller.atm-heading {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, medium));
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);

    @include sizeCurve('padding', smallerLarge);

    div:last-of-type {
      order: 3;
    }
  }

  &__content,
  &__image {
    position: relative;
    z-index: $zIndexInner;
  }

  &__title,
  &__date,
  &__description,
  &__description + div {
    min-width: 100%;
  }

  &__date,
  &__label {
    order: 1;
    font-family: $fontFamilyBlack;
    font-size: pxToRem($sizeFontTiny);
    color: var(--color-text-soft);
    margin: pxToRem($sizeMini) 0;
    word-break: break-all;

    time {
      font-family: $fontFamilyBase;
      margin-left: pxToRem($sizeMini);
    }
  }

  .atm-heading {
    order: 2;
    color: var(--color-accent);
    padding-top: 0;
    word-break: break-word;

    @include lineClamp(6);
    @include mq($from: large) {
      @include lineClamp(4);
    }
  }

  &__description {
    order: 3;
    color: var(--color-text-soft);
    margin: 0;
    hyphens: auto;
    line-height: $sizeLineHeightBase;
    overflow: hidden;

    @include lineClamp(6);
    @include mq($from: large) {
      @include lineClamp(4);
    }
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, smallModFontSizeH5H6));
    @include sizeCurve('margin-bottom', regular);
  }

  &__description + div {
    order: 4;
  }

  .atm-button {
    display: inline-flex;
    height: 2rem;

    span {
      font-size: pxToRem($sizeFontSmall);
    }
  }

  &__icon-easy-language {
    width: 1rem;
    height: 1rem;
    margin-right: $sizeTiny;
  }

  &--inverted {
    &:before {
      display: none;
    }

    .atm-heading,
    time,
    p {
      color: var(--color-accent-soft);
    }

    &:hover {
      .atm-heading,
      time,
      p {
        color: var(--color-bg);
      }
    }

    .mdl-teaser__content {
      background-color: var(--color-accent);
    }

    .mdl-teaser__label,
    .mdl-teaser__date,
    .mdl-teaser__description {
      color: var(--color-accent-soft);
    }

    .mdl-teaser__title {
      color: var(--color-bg);
    }
  }

  /*
  * OVERWRITES
   */
  .mdl-image-figure {
    margin-bottom: 0;
  }

  .mdl-image-figure__img-wrapper {
    margin-bottom: 0;
  }

  @include mq($from: tiny) {
    &__wrapper {
      @include gridBleed($fullwidth: true);
    }
  }
  @include mq($from: large) {
    flex-direction: row;

    &__wrapper + .mdl-teaser__wrapper {
      margin-top: pxToRem($sizeGiant);
    }

    &__content,
    &__image {
      flex-basis: 50%;
      flex-grow: 1;
    }

    &--left {
      flex-direction: row-reverse;
    }

    &--noImage {
      max-width: pxToRem(622px);

      .mdl-teaser__content {
        max-width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      max-width: 50%;
    }

    &__image {
      overflow: hidden;
      padding-top: calc(50% / 1.3333);

      figure {
        img {
          height: calc(100% / 1.3333);
          min-height: 100%;
          width: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  @include mq($from: xlarge) {
    &--noImage {
      max-width: pxToRem(770px);
    }
  }
}
