{{#extend "layouts/layout"}}
  {{#content "header"}}
    <header>
      {{> "modules/page_header/page_header" props.modules.pageHeaderData.variants.colorPeopleTeaser.props}}
    </header>
  {{/content}}

  {{#content "content"}}
    {{> "modules/anchornav/anchornav" props.modules.anchorNav }}
    {{> "modules/related_content/related_content" props.modules.relatedContentData}}
    {{> "modules/focus_teaser/focus_teaser" props.modules.focusTeaserData}}
    {{> "modules/about/about" props.modules.about }}
    {{> "modules/news_teaser/news_teaser" props.modules.newsTeaserData }}
    {{> "modules/contact/contact" props.modules.contactData}}
  {{/content}}
  {{#content "footer"}}
    <footer id="contentinfo" style="height: 293px">
      <h1>Fussbereich  </h1>
    </footer>
  {{/content}}
{{/extend}}
