.mdl-teaser_set {
  @include gridBleed($fullwidth: true);
  padding-top: pxToRem($sizeBig);
  padding-bottom: pxToRem($sizeBig);
  background-color: $colorBg;

  .grid-x {
    @include sizeCurve(gap, medium, $sizeCurves);
  }

  &--more-info {
    margin-top: 0;
  }

  &__header {
    display: flex;

    @include sizeCurve(gap, columnGap, $sizeCurves);
    position: relative;
    justify-content: space-between;

    // Overwrite heading atom style
    .atm-heading {
      margin-top: pxToRem($sizeBig);
    }

    @include mq($to: small) {
      flex-wrap: wrap;
    }

    .atm-text_link {
      display: flex;
      flex-shrink: 0;
      font-size: pxToRem($sizeFontRegular);
      line-height: $sizeLineHeightSuper;
      align-items: flex-end;
    }
  }

  &__list {
    @include resetList();
    display: flex;
    flex-flow: row wrap;
    padding-top: pxToRem($sizeTiny);
    padding-left: pxToRem($sizeTiny);
    width: 100%;
  }

  &__item {
    position: relative;
    background-color: $colorBlack10;
    margin-right: pxToRem($sizeTiny);
    margin-bottom: pxToRem($sizeTiny);
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: pxToRem(-$sizeTiny);
      left: pxToRem(-$sizeTiny);
      width: calc(100% + #{$sizeRegular});
      height: calc(100% + #{$sizeRegular});
      background-color: $colorBlack10;
    }

    // HOVER OVER ITEMS
    &:hover {
      z-index: $zIndexInner;

      &:before {
        background-color: $colorBorderFrameHover;
      }

      // Overwrite statistics teaser
      .atm-heading,
      time,
      p {
        color: $colorBlack;
      }
    }
  }

  /*
  * MEDIA QUERIES
  */
  @include mq($from: small, $media: screen) {
    &--more-info {
      padding-top: 0;
      padding-bottom: pxToRem($sizeBiggerBig);
    }

    &__header {
      .atm-heading {
        margin-top: pxToRem($sizeBiggerBig);
      }
    }

    &__item {
      flex-basis: calc(50% - #{$sizeTiny});
      max-width: calc(50% - #{$sizeTiny});
    }
    // Single item style
    .medium-6 ul {
      .mdl-teaser_set__item {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  @include mq($from: medium) {
    padding-top: pxToRem($sizeBiggerBig);
    padding-bottom: pxToRem($sizeBiggerBig);

    &--more-info {
      padding-top: 0;
      padding-bottom: pxToRem($sizeGiant);

      .mdl-teaser_set__header {
        .atm-heading {
          margin-top: pxToRem($sizeGiant);
        }
      }
    }

    // Single item style
    .medium-6 ul {
      max-width: 50%;
    }
    // Two item style
    .large-8 .mdl-teaser_set__item {
      flex-basis: calc(50% - #{$sizeTiny});
      max-width: calc(50% - #{$sizeTiny});
    }

    &__item {
      flex-basis: calc(33.33% - #{$sizeTiny});
      max-width: calc(33.33% - #{$sizeTiny});
    }
  }
}

// should not be affected by .mod-smaller-headings
.mod-smaller-headings .mdl-teaser_set .atm-heading.atm-heading--bordered {
  @include h2__atm-heading;
  @include mq($from: tiny) {
    margin-bottom: 0;
  }
}
