.mdl-iframe {
  @include gridBleed($fullwidth: true);
  color: $colorBlack60;
  margin-top: pxToRem($sizeHuge);
  margin-bottom: pxToRem($sizeHuge);

  iframe {
    width: 100%;
    border: 2px solid $colorBlack10;
    margin-bottom: $sizeTiny;
  }

  a {
    color: inherit;
  }

  @include mq($from: xlarge) {
    margin-top: pxToRem($sizeGiant);
    margin-bottom: pxToRem($sizeGiant);
  }
}
