<div class="mdl-social-media-links" data-init="socialMediaLinks">
  {{#if socialMediaLinksHeading}}
    <h{{socialMediaLinksHeading.level}} class="atm-heading">{{socialMediaLinksHeading.title}}</h{{socialMediaLinksHeading.level}}>
  {{/if}}

  <ul>
    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
          <span class="atm-button__text visuallyhidden">
            Auf Facebook teilen
          </span>
        <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99576 7.846H6.5V11.949H8.99576V24H13.7946V11.898H17.1435L17.5 7.846H13.7946V5.539C13.7946 4.584 13.9853 4.205 14.9029 4.205H17.499V0H14.176C10.6046 0 8.99476 1.584 8.99476 4.615V7.846H8.99576Z" />
        </svg>
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf Twitter teilen
          </span>
        <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M23.998 4.74933C23.115 5.1312 22.166 5.38936 21.17 5.50431C22.187 4.91104 22.968 3.97098 23.335 2.8507C22.384 3.40012 21.33 3.79953 20.209 4.01482C19.311 3.08255 18.031 2.5 16.615 2.5C13.437 2.5 11.101 5.38936 11.819 8.38977C7.727 8.18909 4.098 6.28071 1.67 3.37772C0.38 5.53256 1.001 8.3547 3.194 9.78184C2.387 9.75748 1.628 9.54122 0.964 9.18176C0.911 11.4038 2.546 13.4807 4.913 13.9454C4.22 14.1285 3.461 14.1704 2.689 14.0272C3.316 15.9327 5.134 17.3199 7.289 17.3588C5.219 18.9389 2.612 19.6452 0 19.3452C2.179 20.7051 4.767 21.5 7.548 21.5C16.69 21.5 21.855 13.9775 21.543 7.23149C22.505 6.55542 23.34 5.70985 24 4.74836L23.998 4.74933Z" />
        </svg>
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf LinkIn teilen
          </span>
        <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.85944 2.952C5.85944 4.583 4.54789 5.904 2.92922 5.904C1.31055 5.904 0 4.583 0 2.952C0 1.322 1.31155 0 2.92922 0C4.54689 0 5.85944 1.322 5.85944 2.952ZM0.477194 24H5.43126V8H0.477194V24ZM13.3516 8.00001H8.59959V24H13.3516V15.601C13.3516 13.351 14.387 12.012 16.3708 12.012C18.1926 12.012 19.069 13.298 19.069 15.601V24H24V13.869C24 9.58301 21.571 7.51201 18.1766 7.51201C14.7812 7.51201 13.3516 10.155 13.3516 10.155V8.00001Z" />
        </svg>
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf YouTube teilen
          </span>
        <svg width="24" height="24" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M9.52161 15.1351L9.52061 8.34418L16.0043 11.7522L9.52061 15.1351H9.52161ZM23.759 7.16789C23.759 7.16789 23.525 5.50213 22.8041 4.76896C21.8921 3.80616 20.8691 3.80113 20.4002 3.74473C17.0413 3.5 12.0045 3.5 12.0045 3.5H11.9935C11.9935 3.5 6.95671 3.5 3.59785 3.74473C3.12887 3.80113 2.10691 3.80515 1.19395 4.76896C0.47398 5.50314 0.23999 7.16789 0.23999 7.16789C0.23999 7.16789 0 9.1237 0 11.0795V12.9134C0 14.8693 0.23999 16.8261 0.23999 16.8261C0.23999 16.8261 0.47398 18.4908 1.19395 19.226C2.10691 20.1888 3.30586 20.1576 3.83984 20.2573C5.75976 20.4436 11.9995 20.5 11.9995 20.5C11.9995 20.5 17.0423 20.4919 20.4011 20.2482C20.8711 20.1918 21.8931 20.1878 22.805 19.225C23.526 18.4898 23.76 16.8251 23.76 16.8251C23.76 16.8251 24 14.8693 24 12.9124V11.0785C24 9.12269 23.76 7.16688 23.76 7.16688L23.759 7.16789Z" />
        </svg>
      </a>
    </li>
  </ul>
</div>


