<div class="mdl-social-media-links" data-init="socialMediaLinks">
  {{#if socialMediaLinksHeading}}
    <h{{socialMediaLinksHeading.level}} class="atm-heading">{{socialMediaLinksHeading.title}}</h{{socialMediaLinksHeading.level}}>
  {{/if}}

  <ul>
    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
          <span class="atm-button__text visuallyhidden">
            Auf Facebook teilen
          </span>
        <img src="../../assets/media/image/facebook.svg" alt="Facebook Icon">
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf Twitter teilen
          </span>
        <img src="../../assets/media/image/twitter.svg" alt="Twitter Icon">
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf LinkIn teilen
          </span>
        <img src="../../assets/media/image/linkedIn.svg" alt="LinkIn Icon">
      </a>
    </li>

    <li class="mdl-social-media-links__item">
      <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
        <span class="atm-button__text visuallyhidden">
            Auf YouTube teilen
          </span>
        <img src="../../assets/media/image/youtube.svg" alt="Youtube Icon">
      </a>
    </li>
  </ul>
</div>


