<div class="mdl-pagination" data-init="pagination" data-pagecount="{{pageCount}}" data-currentpage="1">
  <div class="mdl-pagination__input atm-form_input atm-form_input--small">
    <input class="atm-form_input__input" value="1" type="number">
  </div>
  <div class="mdl-pagination__page-count">
    von <span>{{pageCount}}</span>
  </div>
  <button class="mdl-pagination__button-prev atm-button atm-button--icon-only atm-button--secondary">
    <span class="atm-button__text visuallyhidden">
      Vorherige
    </span>
    <svg class="icon atm-button__icon">
      <use xlink:href="#angle_left"></use>
    </svg>
  </button>
  <button class="mdl-pagination__button-next atm-button atm-button--icon-only atm-button--secondary">
    <span class="atm-button__text visuallyhidden">
      Nächste
    </span>
    <svg class="icon atm-button__icon">
      <use xlink:href="#angle_right"></use>
    </svg>
  </button>
</div>
