<div class="mdl-organisation_teaser" data-init="organisationTeaser">
  <h3 class="atm-heading">{{orgTitle}}</h3>
  <p class="atm-paragraph">{{orgLead}} <a class="atm-text_link" href="{{url}}">{{moreLabel}}</a></p>
</div>
