$contactMapHeightSmall: 395px;
$contactMapHeightMedium: 302px;
$contactMapHeightLarge: 500px;
$colorWhite70: rgba($colorWhite, 0.7);
$contactMapHeightCurve: (
  default: (
    tiny: $contactMapHeightSmall,
    small: $contactMapHeightMedium,
    medium: $contactMapHeightMedium,
    large: $contactMapHeightLarge,
    xlarge: $contactMapHeightLarge,
  ),
  makespace: (
    tiny: $contactMapHeightSmall - $sizeHuge + $sizeSmallRegular,
    small: $contactMapHeightMedium - $sizeHuge + $sizeBig,
    medium: $contactMapHeightMedium - $sizeHuge + $sizeBig,
    large: $contactMapHeightLarge - $sizeHuge + $sizeBig,
    xlarge: $contactMapHeightLarge,
  ),
  leadBottomSpace: (
    tiny: $sizeBig,
    medium: $sizeLarge,
    xlarge: $sizeBig,
  ),
  subTitleBottom: (
    tiny: $sizeSmallRegular,
    xsmall: $sizeSmallRegular,
    small: $sizeRegular,
    medium: $sizeSmallLarge,
    large: $sizeLarge,
    xlarge: $sizeSmallBig,
  ),
);

.mdl-contact {
  background-color: $colorViolet;
  color: $colorWhite;
  padding: pxToRem($sizeLarge) pxToRem($sizeSmallRegular);

  @include sizeCurve(margin-bottom, big);

  &--fullwidth {
    @include gridBleed($fullwidth: true);

    padding: $sizeHuge 0;
    margin-bottom: 0;
  }

  &--with-map {
    @include sizeCurve(margin-bottom, makespace, $contactMapHeightCurve);
  }

  .atm-heading.atm-heading--bordered {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, big));
    line-height: $sizeLineHeightMedium;
    margin-bottom: pxToRem($sizeLarge);
    padding-top: pxToRem($sizeSmallRegular);

    &:before {
      background: $colorWhite;
    }

    @include mq($from: xlarge) {
      padding-top: pxToRem($sizeRegular);
      margin-bottom: pxToRem($sizeBiggerBig);
    }
  }

  h2.atm-heading--bordered {
    margin-top: 0;
  }

  &__subtitle {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, medium));
    line-height: $sizeLineHeightMedium;
    font-family: $fontFamilyBlack;
    margin-bottom: $sizeTiny;
    margin-top: 0;

    a {
      margin-bottom: pxToRem($sizeTiny);
    }
  }

  &:not(.mdl-contact--location):not(.mdl-contact--fullwidth):not(.mdl-contact--with-map) {
    .mdl-contact__subtitle {
      margin-bottom: pxToRem($sizeSmallLarge);
    }
  }

  &__subtitle a,
  &__subtitle + a,
  &__subtitle-link,
  &__lead a {
    display: inline-flex;
    position: relative;
    color: $colorWhite;
    font-size: $sizeFontRegular;
    font-family: $fontFamilyBase;
    line-height: $sizeLineHeightBase;
    padding-right: pxToRem(27px); //stylelint-disable-line
    text-decoration: none;
    margin-bottom: pxToRem($sizeSmallRegular);

    svg {

      use {
        fill: $colorWhite;
      }
    }

    &:hover {
      color: $colorWhite70;

      svg {
        use {
          fill: $colorWhite70;
        }
      }
    }
  }

  &__subtitle a,
  &__lead a {
    @include mq($from: tiny, $to: large) {
      display: block;
    }
  }

  &__subtitle-link .icon {
    margin-left: $sizeTiny;
  }

  &__infotext {
    margin-top: 0;
    margin-bottom: $sizeMini;
  }

  &__section {
    display: flex;
    flex-flow: row wrap;
  }

  &__section-cell {
    position: relative;
    width: 100%;

    & + .mdl-contact__section-cell {
      margin-top: pxToRem($sizeRegular);
    }
  }

  &__section-cell--media {
    margin-top: calc(#{$sizeBiggerBig} + #{$sizeLarge});
    max-height: pxToRem($sizeHuge);
    transition: max-height 200ms ease-out 100ms;
    padding-bottom: pxToRem($sizeBig);

    .mdl-contact__media-trigger {
      position: absolute;
      left: 0;
      bottom: - pxToRem($sizeRegular);
      z-index: $zIndexDropDowns;
      padding-left: 0;
      color: $colorWhite;
      margin-bottom: 0;

      span:last-of-type {
        display: none;
      }

      svg {
        position: absolute;
        top: 42%;
        transition: transform 200ms ease-out 100ms;
        transform: translateY(-40%) scale(0.57) rotate(0deg);
        right: 0;
      }
    }

    .mdl-contact__cell-content {
      transition: opacity 200ms ease-out 100ms;
      opacity: 0;
      padding-left: 0;
    }

    .mdl-contact__text {
      margin-top: pxToRem($sizeSmallRegular);

      a:not(.atm-button) {
        text-decoration: none;
        border-bottom: 1px solid $colorWhite;

        &:hover {
          border-color: $colorWhite70;
        }
      }

      .atm-button {
        margin-top: pxToRem($sizeLarge);
      }
    }

    &.open {
      max-height: 1000px;

      .mdl-contact__media-trigger {
        span:first-of-type {
          display: none;
        }

        span:last-of-type {
          display: inline;
        }

        svg {
          transform: translateY(-40%) scale(0.6563) rotate(45deg);
        }
      }

      .mdl-contact__cell-content {
        opacity: 1;
      }
    }
  }

  // Social media share section
  &__section-cell--social-media {
    margin-top: pxToRem($sizeLarge);
  }

  // White seperation lines
  &__section-cell--sperator-top:before,
  &__section-cell--social-media:before {
    content: '';
    height: pxToRem(1px);
    display: block;
    position: absolute;

    background: $colorWhite;
    width: 100vw;
    left: 0;
  }

  &__section-cell--social-media:before {
    top: 0;
  }

  &__section-cell--sperator-top:before {
    top: -12px;
  }

  &__section-cell--sperator-top {
    margin-top: pxToRem($sizeLarge);

    .mdl-contact__media-trigger {
      bottom: -4px;
    }
  }

  &__cell-icon {
    display: inline-flex;
    width: pxToRem($sizeBig);
    height: pxToRem($sizeBig);
    border-radius: 50%;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
    }
  }

  &__cell-icon {
    background-color: $colorWhite;
    position: absolute;
    top: 0;
    left: 0;

    svg {
      transform: translate(-50%, -50%) scale(0.8);
    }
  }

  &__cell-content {
    hyphens: auto;
    padding-left: calc(#{$sizeSmallRegular} + #{$sizeBiggerBig});

    > *:last-of-type {
      margin-bottom: 0;
    }
  }

  &__address {
    font-style: normal;
  }

  &__text {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, small));
    margin-top: pxToRem($sizeMini);
    hyphens: auto;

    ul {
      @include resetList();
    }

    p,
    a,
    h4,
    ul,
    li {
      font-size: inherit;
      line-height: $sizeLineHeightBigger;
      margin: 0;
    }

    p,
    ul {
      margin-bottom: pxToRem($sizeTiny);
    }

    a {
      color: $colorWhite;
      border-color: $colorWhite;

      &:hover {
        color: $colorWhite70;
        border-color: $colorWhite70;
      }
    }
  }

  &__address,
  &__show-route,
  &__phone,
  &__mail {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
    font-family: $fontFamilyBlack;
    line-height: $sizeLineHeightBase;
  }

  &:not(.mdl-contact--location) {
    .mdl-contact {
      &__show-route {
        display: inline-block;
        margin-top: calc((#{$sizeFontRegular} * #{$sizeLineHeightBase}) / 2);
      }

      &__copy-button,
      &__show-route,
      &__service-link {
        font-family: $fontFamilyBase;
        font-size: $sizeFontSmall;
        line-height: $sizeLineHeightBigger;
        margin-right: auto;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid $colorWhite;

        &:hover {
          border-color: $colorWhite70;
          color: $colorWhite70;
        }
      }

      &__address {
        margin-bottom: pxToRem($sizeSmallRegular);
        display: flex;
        flex-direction: column;
      }

      &__mail {
        margin: 0;
        display: inline;
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid $colorWhite;

        &:hover {
          border-color: $colorWhite70;
          color: $colorWhite70;
        }
      }

      &__phone {
        margin: 0;
        display: inline-block;
        color: inherit;
        text-decoration: none;
        border-bottom: none;

        &:hover {
          color: $colorWhite70;
        }
      }
    }
  }

  &__phone:not(:first-of-type) {
    margin-top: pxToRem($sizeTiny);
  }


  &__mail {
    hyphens: none;
    word-break: break-word;
    margin-bottom: pxToRem($sizeTiny);
  }

  &--location {
    background-color: $colorWhite;
    color: $colorText;
    padding: pxToRem($sizeLarge) 0 0 0;

    .mdl-contact {
      &__address,
      &__show-route,
      &__phone,
      &__mail {
        font-size: pxToRem($sizeFontRegular);
      }

      &__text {
        font-size: pxToRem($sizeFontSmall);
        color: $colorBlack60;
      }

      &__subtitle {
        margin-left: auto;
        margin-right: auto;
        font-size: pxToRem($sizeFontLarge);

        a {
          color: $colorBlack60;
          padding-left: 0;
          margin-top: pxToRem($sizeTiny);

          svg {
            right: 0;

            use {
              fill: $colorBlack60;
            }
          }

          &:hover {
            color: $colorBlack;

            svg {
              use {
                fill: $colorBlack;
              }
            }
          }
        }
      }

      &__section {
        margin: 0;
      }

      &__cell {
        &-content {
          word-break: break-word;
          padding-bottom: $sizeRegular;
        }

        &-icon {
          background-color: $colorBlack5;
          width: pxToRem($sizeBig);
          height: pxToRem($sizeBig);

          svg {
            width: pxToRem($sizeSmallLarge);
            height: pxToRem($sizeSmallLarge);

            use {
              fill: $colorText;
            }
          }
        }
      }
    }

    .atm-text_link {
      color: $colorBlack60;
      margin-bottom: $sizeTiny;

      &:hover {
        color: $colorText;
      }
    }
  }

  &__map_container {
    @include sizeCurve(height , default, $contactMapHeightCurve);
    @include sizeCurve(margin-bottom , default, $contactMapHeightCurve, true);
    margin-top: pxToRem($sizeBiggerBig);
    background: $colorBlack15;
  }

  /*
  * Media Queries SMALL
  */
  @include mq($from: small) {
    &:not(.mdl-contact--location):not(.mdl-contact--fullwidth):not(.mdl-contact--with-map) {
      padding: pxToRem($sizeLarge) 0;
    }

    &__copy-button,
    &__show-route,
    &__service-link {
      font-size: $sizeFontRegular;
      line-height: $sizeLineHeightBase;
    }

    &--fullwidth {
      padding: pxToRem($sizeHuge) 0;

      .mdl-contact__cell:last-of-type {
        padding-top: pxToRem($sizeSmallRegular);
      }

      .mdl-contact__cell-icon {
        margin-top: pxToRem($sizeRegular);
        position: relative;
        top: auto;
        left: auto;
      }

      .mdl-contact__cell-content {
        margin-top: pxToRem($sizeTiny);
        padding-left: 0;
      }
    }

    .mdl-contact__section-cell:not(.mdl-contact__section-cell--media):not(.mdl-contact__section-cell--social-media) {
      margin-top: 0;
    }

    &:not(.mdl-contact--fullwidth):not(.mdl-contact--location) {
      > * {
        @include gridNestedOffset('margin-left', 1, $gridOffsetColumns);
        @include gridNestedOffset('margin-right', 1, $gridOffsetColumns);
      }
    }

    &__lead {
      margin-top: 0;

      a {
        margin-top: 0;
      }
    }

    .atm-heading {
      line-height: $sizeLineHeightNarrow;
    }

    &__address,
    &__show-route,
    &__phone,
    &__mail {
      line-height: $sizeLineHeightMedium;
    }

    &__show-route {
      margin-top: calc((#{$sizeFontBiggerRegular} * #{$sizeLineHeightMedium}) / 2);
    }

    &__phone:not(:first-of-type) {
      margin-top: pxToRem($sizeSmallRegular);
    }

    &__mail {
      margin-bottom: pxToRem($sizeSmallRegular);
    }
  }
  /*
  * Media Queries MEDIUM
  */
  @include mq($from: medium) {
    .atm-heading.atm-heading--bordered {
      margin-bottom: pxToRem($sizeBig);
    }

    &__section-cell--sperator-top {
      margin-top: pxToRem($sizeBig);
    }

    &__section-cell--social-media {
      margin-top: pxToRem($sizeBig);
    }
  }
  /*
  * Media Queries XLARGE
  */
  @include mq($from: xlarge) {
    .atm-heading.atm-heading--bordered {
      padding-top: pxToRem($sizeRegular);
      margin-bottom: pxToRem($sizeBiggerBig);
    }

    &__section-cell--sperator-top {
      margin-top: pxToRem($sizeBiggerBig);
    }

    &:not(.mdl-contact--location):not(.mdl-contact--fullwidth):not(.mdl-contact--with-map) {
      padding: pxToRem($sizeBiggerBig) 0;
    }

    &--fullwidth {
      padding: pxToRem($sizeGiant) 0;

      .mdl-contact__cell-icon {
        margin-top: 0;
      }
    }

    &--with-map {
      padding: pxToRem($sizeHuge) 0;
    }

    .atm-heading--bordered {
      line-height: $sizeLineHeightNarrower;
      margin-bottom: pxToRem($sizeBiggerBig);
    }

    &__subtitle {
      line-height: $sizeLineHeightNarrow;

      a {
        padding-left: pxToRem(18px);
      }
    }

    &__lead {
      margin-top: - pxToRem($sizeTiny);
    }

    &__show-route {
      margin-top: calc((#{$sizeFontMedium} * #{$sizeLineHeightMedium}) / 2);
    }

    &__mail {
      margin-bottom: pxToRem($sizeRegular);
    }

    &__cell-icon {
      width: pxToRem($sizeBiggerBig);
      height: pxToRem($sizeBiggerBig);

      svg {
        transform: translate(-50%, -50%) scale(1);
      }
    }

    &__address,
    &__show-route,
    &__phone,
    &__mail {
      line-height: $sizeLineHeightMedium;
    }

    &__map_container {
      margin-top: pxToRem($sizeHuge);
    }
  }
}

/*
* COLOR-VARIATIONS
*/
@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-contact:not(.mdl-contact--location) {
      background-color: #{$val};

      .mdl-contact__cell-icon {
        svg use {
          fill: #{$val};
        }
      }
    }
  }
}
