<div class="mdl-related-content" data-init="relatedContent">
  <h{{relatedContentHeading.level}} class="mdl-related-content__heading atm-heading atm-heading--bordered">{{relatedContentHeading.title}}</h{{relatedContentHeading.level}}>

  {{> "modules/content_nav/content_nav" contentNavData}}
</div>
