$biometrieViewTransitionDuration: 300ms;

.mdl-biometrie_appointment {
  margin-bottom: $sizeHuge;

  &__heading {
    hyphens: initial;

    &.atm-heading {
      @include sizeCurve('margin-bottom', medium);
    }
  }

  &__logout {
    display: none;
    text-align: right;

    .icon {
      @include sizeCurve('margin-left', mini);
      @include sizeCurve('height', tiny);
    }

    &.show {
      display: block;
    }
  }

  .view {
    //transform: translateX(-100%);
    opacity: 0;
    transition: opacity $biometrieViewTransitionDuration;
    max-height: 0;
    pointer-events: none;

    &.show {
      //transform: translateX(0);
      opacity: 1;
      transition-delay: $biometrieViewTransitionDuration;
      max-height: inherit;
      pointer-events: all;
    }
  }

  &__loginview {

    h3 {
      @include sizeCurve('padding-top', medium);
      @include sizeCurve('margin-bottom', smallerRegular);
    }

    &__input {
      border: 2px solid;
      border-radius: 4px;
      position: relative;
      padding: $sizeRegular;
      border-color: $colorBlack15;

      @include sizeCurve('margin-bottom', mini);

      label {
        font-weight: $fontWeightBlack;
        color: $colorBlack100;
        display: block;
      }

      span.input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid $colorBlack100;
        display: inline-block;
        min-width: 1.2em;
        color: $colorBlack100;
        font-size: $sizeRegular;
        height: $sizeRegular;
        line-height: $sizeSmallLarge;
        caret-color: $colorCyan;

        @include sizeCurve('margin-right', tiny);

        + .input {
          margin-left: $sizeTiny;
        }

        &.filled {
          border: 0;
        }
      }

      .icon-error {
        display: none;
      }

      &.focused {
        border-color: $colorCyan;
      }

      &.error {
        border-color: $colorRed;

        .icon-error {
          color: $colorWhite;
          background-color: $colorRed;
          text-align: center;
          border-radius: 50%;
          font-size: $sizeFontBiggerRegular;
          font-weight: $fontWeightBlack;
          line-height: 1.5rem;
          display: block;
          position: absolute;
          right: $sizeRegular;
          top: calc(50% - 0.75rem);
        }
      }
    }

    &__hint {
      min-height: 2rem;
      border-bottom: 2px solid $colorBlack100;
      margin-bottom: $sizeRegular;

      .alert.alert-error {
        display: none;
        padding: $sizeTiny $sizeRegular;
        background-color: $colorRed;
        color: $colorWhite;
        border-radius: 4px;
        margin-top: 1em;
        margin-bottom: 1em;
        padding-left: $sizeSmallHuge;
        line-height: $sizeLineHeightNarrow;
        position: relative;

        &:before {
          content: '!';
          background-color: $colorWhite;
          color: $colorRed;
          text-align: center;
          border-radius: 50%;
          font-size: $sizeFontBiggerRegular;
          font-weight: $fontWeightBlack;
          line-height: $sizeFontLarge;
          display: block;
          position: absolute;
          left: $sizeRegular;
          top: calc(50% - 0.75rem);
          width: $sizeFontLarge;
        }

        &.show {
          display: block;
        }
      }
    }

    &__submit {
      clear: both;
      overflow: hidden;

      > * {
        float: right;
      }
    }
  }


  &__details {
    table {
      width: 100%;
      border-spacing: 0;
      font-size: $sizeFontTiny;

      tr {
        background-color: $colorWhite;

        &:nth-child(odd) {
          background-color: $colorBlack5;
        }

        th {
          text-align: left;
          width: 35%;
        }

        th,
        td {
          padding: $sizeTiny;
        }
      }
    }

    &__confirmation {
      display: none;

      &.show {
        display: block;
      }

      h3 {
        @include sizeCurve('margin-bottom', medium);

        &:after {
          content: '';
          display: inline-block;
          position: relative;
          transform: rotate(45deg);
          top: 2px;
          border-bottom: $sizeMini solid $colorGreen;
          border-right: $sizeMini solid $colorGreen;

          @include sizeCurve(width, small);
          @include sizeCurve(height left, biggerRegular);
        }
      }

      @include sizeCurve('margin-bottom', large);
    }

    &__persondata {
      @include sizeCurve('margin-bottom', large);
    }

    &__appointmentdata {
      @include sizeCurve('margin-bottom', large);
    }

    &__rescheduleBtn {
      margin: $sizeBig 0;
    }

    &__cal-linklist {
      .cal-linklist_item {
        display: inline-block;
        margin-right: 2rem;
        text-decoration: none;
        color: $colorBlack60;
        font-weight: 900;
        position: relative;
        font-size: 16px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        border-bottom: 2px solid transparent;
        transition: color 100ms ease;
        justify-content: space-between;
        align-items: center;

        @include polyFluidSizing(font-size, map-get($fontSizeCurves, regular));

        &__button {
          margin-top: 0.5rem;
          display: flex;
          align-items: center;
          font-weight: 400;
          color: $colorBlack60;

          @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));

          .icon {
            margin-right: 0.75rem;

            use {
              fill: $colorBlack60;
              transition: fill 100ms ease;
            }
          }
        }

        &:hover {
          .cal-linklist_item__button {
            color: $colorBlack100;

            .icon use {
              fill: $colorBlack100;
            }
          }
        }
      }
    }

    &__addinfo-block {
      @include sizeCurve('margin-bottom', medium);
    }
  }

  &__reschedule {
    &__backlink {
      @include sizeCurve('margin-bottom', medium);
    }

    &__nextopen {
      @include sizeCurve('margin-bottom', large);

      strong {
        @include polyFluidSizing('font-size', map-get($fontSizeCurves, biggerRegular));
      }

      .atm-heading {
        @include sizeCurve('margin-bottom', regular);
      }
    }

    &__scheduleNextBtn {
      @include sizeCurve('margin-top', regular);
    }

    &__allopen {

      &__wrapper {
        @include sizeCurve('margin-top', regular);

        ul {
          display: inline-flex;

          @include sizeCurve('margin-right', regular);

          button.disabled {
            cursor: not-allowed;
            pointer-events: none;
            background-color: $colorBlack5;

            use {
              fill: $colorBlack20;
            }
          }
        }

        .btn-line {
          position: relative;

          @include sizeCurve('margin-right', regular);
          @include sizeCurve('bottom', mini);
        }

        @include polyFluidSizing(font-size, map-get($fontSizeCurves, regular));
      }

      &__slotselect {
        @include sizeCurve('margin-top', medium);
        position: relative;

        .column {
          width: 19%;
          vertical-align: top;

          + .column {
            margin-left: 1%;
          }
        }

        .row {
          display: flex;
          position: relative;
        }

        .col-head {
          background-image: linear-gradient(to top, rgba(255, 255, 255, 0), $colorWhite pxToRem($sizeFontSmall));

          @include sizeCurve('height', big);
        }

        .slotselect-headrow {
          z-index: 100;

          @extend .row;

          .weekday-head {
            color: $colorText;
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;
            font-weight: 900;

            @extend .column;
            @extend .col-head;

            @include sizeCurve('line-height', biggerRegular);
            @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));
          }
        }

        .slotselect-slotsrow {
          margin-top: -1 * pxToRem($sizeFontSmall);
          padding-top: pxToRem($sizeFontSmall);
          max-height: 64vh;
          overflow-y: scroll;

          @extend .row;

          .weekday-column {
            font-size: pxToRem($sizeFontSmall);
            color: $colorBlack60;
            font-weight: 900;
            text-align: center;
            height: auto;

            @extend .column;

            .weekday-slotscontainer {
              .weekday-slot {
                height: pxToRem($sizeBig);
                line-height: pxToRem($sizeBig);
                font-size: pxToRem($sizeFontSmall);

                @include sizeCurve('margin-bottom', small);

                button.atm-button {
                  width: 100%;
                  padding: 0;

                  .atm-button__text {
                    width: 100%;
                    text-align: center;
                  }
                }

                .selected {
                  background: $colorGreen;
                  color: $colorWhite;
                }
              }
            }

            .no-openslots-msg {
              display: none;

              @include sizeCurve('padding', regular);
              @include mq($to: small) {
                padding: 0;
              }
            }

            &.no-slots-available {
              .no-openslots-msg {
                display: block;

                @include sizeCurve('padding-top', mini);
              }
            }
          }
        }

        .slot {
          height: pxToRem($sizeBig);
          line-height: pxToRem($sizeBig);
          font-size: pxToRem($sizeFontSmall);

          @include sizeCurve('margin-bottom', small);
        }

        .timescale-column {
          display: none;
          width: 7.5%;
          text-align: right;

          @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));

          .slot {
            visibility: hidden;

            &:nth-child(4n+1) {
              visibility: visible;
            }
          }
        }

        &.detailed {
          @include mq($from: small) {
            .timescale-column {
              display: inline-block;
            }

            .column {
              width: 17.5%;
            }
          }
        }
      }
    }

    &__selectiondetails {
      &.dropshadow-top {
        margin-top: 3px;
        box-shadow: 0 -10px 5px -10px rgba(0, 0, 0, 0.5);
        min-height: 23px;
      }

      &__wrapper {
        display: none;
        overflow: hidden;

        @include sizeCurve('padding-top', regular);
        @include sizeCurve('padding-bottom', regular);

        &.show {
          display: block;
        }

        .atm-button {
          float: left;

          @include sizeCurve('margin-top', regular);

          + .atm-button {
            float: right;
          }
        }
      }
    }

    &__blockedslot-overlay {
      @extend .overlay;
      display: none;

      button {
        @include sizeCurve('margin-top', regular);
      }

      &.show {
        display: block;
      }
    }
  }

  &__loading-spinner {
    &.show {
      @extend .overlay;

      .atm-dual-ring {
        position: absolute;
        height: 64px;
        width: 64px;
        left: 50%;
        margin-left: -32px;
        top: 50%;
        margin-top: -50px;
        display: inline-block;
      }

      .atm-dual-ring:after {
        content: ' ';
        display: block;
        width: 46px;
        height: 46px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid;
        border-color: #fff transparent;
        animation: atm-dual-ring 1.2s linear infinite;
      }

      @keyframes atm-dual-ring {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__unavailable-alert {
    position: relative;
    display: none;

    .alert {
      color: $colorRed;
      line-height: $sizeLineHeightBase;

      @include sizeCurve('padding-left', big);

      &:before {
        content: '!';
        background-color: $colorRed;
        color: $colorWhite;
        text-align: center;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: 0;

        @include polyFluidSizing('font-size', map-get($fontSizeCurves, big));
        @include sizeCurve('width', large);
        @include sizeCurve('height', large);
        @include sizeCurve('line-height', large);
      }
    }

    &.show {
      display: block;
    }
  }

  &__contenttemplate {
    display: none;
  }
}

[ class^='mdl-biometrie_appointment' ] {
  .alert-box {
    &.success {
      background-color: #ebf4e9;

      @include sizeCurve(padding, smallerRegular);
    }

    .super-head {
      margin-bottom: unset;
    }
  }

  .lighter {
    font-weight: 200;
  }

  .hidden-small-down {
    @include mq($to: small) {
      display: none;
    }
  }

  .hidden-small-up {
    @include mq($from: small) {
      display: none;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 101;

    .overlay-content {
      position: absolute;
      background-color: $colorWhite;
      left: 50%;
      width: 90%;
      margin-left: -45%;
      top: 10%;

      @include mq($from: small) {
        width: 70%;
        margin-left: -35%;
        top: 15%;
      }
      @include mq($from: medium) {
        width: 66%;
        margin-left: -33%;
        top: 25%;
      }
      @include mq($from: large) {
        width: 38%;
        margin-left: -19%;
        top: 40%;
      }
      @include sizeCurve('padding', biggerRegular);
    }
  }
}
