<div class="mdl-biometrie_appointment" data-init="biometrieAppointment">
  {{#if heading}}<h1>{{ heading }}</h1>{{/if}}

  <!--  LOGIN -->
  {{> "modules/biometrie_appointment/partials/login_view/login_view" loginViewProps}}

  <!--  DETAILS -->
  {{> "modules/biometrie_appointment/partials/details_view/details_view" detailsViewProps}}

  <!--  RESCHEDULING -->
  {{> "modules/biometrie_appointment/partials/reschedule_view/reschedule_view" rescheduleViewProps}}

</div>
