.atm-linklist_item {
  text-decoration: none;
  color: rgba($colorText, 0.6);
  font-weight: $fontWeightBlack;
  position: relative;

  .icon {
    min-width: pxToRem(24);
  }

  @at-root button {
    @include blankButton;
  }

  @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
  @include sizeCurve(padding-top padding-bottom, small);

  border-bottom: 2px solid transparent;

  @include transition(color);

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  > span {
    flex-grow: 1;
  }

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($colorText, 0.2);
    height: 1px;

    transform: translateY(50%) scaleY(1);

    @include transition(transform, $transitionTimeAreaSmall);
  }

  &:hover {
    color: rgba($colorText, 1);

    &:after {
      transform: translateY(50%) scaleY(3);
      background: $colorText;
    }

    .icon use {
      fill: $colorText;
    }
  }

  &--download {
    align-items: flex-start;
  }

  &--legalfoundation {
    flex-direction: column;

    .atm-linklist_item__label {
      margin-top: pxToRem($sizeTiny);
    }

    .atm-linklist_item__download-button {
      margin-top: pxToRem($sizeTiny);
      display: flex;
      align-items: center;
      font-weight: $fontWeightDefault;
      font-size: pxToRem($sizeFontSmall);

      .icon {
        margin-right: pxToRem($sizeSmallRegular);
      }
    }
  }

  &__arrow {
    @include sizeCurve(margin-left, tiny);
  }

  &__download {
    @include sizeCurve(margin-right, regular);
  }

  &__text {
    line-height: 1.33;

    > span {
      display: block;
    }
  }

  &__label {
    @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));
    font-weight: $fontWeightDefault;
  }

  .icon use {
    fill: $colorBlack60;
    transition: fill $transitionTimeSimple $transitionEasingDefault;
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    .atm-linklist_item:not(.atm-linklist_item--download) {
      color: rgba($val, 1);

      &:hover {
        color: rgba($colorText, 1);
      }
    }
  }
}
