<a class="atm-linklist_item" href="{{href}}"{{#if target}} target="_{{target}}"{{/if}}>
  <span>{{title}}</span>
  <svg class="icon atm-linklist_item__arrow">
    <use xlink:href="#arrow-right"></use>
  </svg>
</a>
