@mixin blackColorHover() {
  &:hover {
    color: rgba($colorText, 1);
  }
}

.atm-linklist_item {
  text-decoration: none;
  color: rgba($colorText, 0.6);
  font-weight: $fontWeightBlack;
  position: relative;

  @at-root button {
    @include blankButton;
  }

  @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
  @include sizeCurve(padding-top padding-bottom, small);

  border-bottom: 2px solid transparent;

  @include transition(color);

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  > span {
    flex-grow: 1;
  }

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($colorText, 0.2);
    height: 2px;

    transform: translateY(50%) scaleY(1);

    @include transition(transform, $transitionTimeAreaSmall);
  }

  &:hover {
    color: rgba($colorText, 1);

    &:after {
      transform: translateY(50%) scaleY(2);
      background: $colorText;
    }

    .icon use {
      fill: $colorText;
    }
  }

  &--download {
    align-items: flex-start;
  }

  &--legalfoundation {
    flex-direction: column;

    .atm-linklist_item__label {
      margin-top: pxToRem($sizeTiny);
    }

    .atm-linklist_item__download-button {
      margin-top: pxToRem($sizeTiny);
      display: flex;
      align-items: center;
      font-weight: $fontWeightDefault;
      font-size: pxToRem($sizeFontSmall);

      .icon {
        margin-right: pxToRem($sizeSmallRegular);
      }
    }
  }

  &__arrow {
    @include sizeCurve(margin-left, tiny);
  }

  &__download {
    @include sizeCurve(margin-right, regular);
  }

  &__text {
    line-height: 1.33;

    > span {
      display: block;
    }
  }

  &__label {
    @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));
    font-weight: $fontWeightDefault;
  }

  .icon use {
    fill: $colorBlack60;
    transition: fill $transitionTimeSimple $transitionEasingDefault;
  }

  &--cv-blue,
  [ class*='--cv-blue' ] & {
    color: $colorBlue;

    @include blackColorHover();
  }

  &--cv-darkblue,
  [ class*='--cv-darkblue' ] & {
    color: $colorDarkBlue;

    @include blackColorHover();
  }

  &--cv-turqoise,
  [ class*='--cv-turqoise' ] & {
    color: $colorTurqoise;

    @include blackColorHover();
  }

  &--cv-green,
  [ class*='--cv-green' ] & {
    color: $colorGreen;

    @include blackColorHover();
  }

  &--cv-bordeaux,
  [ class*='--cv-bordeaux' ] & {
    color: $colorBordeaux;

    @include blackColorHover();
  }

  &--cv-magenta,
  [ class*='--cv-magenta' ] & {
    color: $colorMagenta;

    @include blackColorHover();
  }

  &--cv-violet,
  [ class*='--cv-violet' ] & {
    color: $colorViolet;

    @include blackColorHover();
  }
}
