<div class="mdl-context_menu" {{#if domSelector}}{{{domSelector}}}{{/if}}>
  <div>
    {{#each lists}}
      <ul class="mdl-context_menu__list">
        {{#each items}}
          <li data-item-index="{{@index}}">
            {{> "atoms/context_menu_item/context_menu_item" this}}
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </div>
</div>
