.mdl-feedback {
  @include gridBleed($fullwidth: true);
  background-color: $colorBlack80;
  padding: pxToRem($sizeHuge) 0;

  &__step {
    display: none;
    justify-content: space-between;
    align-items: center;

    h3 {
      padding-top: 0;
      margin-bottom: 0;
    }

    &.active {
      display: flex;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    button {
      margin-left: pxToRem($sizeTiny);
    }
  }

  &__icon {
    background-color: $colorWhite;
    position: relative;
    display: inline-flex;
    width: pxToRem($sizeSmallHuge);
    height: pxToRem($sizeSmallHuge);
    border-radius: 50%;
    margin-right: pxToRem($sizeSmallRegular);

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);

      use {
        fill: $colorBlack80;
      }
    }
  }

  @include mq($from: tiny, $to: medium) {
    padding: pxToRem($sizeBig) 0;

    h3 {
      margin-bottom: pxToRem($sizeSmallLarge);
    }

    &__container {
      button:first-of-type {
        margin-left: 0;
      }
    }

    &__container--aligned {
      flex-direction: column;

      h3 {
        margin-top: pxToRem($sizeSmallLarge);
        margin-bottom: 0;
      }
    }

    &__step {
      &.active {
        display: block;
      }
    }
  }
}
