<div class="mdl-form-info mdl-form-info--arrow-top" data-init="formInfo">
  {{#if heading}}
    <p class="mdl-form-info__heading">
      {{heading}}
    </p>
  {{/if}}
  <p>
    {{text}}
  </p>
</div>
