<a
  class="atm-linklist_item atm-linklist_item--download "
  href="&lt;%- resource.url %&gt;"
  
  download
  
  
  
  
>
  
    <svg class="icon atm-linklist_item__download" focusable="false">
      <use xlink:href="#download"></use>
    </svg>
    <span class="visuallyhidden">Download</span>
  
  <span class="atm-linklist_item__text">
    <span>&lt;%- resource.title %&gt;</span>
    <span class="atm-linklist_item__label">zuletzt aktualisiert: &lt;%- resource.label %&gt;
       | <span role="link" data-open_data="license_link" data-href="#" class="mdl-open_data__cc">
          <% if(resource.license === "NonCommercialAllowed-CommercialAllowed-ReferenceNotRequired") { %>
            <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/cc-zero.png" alt="Publicdomain"/>
          <% } else { %>
            <img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/png/by.png" alt="Creative commons, reference required"/>
          <% } %>
        </span>
       </span>
  </span>
  
</a>
