<div class="mdl-application__wrapper {{#if fullWidth}}mdl-application__wrapper--fullWidth{{/if}}">
{{#unless fullWidth}}
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12 xlarge-12">
{{/unless}}
  {{#if canvas}}
          <div class="mdl-application" data-init="application">
            {{> "modules/application/application.mock"}}
          </div>
  {{/if}}
  {{#if zhApp}}
    <div class="mdl-application" data-init="application">
      {{> "modules/application/wahlen.mock"}}
    </div>
  {{/if}}
  {{#unless fullWidth}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>
