<div class="mdl-application__wrapper {{#if fullWidth}}mdl-application__wrapper--fullWidth{{/if}}{{#if heading}} mdl-application__wrapper--with-title{{/if}}">
{{#unless fullWidth}}
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-12 large-12 xlarge-12">
{{/unless}}
  {{#if heading.title}}
    <h{{heading.level}} class="atm-heading {{#unless smallerHeadings}}atm-heading--bordered{{/unless}}">
      {{heading.title}}
    </h{{heading.level}}>
  {{/if}}
  {{#if caption}}<figure class="mdl-application__figure">{{/if}}
  {{#if canvas}}
          <div class="mdl-application" data-init="application">
            {{> "modules/application/application.mock"}}
          </div>
  {{/if}}
  {{#if zhApp}}
    <div class="mdl-application" data-init="application">
      {{> "modules/application/wahlen.mock"}}
    </div>
  {{/if}}
  {{#if caption}}
    <figcaption class="mdl-application__caption">
      {{> "atoms/figcaption/figcaption" caption}}
    </figcaption>
  </figure>
  {{/if}}
  {{#unless fullWidth}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>
