.mdl-application {
  &__wrapper {
    @include gridBleed($fullwidth: true);

    &--fullWidth {
      height: 100%;
      position: fixed;
      transform: none;
      margin: 0;
      left: 0;
      overflow-y: scroll;

      .mdl-application {
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    margin-top: pxToRem($sizeHuge);
    margin-bottom: pxToRem($sizeHuge);

    @include mq($from: xlarge) {
      margin-top: pxToRem($sizeGiant);
      margin-bottom: pxToRem($sizeGiant);
    }
  }

  &__caption {
    display: flex;
    align-items: flex-start;

    .atm-figcaption {
      flex-grow: 1;
    }
  }

  margin-bottom: $sizeTiny;
}
