<div class="mdl-social-media-post__cite">
  {{#if text}}{{> "modules/social_media_post/_text_partial" text }}{{/if}}
  {{#if image}}{{> "modules/social_media_post/_image_partial" image }}{{/if}}
  <div>
    <a href="{{author.link}}" class="mdl-social-media-post__authorinfo" target="_blank">
      <span>{{author.name}}</span><span>{{datetime}}</span>
    </a>
  </div>
</div>
