<div class="mdl-lang-switch mdl-lang-switch--fixed" data-init="langSwitch">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">

      <div class="mdl-lang-switch__content cell">

        <h2 class="atm-heading">Weitere Sprachen für diese Seite</h2>

        <ul class="mdl-lang-switch__list">
          <li><a href="#" class="atm-anchorlink atm-anchorlink--active">Deutsch</a></li>
          <li><a href="#" class="atm-anchorlink">Português</a></li>
          <li><a href="#" class="atm-anchorlink">Pусский</a></li>
          <li><a href="#" class="atm-anchorlink">Türkçe</a></li>
        </ul>

        {{> "modules/select/select" selectData }}

        <button class="mdl-lang-switch__close">
          <span>Schliessen</span>
          <svg class="icon">
            <use xlink:href="#exit"></use>
          </svg>
        </button>

      </div>

    </div>
  </div>
</div>
