@import 'data/colors.json';
@import 'globals/variables';
@import 'globals/functions';
@import 'globals/mixins';
@import 'globals/mediaqueries';
@import '../../../node_modules/highlight.js/styles/github';

// Preview: defaults
// ----------------------------------------------------------------------------------------------------

// Lesson learned, OrT: browsers decided to reduce font size from 16px to 13px when the font applied is the fallbacked monospace.
// Solution: declare monospace and then give it another fallback.
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$sg_font: "HelveticaNowRegular", Helvetica, serif;
$sg_font_black: "HelveticaNowBlack", Helvetica, serif;

$sg_breakpoint: 1480px;
$sg_marginsBoxed: 20px;
$sg_maxWidth: 1440px;

// Colors
$sg_colorWhite: #fff;
$sg_colorLightGray: #eaeaea;
$sg_colorGray: #999;
$sg_colorBlack: #000;
$sg_colorUnicGreen: #a4c400;
$sg_colorWarning: #c30;

// Transitions
$sg_defaultTransitionProperty: all;
$sg_defaultTransitionDuration: 0.2s;
$sg_defaultTransitionTimingFunction: ease-in-out;
$sg_defaultTransitionDelay: 0s;
$sg_defaultTransition: $sg_defaultTransitionProperty $sg_defaultTransitionDuration $sg_defaultTransitionTimingFunction $sg_defaultTransitionDelay;


// Preview: mixins
// ----------------------------------------------------------------------------------------------------

@mixin sgBoxedMargins {
  margin-left: $sg_marginsBoxed;
  margin-right: $sg_marginsBoxed;
}

@mixin sgBoxed {
  @include sgBoxedMargins;

  max-width: $sg_maxWidth;

  @include mq($from: $sg_breakpoint) {
    margin-left: auto;
    margin-right: auto;
  }
}


// Preview: generic styles
// ----------------------------------------------------------------------------------------------------

.sg_wrapper {

  .sg_h2,
  .sg_h3,
  .sg_documentation,
  .sg_code,
  .sg_variant_meta,
  .sg_tests,
  .sg_revisioninfo {
    @include sgBoxed;
  }

  .sg_code {

    &--collapsible {
      max-height: 33px;
      overflow: hidden;
    }

    &--show {
      max-height: 100%;
      overflow: scroll;
    }

    &__button {
      position: absolute;
      right: 0;
      margin: 5px;
    }
  }

  .lyt-wrapper {
    .sg_h2,
    .sg_h3,
    .sg_documentation,
    .sg_code,
    .sg_variant_meta,
    .sg_tests,
    .sg_revisioninfo {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .sg_title {
    @include sgBoxedMargins;

    font-family: $sg_font;
    font-size: pxToEm(35px);

    a {
      border-bottom: 3px solid;
      color: inherit;
      text-decoration: none;
    }
  }

  .sg_title,
  .sg_h2,
  .sg_h3,
  .sg_h4 {
    font-family: $sg_font_black;
  }

  .sg_h2 {
    font-size: pxToEm(25px);
  }

  .sg_index_header {
    display: flex;
    padding: 8px;
    align-items: center;

    .sg_title--top {
      margin: 0 10px;
    }

    .sg_logo {
      width: 100px;
    }
  }

  .sg_revisioninfo {
    background-color: rgba($colorBlue, 0.1);
    font-family: $sg_font;
    font-size: 11px;
    padding: 6px;
    color: $colorBlue;

    a {
      color: $colorBlue;
    }

    &--overview {
      margin-left: pxToEm(25px);
      margin-right: pxToEm(25px);
      max-width: unset;
    }

    h4 {
      margin-top: 0;
      font-family: $sg_font_black;
    }
  }
}

.sg_warning {
  border: 1px solid $sg_colorWarning;
  color: $sg_colorWarning;
  padding: 1em;
}


// Preview: modules
// ----------------------------------------------------------------------------------------------------

.sg_tabs {
  $numTabs: 100;
  $bgcolorActive: $sg_colorLightGray;

  .labels {
    @include clearfix;

    margin-top: pxToRem(24px);

    & > label {
      display: inline-block;
      padding: 8px 18px;
      margin: 2px;
    }
  }

  .preview-separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $colorBlack40;

    &:before,
    &:after {
      content: '';
      flex: 1;
      border-bottom: 1px dashed $colorBlack40;
    }

    &:before {
      margin-right: .25em;
    }

    &:after {
      margin-left: .25em;
    }
  }

  /*
   * Functionality
   */
  .tab_trigger {
    @include visuallyhidden;
  }

  .tab_content_wrapper {
    background-color: #fff;
  }

  .tab_content {
    display: none;
  }

  $i: $numTabs;

  @while $i > 0 {

    .tab_trigger:nth-child(#{$i}):checked ~ .panels > .tab_content:nth-child(#{$i}) {
      display: block;
    }

    .tab_trigger:nth-child(#{$i}):checked ~ .labels > label:nth-child(#{$i}) {
      background-color: #000;
      color: #FFF;
    }

    /* .tab_trigger:nth-child(#{$i}):focus ~ .labels > label:nth-child(#{$i}) {
      background-color: $bgcolorFocus;
    }
    .tab_trigger:nth-child(#{$i}):hover ~ .labels > label:nth-child(#{$i}) {
      background-color: $bgcolorHover;
    } */
    $i: $i - 1;
  }
}

.hljs {
  background-color: $sg_colorLightGray;
}


// Preview: commons
// ----------------------------------------------------------------------------------------------------

.sg_inner_wrapper {

  .sg_colors &,
  .sg_elements &,
  .sg_fonts &,
  .sg_forms &,
  .sg_icons &,
  .sg_module & {
    @include clearfix;
  }

  .sg_colors &,
  .sg_elements &,
  .sg_fonts &,
  .sg_forms &,
  .sg_icons & {
    @include sgBoxed;
  }

  $bgcolorActive: $sg_colorLightGray;

  .cv-labels {
    @include clearfix;

    display: flex;
    margin-bottom: pxToRem(24px);
    margin-top: pxToRem(16px);

    & > label {
      //border-radius: 4px 4px 0 0;
      display: inline-block;
      padding: 8px 18px;
      margin: 2px;
    }
  }

  .color_trigger {
    @include visuallyhidden;

    + label {
      border-radius: 15px;
      width: 30px;
      height: 30px;
      border: 0px solid #000;
      padding: 0;
    }

    &:checked + label {
      background-color: $bgcolorActive;
      font-family: $sg_font_black;
    }

    @each $key, $val in $tl-color-variations {
      &.#{$key} {
        + label {
          background-color: $val
        }

        &:checked + label {
          border-width: 3px;
        }

        &:disabled + label {
          border-color: #CCC;
          background-color: #FFF;
        }
      }
    }
  }
}

.sg_title {

  .sg_colors &,
  .sg_elements &,
  .sg_fonts &,
  .sg_forms &,
  .sg_icons &,
  .sg_module & {
    @include sgBoxed;
  }
}

.sg_demo {
  @include clearfix;

  max-width: $sizeWidthContent;
  background: $colorWhite;

  @include polyFluidSizing('padding', map-get($fontSizeCurves, regular));
}

.sg_module .sg_demo {
  max-width: none;
}

.sg_topiclist {
  margin-top: 0;
}

.sg_documentation {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  th
  {
    font-family: "HelveticaNowBlack", Helvetica, sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    &.sg_flat_font {
      font-family: "HelveticaNowRegular", Helvetica, sans-serif;
    }
  }


  th:not(.mdl-table__cell) {
    border-bottom: 1px solid $sg_colorLightGray;
    text-align: left;
  }

  th:not(.mdl-table__cell) ,
  td:not(.mdl-table__cell)  {
    border-left: 1px solid $sg_colorLightGray;
    padding: 0.2em 0.5em;

    &:first-child {
      border-left: 0;
      padding-left: 0;
    }
  }

  code {
    background: $sg_colorLightGray;
    color: #666;
    padding: 0 0.2em;
  }

  pre {
    overflow: scroll;

    code {
      overflow: auto;
      display: block;
      padding: 0.5em;
    }
  }

  p {
    margin-top: 0;
    line-height: $sizeLineHeightBase;
    color: rgba($colorBlack, 0.6);
    hyphens: auto;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid $colorBlue;

      &:hover {
        color: $colorBlack;
        border-color: $colorBlack;
      }
    }

    @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
    @include sizeCurve('margin-bottom', regular);
  }

  ul:not(.mdl-content_nav__list) {
    margin: 0;
    list-style: none;
    color: rgba(0, 0, 0, 0.6);

    @include sizeCurve('padding-left', list, $indentCurve);
    @include sizeCurve('margin-bottom', regular);

    li {
      @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));

      margin-bottom: 1em;
      position: relative;

      &:before {
        position: absolute;
        content: '\2013';

        @include sizeCurve('margin-left', list, $indentCurve, $isNegative: true);
      }

      ul li:first-child {
        padding-top: 1em;
      }
    }
  }
  ol {
    $listSpacings: (
      top: (
        tiny: 0,
        medium: 4px,
        xlarge: 8px
      ),
      bottom: (
        tiny: 12px,
        xlarge: 16px
      ),
      containerBottom: (
        tiny: 8px,
        medium: 12px,
        xlarge: 16px
      )
    );

    margin: 0;
    padding-left: $sizeBig;
    list-style: none;
    counter-reset: ol-counter;
    color: rgba(0, 0, 0, 0.6);

    @include sizeCurve('margin-bottom', containerBottom, $listSpacings);
    @include sizeCurve('padding-left', benefits, $indentCurve);
    @include mq($from: tiny, $to: medium) {
      padding-top: 0;
    }

    li {
      counter-increment: ol-counter;
      position: relative;
      margin-bottom: 0;

      @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
      @include sizeCurve('padding-top', top, $listSpacings);
      @include sizeCurve('padding-bottom', bottom, $listSpacings);

      &:before {
        position: absolute;
        content: counter(ol-counter, decimal-leading-zero);
        font-family: $fontFamilyBlack;
        color: $colorBlack;

        @include sizeCurve('margin-left', benefits, $indentCurve, true);
      }
    }
  }
}

// Preview: Index page
// ----------------------------------------------------------------------------------------------------

.sg_index {
  flex-flow: row wrap;
  display: flex;
  //justify-content: flex-start;
  //align-content: flex-start;
  //align-items: flex-start;

  margin-left: pxToEm(10px);
  margin-right: pxToEm(10px);
  font-family: $sg_font;
  font-size: pxToEm(14px);

  ul,
  li {
    list-style-type: none;
  }

  .sg_h2 {
    margin: 0;
    font-size: pxToEm(25px, 14px);
  }

  a {
    display: inline-block;
    padding: 0.4em 0;
    color: $sg_colorGray;
    text-decoration: none;
    line-height: 1.3;

    &:hover {
      color: $sg_colorBlack;
      text-decoration: none;
    }
  }

  .sg_inner_wrapper {
    border-top: 3px solid;
    box-sizing: border-box;
    padding: 1em 0;

    margin: pxToEm(10px, 15px);
    flex-grow: 1;
    flex-basis: 100%;

    @include mq($from: 600px) {
      flex-basis: 45%;
    }
    @include mq($from: 900px) {
      flex-basis: 30%;
    }
  }
}

.sg_jira-link {
  background: #dfe1e6;
  border: 1px solid #dfe1e6;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-family: $sg_font_black;
  line-height: 15px;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.sg_filter-frame {
  border: 1px solid #BBB;
  padding: 5px;
  border-radius: 5px;
   > div {
     label {
       width: 19%;
       margin: 1px;
     }
   }
}

.sg_group-label {
  background: #dfe1e6;
  border: 1px solid #dfe1e6;
  border-radius: 3px;
  display: inline-block;
  font-size: 11px;
  font-family: $sg_font_black;
  line-height: 15px;
  margin: 0;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

// Lists on index page
.sg_index_list {
  margin-bottom: 0;
  padding: 0;
}

// Preview: Modules page
// ----------------------------------------------------------------------------------------------------

.sg_module {

  .sg_h2,
  .sg_h3,
  .sg_h4 {
    margin-top: 1em;
  }

  .sg_inner_wrapper {

    &:nth-of-type(even) {
      margin-bottom: 1em;
      padding-bottom: pxToEm(36px);
      background-color: $sg_colorLightGray;
    }
  }

  // Remove clearfix in before to avoid big space from non-collapsed margins between h1 and h2
  .sg_inner_wrapper:first-of-type:before {
    display: none;
  }
}


// Preview: Icons page
// ----------------------------------------------------------------------------------------------------
.sg_icons_label,
.sg_icons_icon {
  display: table-cell;
  border-top: 1px solid $sg_colorLightGray;
  border-left: 1px solid $sg_colorLightGray;
  vertical-align: top;
  padding: 0.5em;
}

.sg_icons_icon {
  width: 20%;
}

.sg_icons_icon:last-of-type {
  border-right: 1px solid $sg_colorLightGray;
}

.sg_icons_list {
  display: table;
  width: 100%;

  border-bottom: 1px solid $sg_colorLightGray;

  .sg_icons_item {
    display: table-row;
  }
}


// Preview: Colors page
// ----------------------------------------------------------------------------------------------------
.sg_palette {
  background-color: #fff;
  box-shadow: 0 1px 1px 0 rgba(200, 200, 200, 0.3);

  .sg_palette-color {
    &__content {
      padding: 10px;
      color: #a9abab;

      h1 {
        font-size: 12px;
        color: #444545;
        line-height: 0.6em;
      }

      span {
        font-size: 11px;
        line-height: 0.4em;
        text-transform: uppercase;
      }
    }
  }

  &__container {
    display: block;
    margin-bottom: 80px;
  }

  /* Square */
  &.sg_palette--rect {
    margin-right: 1%;
    height: 200px;
    min-width: 100%;
    @include mq($from: xsmall, $to: large) {
      min-width: 48%;
    }
    @include mq($from: large) {
      min-width: 29%;
    }
    display: inline-block;
    margin-bottom: pxToRem(32px);

    .sg_palette-color {
      height: 140px;

      &__rect {
        height: 100%;

        > div {
          box-sizing: border-box;
          width: 97px;
          height: 70px;
          margin-left: auto;
          border-left: 1px rgba(255, 255, 255, 0.4) solid;

          &:first-child {
            border-bottom: 1px rgba(255, 255, 255, 0.4) solid;
          }

          &:last-child {
            font-size: 1.2em;

            div {
              padding: 25px 4px;
            }
          }

          div {
            box-sizing: border-box;
            font-family: $sg_font;
            float: right;
            width: 48px;
            height: 70px;
            line-height: 20px;
            padding: 25px 8px;

            &:first-child {
              color: #fff;
            }

            &:after {
              position: relative;
              left: 11px;
              font-size: 10px;
              color: #fff;
            }

            &[ style-valid='true' ] {
              border-right: 10px solid #0a0;

              &:after {
                content: '\2713';
              }
            }

            &[ style-valid='false' ] {
              border-right: 10px solid #e00;

              &:after {
                content: 'X';
              }
            }
          }
        }
      }
    }
  }
}

// Preview: Fonts page
// ----------------------------------------------------------------------------------------------------

.sg_subsection {
  border-bottom: 2px solid $sg_colorBlack;
  padding: 1em 0;
  position: relative;
}
