.mdl-texthighlight {
  @include sizeCurve('padding', smallerRegular);

  @each $key, $val in $tl-color-variations {
    &--#{$key},
    [ class*='#{$key}' ] & {
      background-color: #{rgba($val, 0.07)};

      .atm-figcaption {
        color: #{$val};
      }

      .mdl-richtext {
        p {
          color: #{$val};
        }

        ul {
          color: #{$val};

          &.mdl-richtext__benefits {
            li:before {
              background-image: url(svg-tickmark($val)); // stylelint-disable-line
            }
          }
        }

        .mdl-quote {
          span {
            color: #{$val};
          }
        }

        .atm-heading {
          color: #{$val};
        }

        ol {
          color: #{$val};
        }

        ol li:before {
          color: #{$val};
        }

        &__emphasis {
          p {
            color: #{$val};
          }
        }
      }
    }
  }
}
