<div class="mdl-texthighlight{{#if colorVariation}} mdl-texthighlight--cv-{{{colorVariation}}}{{/if}}">
  {{#if textVariation}}
  {{> "modules/richtext/richtext"}}
  {{/if}}
  {{#if linklistVariation}}
    {{> "modules/linklist/linklist"}}
  {{/if}}
</div>
