<div class="mdl-texthighlight">
  {{#if textVariation}}
  {{> "modules/richtext/richtext"}}
  {{/if}}
  {{#if linklistVariation}}
    {{> "modules/linklist/linklist"}}
  {{/if}}
  {{#if imageVariation}}
    {{> "modules/image_figure/image_figure"}}
  {{/if}}
</div>
