<a href="{{{anchorlinkAdress}}}" class="atm-anchorlink{{#if anchorlinkIsActive}} atm-anchorlink--active{{/if}}{{#if anchorlinkIsInverted}} atm-anchorlink--inverted{{/if}}{{#if anchorlinkIsTagAnchor}} atm-anchorlink--tag{{/if}}{{#if anchorlinkIsTagTopic}} atm-anchorlink--tag-topic{{/if}}{{#if anchorlinkIsTopitem}} atm-anchorlink--tag-top{{/if}}{{#if anchorlinkIsTopitemSmall}} atm-anchorlink--tag-top-small{{/if}}">
  {{{anchorlinkText}}}
</a>
