<div class="mdl-backToChat {{#if forceVisible}}mdl-backToChat--visible{{/if}}" data-init="backToChat">
  <svg class="icon" focusable="false">
    <use xlink:href="#conversation"></use>
  </svg>
  <span class="mdl-backToChat-title">Aktiver Chat</span>
  {{> "atoms/button/button" chatBtn}}
</div>
