$tooltip-info-icon-size: 22px;
$tooltip-bubble-max-width: 260px;
$tooltip-bubble-close-icon-size: 14px;

.mdl-tooltip {
  position: relative;
  margin: pxToRem($sizeMini) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.open {
    .mdl-tooltip__bubble {
      display: block;
    }
  }

  &__text {
    position: relative;
    display: flex;
    align-items: center;

    p {
      font-size: $sizeFontSmall;
      line-height: $sizeLineHeightNarrow;
      margin: 0;
      flex-grow: 1;
    }
  }

  &__trigger:not(.mdl-tooltip__trigger--textual) {
    position: relative;
    height: pxToRem($tooltip-info-icon-size);

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 80%;
      height: 80%;
      background-color: $colorBlack60;
      border-radius: 50%;
    }

    .icon {
      position: relative;
      z-index: $zIndexInner;
      width: pxToRem($tooltip-info-icon-size);
      height: pxToRem($tooltip-info-icon-size);

      use {
        fill: $colorBlack10;
      }
    }
  }

  &__trigger--textual {
    border-bottom: 1px solid;
    cursor: pointer;
  }

  p,
  ul,
  ol {
    color: $colorBlack60;
  }

  &__bubble {
    opacity: 0; // display: none; will be set via JS
    z-index: -1;
    position: absolute;
    box-shadow: 0 0 pxToRem($sizeRegular) rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.32);
    background: $colorWhite;
    padding: pxToRem($sizeSmallLarge) pxToRem($sizeLarge);
    border-radius: 1px;
    width: pxToRem($tooltip-bubble-max-width);

    &:before {
      content: '';
      display: block;
      width: pxToRem($sizeRegular);
      height: pxToRem($sizeRegular);
      background-color: $colorWhite;
      position: absolute;
    }

    button {
      position: absolute;
      display: inline-flex;
      top: pxToRem($sizeTiny);
      right: pxToRem($sizeTiny);

      .icon {
        width: pxToRem($tooltip-bubble-close-icon-size);
        height: pxToRem($tooltip-bubble-close-icon-size);
      }
    }

    &--arrow-left,
    &--arrow-right {
      top: 50%;
      transform: translateY(-50%);

      &:before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &--arrow-left {
      left: calc(100% + #{$sizeSmallRegular});

      &:before {
        left: pxToRem(-$sizeTiny);
        box-shadow: pxToRem(-$sizeMini) pxToRem(-$sizeMini) pxToRem($sizeTiny) pxToRem(-$sizeTiny) rgba(0, 0, 0, 0.16), -1px 1px 2px -1px rgba(0, 0, 0, 0.32);
      }
    }

    &--arrow-right {
      right: calc(100% + #{$sizeSmallRegular});

      &:before {
        right: pxToRem(-$sizeTiny);
        box-shadow: pxToRem($sizeMini) pxToRem(-$sizeMini) pxToRem($sizeTiny) pxToRem(-$sizeTiny) rgba(0, 0, 0, 0.16), 1px -1px 2px -1px rgba(0, 0, 0, 0.32);
      }
    }

    &--arrow-top,
    &--arrow-bottom {
      left: 50%;
      transform: translateX(-50%);

      &:before {
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
      }
    }

    &--arrow-top {
      top: calc(100% + #{$sizeSmallRegular});

      &:before {
        top: pxToRem(-$sizeTiny);
        box-shadow: pxToRem(-$sizeMini) pxToRem(-$sizeMini) pxToRem($sizeTiny) pxToRem(-$sizeTiny) rgba(0, 0, 0, 0.16), -1px -1px 2px -1px rgba(0, 0, 0, 0.32);
      }
    }

    &--arrow-bottom {
      bottom: calc(100% + #{$sizeSmallRegular});

      &:before {
        bottom: pxToRem(-$sizeTiny);
        box-shadow: pxToRem($sizeMini) pxToRem($sizeMini) pxToRem($sizeTiny) pxToRem(-$sizeTiny) rgba(0, 0, 0, 0.16), 1px 1px 2px -1px rgba(0, 0, 0, 0.32);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    ol,
    p {
      font-size: $sizeFontRegular;
      line-height: $sizeLineHeightBase;
      margin: 0;

      a {
        color: $colorBlack60;
        display: inline-block;

        position: relative;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;

          height: 1px;
          background: $colorBlue;
        }

        &:hover {
          color: $colorBlack100;

          &:after {
            background: $colorBlack100;
          }
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: $fontFamilyBlack;
      margin-bottom: $sizeMini;
    }

    p,
    ul,
    ol {
      margin-bottom: $sizeTiny;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ol {
      padding-left: 1.5rem;
    }

    ul {
      list-style-type: none;
      padding-left: 1.2rem;

      li {
        &:before {
          margin-left: -1rem;
          padding-right: 0.4rem;
          content: '–';
        }
      }
    }
  }

  .mdl-image-figure {
    margin-top: $sizeRegular;
  }

  .mdl-image-figure,
  .mdl-image-figure__img-wrapper {
    margin-bottom: 0;
  }

  &__wrapper {
    position: relative;
    display: inline-flex;
    align-self: start;

    &--left {
      padding-right: pxToRem($sizeTiny);
    }

    &--right {
      padding-left: pxToRem($sizeTiny);
    }
  }

  @include mq($from: small) {
    &__text {
      p {
        flex-grow: 0;
      }
    }
  }
}
