.mdl-social-media-stream {
  $socialMediaStreamCruves: (
    verticalMargins: (
      tiny: $sizeHuge,
      medium: $sizeGiant,
    )
  );

  @include sizeCurve(margin-bottom, verticalMargins, $socialMediaStreamCruves);

  &__items {
    padding: 0;
  }

  &__footer {
    margin-top: $sizeLarge;
    display: none;
    justify-content: center;
  }

  &__item {
    .mdl-image-figure {
      margin-bottom: $sizeLarge;
    }

    list-style-type: none;
    margin-top: - pxToRem($sizeTiny);

    &:first-child {
      margin-top: 0;
    }
  }

  &__notification {
    &.hidden {
      display: none;
    }
  }
}
