.mdl-table {
  &__table {
    font-size: $sizeFontTiny;
  }

  &__cell.mdl-table__column-header {
    font-size: $sizeFontMini;
  }

  &__table--cloned {
    display: none;
  }

  .mdl-table__sort-arrow {
    display: none;
  }

  .mdl-table__column--asc,
  .mdl-table__column--desc {
    .mdl-table__sort-arrow {
      display: block;
    }
  }
}
