.mdl-table {
  @include sizeCurve(margin-bottom, medium);

  &__title {
    margin-bottom: $sizeTiny;
  }

  &__subtitle {
    margin-top: -$sizeTiny;
    margin-bottom: $sizeTiny;
    color: rgba($colorBlack, 0.6);
  }

  &__figure {
    margin: 0;
  }

  &__figcaption {
    margin: $sizeSmallRegular 0 0;

    & .atm-figcaption {
      color: rgba($colorBlack, 0.6);
      font-size: $sizeFontTiny;
    }
  }

  &__scroll-area {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }

  &__wrapper {
    width: 100%;
    overflow: auto;
  }

  &__table {
    border-spacing: 0;
    color: rgba($colorBlack, 0.6);
    font-size: $sizeFontRegular;
    line-height: $sizeLineHeightBase;
    width: 100%;
  }

  &__table--cloned {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    & .mdl-table__cell {
      visibility: hidden;
      background: $colorWhite;
    }

    & .mdl-table__row--odd .mdl-table__cell {
      background: $colorBlack5;
    }

    & .mdl-table__row-header,
    & .mdl-table__column-header:first-child {
      visibility: visible;
    }
  }

  &__cell.mdl-table__column-header {
    color: rgba($colorBlack, 1);
    font-size: $sizeFontTiny;
    font-weight: 900;
    vertical-align: bottom;
  }

  &__cell.mdl-table__row-header,
  &__row--highlighted &__cell {
    color: rgba($colorBlack, 1);
    font-weight: 900;
  }

  &__cell {
    padding: $sizeRegular $sizeRegular $sizeTiny;
    font-weight: 400;
  }

  &__row--odd &__cell {
    background: $colorBlack5; // background: rgba(0, 0, 0, 0.05);
  }

  &__cell,
  &--align-right &__cell:first-child {
    text-align: left;
  }

  &--align-right &__cell {
    text-align: right;
  }

  /**
   * Inverted
   */
  &--inverted {
    .mdl-table__row--odd .mdl-table__cell {
      background: $colorWhite;
    }

    .mdl-table__table--cloned {
      & .mdl-table__cell {
        background: $colorBlack5;
      }

      & .mdl-table__row--odd .mdl-table__cell {
        background: $colorWhite;
      }
    }
  }

  /**
   * Color variations
   */
  @each $key, $val in $tl-color-variations {
    &--#{$key},
    [ class*='#{$key}' ] & {
      .mdl-table__row--highlighted .mdl-table__cell {
        color: #{$val};
      }
    }
  }
}
