.mdl-datepicker {
  position: relative;

  &.open {
    .icon {
      fill: $colorBlack;
    }
  }

  &.dirty {

    .atm-form_input--floated {
      .atm-form_input__input {
        color: $colorBlack;
        padding-top: pxToRem(35px);
        padding-bottom: pxToRem(15px);
        z-index: 1;
      }

      label {
        pointer-events: none;
        padding: 0;
        top: pxToRem($sizeFontSmall);
        font-weight: $fontWeightBlack;
        font-size: pxToRem($sizeFontTiny);
        line-height: $sizeLineHeightBase;
        color: $colorBlack;
      }
    }
  }

  .flatpickr-wrapper {
    display: block;
  }

  .flatpickr-wrapper,
  .atm-form_input--floated .atm-form_input__input {
    background-color: transparent;
    text-overflow: ellipsis;
  }

  .atm-form_input--floated {
    .icon {
      z-index: 0;
    }
  }

  .atm-form_input__input {
    appearance: none;

    &::-webkit-datetime-edit {
      display: none;
    }

    &.active {
      border-color: $colorCyan;
    }

    & + label {
      cursor: pointer;
    }
  }

  .atm-linklist_item {
    padding-bottom: 0;
    padding-top: 0;

    &__text {
      position: relative;
      width: 0;

      @include sizeCurve(padding-bottom padding-top, small);
    }

    .icon {
      @include sizeCurve(top, small);
      right: 0;
    }

    .flatpickr-wrapper {
      width: 100%;
    }

    input {
      &::placeholder {
        @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));
      }

      &:focus {
        outline: none;
      }
    }

    .atm-form_input__input {
      background: none;
      border: 0;
      padding-left: 0;
      text-align: right;
      color: rgba($colorText, 0.6);
      font-weight: $fontWeightDefault;

      @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));
      @include sizeCurve(padding-bottom padding-top, small);
    }
  }
}
