<div class="mdl-datepicker" data-init="datepicker" data-datetimeformat="{{datetimeformat}}">
  {{> "atoms/form_input/form_input" formInputData}}

  <div class="mdl-datepicker__container"></div>
</div>

