{{#extend "layouts/layout"}}
	{{#content "content"}}
		<h2>{{props.title}}</h2>

		<div class="grid-x grid-margin-x test-grid">
      <div class="cell tiny-12 small-4 large-2 xlarge-1"></div>
      <div class="cell tiny-12 small-8 medium-4 large-2 xlarge-1"></div>
      <div class="cell tiny-12 small-6 medium-3 large-2 xlarge-1"></div>
      <div class="cell tiny-12 small-4 large-1"></div>
      <div class="cell tiny-12 small-6 medium-3 large-2 xlarge-1"></div>
      <div class="cell tiny-12 small-8 medium-4 large-2 xlarge-1"></div>
      <div class="cell tiny-12 small-4 large-1"></div>
      <div class="cell tiny-12 small-4 large-1"></div>
      <div class="cell tiny-12 small-4 large-1"></div>
    </div>
	{{/content}}
{{/extend}}
