<div class="mdl-live_stream">
	<h{{{liveStreamHeading.level}}} class="atm-heading visuallyhidden">{{{liveStreamHeading.title}}}</h{{{liveStreamHeading.level}}}>
	<div class="mdl-live_stream__wrapper">
		<iframe class="mdl-live_stream__iframe" width="100%" autostart="0" allowfullscreen src="{{videoUrl}}"></iframe>
	</div>
</div>
