$gapSize: pxToRem($sizeRegular);

.form {

  &__section-title {
    margin-bottom: pxToRem($sizeSmallRegular);

    &:focus {
      outline: none;
    }
  }

  &__group + &__group {
    margin-top: $gapSize;
  }

  &__row {
    display: flex;

    margin-left: -($gapSize/2);
    margin-right: -($gapSize/2);
    padding-bottom: $gapSize;

    &:last-of-type {
      padding-bottom: 0;
    }

    &:not(:last-of-type) {
      button {
        display: none;
      }
    }

    @include mq($to: small) {
      flex-direction: column;
    }

    &--duplicatable {
      .form__cell {
        flex-grow: 1;
      }
    }
  }

  &__cell {
    flex-basis: 50%;
    padding: 0 $gapSize/2;

    flex-grow: 1;

    &:first-child:last-child {
      flex-basis: 100%;
    }

    &--small {
      flex-basis: 25%;

      flex-grow: 0;
    }

    @include mq($to: small) {
      flex-basis: 100%;
      margin-bottom: $gapSize;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__fieldset {
    padding: 0;
    border: none;
  }

  &__legend {
    font-size: pxToRem($sizeFontTiny);
    line-height: $sizeLineHeightBase;

    font-weight: $fontWeightBlack;
    margin-bottom: pxToRem($sizeTiny);
  }

  &__fieldset-list {
    &--vertical {
      display: flex;
      flex-direction: column;
    }
  }

  &__duplicator {
    padding: 0 $gapSize/2;

    use {
      fill: $colorBlack60;
    }

    &:hover {
      use {
        fill: $colorBlack;
      }
    }
  }
}
