.mdl-metablock {
  @include sizeCurve(margin-bottom, medium);

  &--margin-bottom {
    @include sizeCurve(margin-bottom, big);
  }

  &--margin-top {
    @include sizeCurve(margin-top, big);
  }

  &__row {
    @include mq($from: small) {
      display: flex;

      .mdl-descriptionlist {
        flex-grow: 1;
        flex-basis: 100%;
        border-bottom: 1px solid rgba($colorBlack, 0.2);

        dd {
          border: 0;

          .atm-button {
            float: right;
            height: $sizeLarge;
            min-width: $sizeLarge;
            background: transparent;
      
            use {
      
              @include transition(fill);
            }
      
            @include hover() {
      
              use {
                fill: $colorBlack100;
              }
            }
          }
        }

        &:first-child {
          margin-right: $sizeSmallRegular;
        }

        &:last-child {
          margin-left: $sizeSmallRegular;
        }

        &:only-child {
          margin: 0;
        }
      }
    }
  }

  &__copy-success-notification {
    margin-top: $sizeMini;
  }
}
