.mdl-flex-data {
  @include sizeCurve(margin-top margin-bottom, big);

  &__form-controls {
    display: flex;
    justify-content: flex-end;

    margin-top: pxToRem($sizeLarge);
    padding-top: pxToRem($sizeRegular);

    border-top: 3px solid $colorBlack;

    .atm-button {
      margin-left: pxToRem($sizeTiny);
    }
  }

  .mdl-table {
    .mdl-table__row {
      td {
        &.mdl-table__cell {
          padding: 12px;

          .atm-text_link {
            display: inline;
            padding-bottom: 3px;
          }
        }

        &:last-of-type {
          white-space: nowrap;
          word-break: keep-all;
        }
      }

      &:hover {
        td {
          background-color: $colorBlack10;
          cursor: pointer;

          &.mdl-table__cell {
            color: $colorBlack;

            .atm-text_link {
              color: $colorBlack;
              border-color: $colorBlack;

              .icon {
                fill: $colorBlack;
              }
            }
          }
        }
      }
    }
  }
}
