<div class="atm-checkbox">
  <input type="checkbox" id="checkbox{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}" name="{{groupName}}" {{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}>
  <label for="checkbox{{id}}{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}">
    {{label}}{{#if isDisabled}}(disabled){{/if}}{{#if isChecked}}(checked){{/if}}
    <span>
      <svg class="icon icon--iframe-arrow">
        <use xlink:href="#check"></use>
      </svg>
    </span>
  </label>
</div>
