<div class="mdl-login-form" data-init="loginForm">
  <h2 class="atm-heading">
    Login ZHservices
  </h2>
  <p class="atm-paragraph">
    Die Baudirektion hat beim Landesmuseum in Zürich einen Kontrollpunkt für mobile Geräte eingerichte - den ersten in
    der Schweiz.
  </p>

  <form novalidate>
    <section class="form__section" aria-live="polite">
      <div class="form__group">

        <div class="form__row">
          <div class="form__cell">
            {{> "atoms/form_input/form_input" userNameInput}}
          </div>
        </div>

        <div class="form__row">
          <div class="form__cell">
            {{> "atoms/form_input/form_input" passwordInput}}
          </div>
        </div>

        <div class="form__row">
          <div class="form__cell">
            <div class="mdl-login-form__line"></div>
          </div>
        </div>

        <div class="form__row">
          <div class="form__cell">
            {{> "modules/tooltip/tooltip" tooltip}}
          </div>

          <div class="form__cell">
            <button class="atm-button mdl-login-form__submit">Anmelden</button>
          </div>
        </div>

      </div>

    </section>
  </form>
</div>
