<div class="mdl-biometrie_appointment__details">

	<div class="mdl-biometrie_appointment__details__confirmation show" data-biometrie_appointment="reschedule-success">

		<div class="mdl-notification
        mdl-notification--green
        mdl-notification--big
        ">
			<svg class="icon" focusable="false">
				<use xlink:href="#confirm"></use>
			</svg>
			<div class="mdl-notification__message">
				<h3 class="mdl-notification__title">Ihr Termin wurde verschoben</h3>
				<p><span data-biometrie_appointment="reservation-details__appointmentDateString">Montag 05.08.2019</span>&nbsp;<span data-biometrie_appointment="reservation-details__fromTimeString">10:45</span>&nbsp;&ndash;&nbsp;<span data-biometrie_appointment="reservation-details__untilTimeString">11:00</span></p>
			</div>
			<button class="atm-button atm-button--icon-only atm-button--small" data-biometrie_appointment="alertClose">
				<svg class="icon atm-button__icon" focusable="false">
					<use xlink:href="#exit"></use>
				</svg>
				<span class="visuallyhidden"></span>
			</button>
		</div>

		<div class="mdl-texthighlight">
			<div class="mdl-richtext">
				<span class="atm-heading">Bitte beachten</span>
				<p class="atm-paragraph">Drucken Sie die neue Terminbestätigung aus und nehmen Sie diese mit an den Termin.</p>
				<button class="atm-button" data-biometrie_appointment="printConfirmation">
					<span class="atm-button__text ">
						Bestätigung herunterladen
					</span>
					<svg class="icon atm-button__icon" focusable="false">
						<use xlink:href="#download"></use>
					</svg>
					<span class="atm-button__spinner"></span>
				</button>
			</div>
		</div>
	</div>

	<div class="mdl-metablock   " data-init="metablock">
		<div class="mdl-metablock__row">
			<dl class="mdl-descriptionlist">
				<dt>Familienname</dt>
				<dd>
					<span data-biometrie_appointment="reservation-details__lastName">Russo</span>
				</dd>
			</dl>
			<dl class="mdl-descriptionlist">
				<dt>Vorname</dt>
				<dd>
					<span data-biometrie_appointment="reservation-details__firstName">Maria</span>
				</dd>
			</dl>
		</div>
		<div class="mdl-metablock__row">
			<dl class="mdl-descriptionlist">
				<dt>Geburtsdatum</dt>
				<dd>
					<span data-biometrie_appointment="reservation-details__dateOfBirth">24.04.1983</span>
				</dd>
			</dl>
			<dl class="mdl-descriptionlist">
				<dt></dt>
				<dd>

				</dd>
			</dl>
		</div>
	</div>

	<div class="mdl-biometrie_appointment__details__appointmentdata">
		<div class="mdl-metablock   " data-init="metablock">
			<h3 class="atm-heading">Termin Details</h3>
			<div class="mdl-metablock__row">
				<dl class="mdl-descriptionlist">
					<dt>Datum</dt>
					<dd>
						<span data-biometrie_appointment="reservation-details__appointmentDateString">Montag 05.08.2019</span>
					</dd>
				</dl>
				<dl class="mdl-descriptionlist">
					<dt>Uhrzeit</dt>
					<dd>
						<span data-biometrie_appointment="reservation-details__fromTimeString">10:45</span> bis <span data-biometrie_appointment="reservation-details__untilTimeString">11:00</span>
					</dd>
				</dl>
			</div>
		</div>

		<div class="mdl-biometrie_appointment__details__buttons">
			<button class="atm-button" data-biometrie_appointment="reschedule">
				<span class="atm-button__text ">
					Termin verschieben
				</span>
				<span class="atm-button__spinner"></span>
			</button>

			<div class="mdl-biometrie_appointment__details__calLinks">
				<button class="atm-button atm-button--secondary" data-biometrie_appointment="toggleCalLinks">
					<span class="atm-button__text ">
						Im Kalender speichern
					</span>
					<svg class="icon atm-button__icon" focusable="false">
						<use xlink:href="#download"></use>
					</svg>
					<span class="atm-button__spinner"></span>
				</button>
				<div class="mdl-context_menu">
					<div>
						<ul class="mdl-context_menu__list">
							<li data-item-index="0">
								<a class="atm-context_menu_item " href="../../" data-context-menu="item" data-biometrie_appointment="cal-link__ics" download="biometrie_appointment.ics">
									<svg class="icon atm-context_menu_item__icon" focusable="false">
										<use xlink:href="#download"></use>
									</svg>
									<span class="visuallyhidden">Download</span>
									<span class="atm-context_menu_item__label">iCal</span>
								</a>
							</li>
							<li data-item-index="1">
								<a class="atm-context_menu_item " href="../../" data-context-menu="item" data-biometrie_appointment="cal-link__google" target="_blank">
									<svg class="icon atm-context_menu_item__icon" focusable="false">
										<use xlink:href="#download"></use>
									</svg>
									<span class="visuallyhidden">Download</span>
									<span class="atm-context_menu_item__label">Google</span>
								</a>
							</li>
							<li data-item-index="2">
								<a class="atm-context_menu_item " href="../../" data-context-menu="item" data-biometrie_appointment="cal-link__ics" download="biometrie_appointment.ics">
									<svg class="icon atm-context_menu_item__icon" focusable="false">
										<use xlink:href="#download"></use>
									</svg>
									<span class="visuallyhidden">Download</span>
									<span class="atm-context_menu_item__label">Outlook</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>


	</div>

	<div class="mdl-biometrie_appointment__details__addinfo">
		<div class="grid-x grid-margin-x">
		</div>
	</div>

	<div class="mdl-texthighlight">
		<div class="mdl-richtext">
			<p class="atm-heading">Bringen Sie bitte folgende Unterlagen mit</p>
			<ul class="mdl-richtext__benefits">
				<li>Terminbestätigung</li>
				<li>Original Ausländerausweis (außer bei erstmaligem Gesuch)</li>
				<li>Original heimatlicher Reisepass</li>
				<li>Geburtsschein (bei Neugeborenen)</li>
			</ul>
		</div>
	</div>
</div>