.atm-list {
  @include resetList;
  background-color: $colorWhite;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.16), 0 0 2px rgba(0, 0, 0, 0.32);
  border-radius: 1px;

  overflow-y: scroll;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(255, 255, 255, 0);
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 6px;
  }

  &--table {
    border-spacing: 0;

    thead th {
      font-weight: $fontWeightBlack;
      font-size: $sizeFontTiny;
      color: $colorBlack;
    }

    th,
    td {
      text-align: left;
      font-weight: $fontWeightDefault;
      padding: ($sizeSmallRegular/ 2) $sizeSmallRegular;
    }

    .atm-list__item {
      display: table-row;
      line-height: $sizeLineHeightBase;
      vertical-align: top;
      height: auto;
    }
  }

  &__item {
    position: relative;
    color: $colorBlack60;
    height: pxToRem($sizeSmallHuge);
    line-height: pxToRem($sizeSmallHuge);
    padding-left: pxToRem($sizeSmallRegular);
    align-items: center;
    // display: flex;
    // cursor: pointer;

    &.selected {
      background-color: $colorCyan;
      color: $colorBlack;
    }

    &.hover,
    &:hover:not(.selected) {
      background: rgba(0, 0, 0, 0.05);
      color: $colorBlack;
    }

    a {
      text-decoration: none;
      color: $colorBlack;
      display: inline-flex;
      width: 100%;
      height: 100%;
    }

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      cursor: pointer;
    }

    .icon {
      pointer-events: none;
      position: absolute;
      top: 0;
      margin: pxToRem($sizeSmallRegular);
    }

    &--check-icon,
    &--icon-left {
      padding-left: pxToRem($sizeHuge);

      .icon {
        left: 0;
      }
    }

    &--check-icon {
      .icon {
        display: none;
      }

      &.selected .icon {
        display: block;
        color: $colorWhite;
      }
    }

    &--icon-right {
      padding-right: pxToRem($sizeHuge);

      .icon {
        display: block;
        color: $colorBlack60;

        &:last-of-type {
          right: 0;
          left: auto;
        }
      }
    }
  }
}
