.mdl-newsletter_form {
  @include sizeCurve(margin-bottom, big);

  &__form {
    display: flex;

    .atm-form_input {
      flex-grow: 1;
      margin-right: $sizeRegular;
    }

    @include mq($to: small) {
      display: block;

      .atm-form_input {
        margin-bottom: $sizeSmallRegular;
      }

      .atm-form_input,
      .atm-button {
        width: 100%;
      }
    }
  }

  &__wrapper {
    @include gridBleed($fullwidth: true);
  }
}
