* {
  box-sizing: border-box;
}

html {
  background: $colorBg;
  color: $colorText;
  font-family: $fontFamilyBase;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: $sizeLineHeightBase;
}

html,
body {
  overflow-x: hidden;
}

nav {

  ul,
  ol {
    @include resetList;
  }
}

.l-wrapper {
  margin: 0 auto;
  width: pxToEm($sizeWidthContent);
  max-width: 100%;

  position: relative;

  @each $bp, $bpWidth in $mqBreakpoints {
    @if map-has-key($map: $wrapperSpacing, $key: $bp) {
      @include mq($bp) {
        max-width: calc(100% - #{2 * map-get($wrapperSpacing, $bp)});
      }
    } @else {
      @include mq($bp) {
        max-width: 100%;
      }
    }
  }
}
