* {
  box-sizing: border-box;
}

html {
  background: $colorWhite;
  color: $colorText;
  font-family: $fontFamilyBase;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: $sizeLineHeightBase;
}

html,
body {
  overflow-x: hidden;

  .focus-invisible {
    &:focus {
      outline: none;
    }
  }

  &.locked {
    overflow: hidden;
  }
}

nav {
  ul,
  ol {
    @include resetList;
  }
}

.lyt-wrapper {
  margin: 0 auto;
  width: pxToEm($sizeWidthContent);
  max-width: 100%;

  position: relative;

  @extend .grid-container;
  @extend .full;

  @each $bp, $bpWidth in $mqBreakpoints {
    @if map-has-key($map: $wrapperSpacing, $key: $bp) {
      @include mq($bp) {
        max-width: calc(100% - #{2 * pxToRem(map-get($wrapperSpacing, $bp))});
      }
    } @else {
      @include mq($bp) {
        max-width: 100%;
      }
    }
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    * {
      ::selection {
        background: #{$val};
        color: $colorWhite;
      }
    }
  }
}

.mod-margin {
  &--bottom {
    @include sizeCurve(margin-bottom, big);
  }

  &--bottom-small {
    @include sizeCurve(margin-bottom, medium);
  }

  &--top {
    @include sizeCurve(margin-top, big);
  }

  &--top-small {
    @include sizeCurve(margin-top, medium);
  }
}
