@use 'sass:math';

:root {
  --color-text: #{$colorBlack};
  --color-text-soft: #{$colorBlack60};
  --color-bg: #{$colorWhite};
  --scrollbar-wd: 17px;

  @include sizeCurve(--grid-outer-gutters, bleed, $grid-outer-gutters);
}

* {
  box-sizing: border-box;
  font-feature-settings: 'ss07', 'ss08', 'cv03', 'cv04', 'cv10';
}

html {
  background: $colorWhite;
  color: $colorText;
  font-family: $fontFamilyBase;
  font-size: math.div(strip-unit($sizeFontBase), 16) * 100%;
  font-optical-sizing: auto;
  line-height: $sizeLineHeightBase;
  scroll-behavior: smooth;
  scroll-padding-top: pxToRem(120px);
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

html,
body {
  overflow-x: hidden;

  .focus-invisible {
    &:focus {
      outline: none;
    }
  }

  &.locked {
    overflow: hidden;
  }
}

nav {
  ul,
  ol {
    @include resetList;
  }
}

.lyt-wrapper {
  margin: 0 auto;
  width: pxToEm($sizeWidthContent);
  max-width: 100%;

  position: relative;

  @extend .grid-container;
  @extend .full;

  @each $bp, $bpWidth in $mqBreakpoints {
    @if map-has-key($map: $wrapperSpacing, $key: $bp) {
      @include mq($bp) {
        max-width: calc(100% - pxToRem(2 * map-get($wrapperSpacing, $bp)));
      }
    } @else {
      @include mq($bp) {
        max-width: 100%;
      }
    }
  }
}

/**
 * Color variations
 */
@each $key, $val in $tl-color-variations {
  .#{$key} {
    * {
      ::selection {
        background: #{$val};
        color: #{$colorWhite};
      }
    }
    --color-accent: #{$val};
  }
}
@each $key, $val in $tl-color-variations-soft {
  .#{$key} {
    --color-accent-soft: #{$val};
  }
}

@media screen {
  .cv-inverted {
    ::selection {
      color: #{$colorBlack};
      background: #{$colorWhite};
    }
    --color-text: #{$colorWhite};
    --color-text-soft: var(--color-accent-soft);
    --color-bg: var(--color-accent);
  }
}

.mod-margin {
  &--bottom {
    @include sizeCurve(margin-bottom, big);
  }

  &--bottom-small {
    @include sizeCurve(margin-bottom, medium);
  }

  &--top {
    @include sizeCurve(margin-top, big);
  }

  &--top-small {
    @include sizeCurve(margin-top, medium);
  }
}
