.mdl-richtext {
  max-width: none;

  .atm-lead,
  .atm-heading {
    margin-left: 0 !important; // stylelint-disable-line
  }

  p {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));
  }

  &__emphasis {
    p {
      @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));
    }
  }


  ul {
    @include sizeCurve('margin-bottom', small);

    li {
      @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));
    }

    &.mdl-richtext__benefits {
      li {
        &:before {
          content: url(svg-tickmark($colorBlack)); // stylelint-disable-line
          background: none;
          margin-top: -2px;
          padding-left: 0;

          @include sizeCurve('width', medium);
          @include sizeCurve('height', medium);
        }
      }
    }
  }

  ol {
    @include sizeCurve('margin-bottom', small);
    @include sizeCurve('padding-left', benefits, $indentCurve);

    li {
      @include polyFluidSizing('font-size', map-get($fontSizeCurves, tiny));

      &:before {
        @include sizeCurve('margin-left', benefits, $indentCurve, true);

        color: $colorBlack !important; // stylelint-disable-line
      }
    }
  }
}
