<div class="mdl-stepper" data-init="stepper">


	<form class="form" data-stepper="form" novalidate action="/mocks/modules/form/form.json">
		<div class="mdl-stepper__wrapper form" data-stepper="wrapper" data-overlay-id="serviceOverlay1">
			<div class="mdl-stepper__step" data-stepper="step" data-step-index="0">
				<div data-stepper="ruleNotificationWrapper"></div>
				<fieldset class="form__section">

					<div class="form__group ">
						<div class="form__row">
							<div class="form__cell form__cell--small">
								<fieldset class="form__fieldset" data-input>
									<legend class="form__legend">Anrede</legend>
									<div class="form__fieldset-list ">
										<div class="atm-radiobutton ">
											<input id="radio6" type="radio" value="mrs" name="salutation2">
											<label for="radio6">
												Frau

											</label>
										</div>

										<div class="atm-radiobutton ">
											<input id="radio7" type="radio" value="mr" name="salutation2">
											<label for="radio7">
												Herr

											</label>
										</div>

										<div class="atm-radiobutton ">
											<input id="radio8" type="radio" value="no" name="salutation2">
											<label for="radio8">
												Keine Angabe

											</label>
										</div>

									</div>
									<p data-message="required" class="form__fieldset-error-message"></p>
								</fieldset>

							</div>
						</div>

						<div class="form__row">
							<div class="form__cell ">
								<div class="atm-form_input atm-form_input--floated
            " data-input>


									<input class="atm-form_input__input" id="prename2" placeholder="Vorname" name="prename" value="" type="text" required data-validation data-floating>

									<label for="prename2">Vorname</label>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







									<p data-message="required">Dies ist ein Pflichtfeld</p>
								</div>

							</div>
							<div class="form__cell ">
								<div class="atm-form_input atm-form_input--floated
            " data-input>


									<input class="atm-form_input__input" id="surname2" placeholder="Nachname" name="surname" value="" type="text" required data-validation data-floating>

									<label for="surname2">Nachname</label>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







									<p data-message="required">Dies ist ein Pflichtfeld</p>
								</div>

							</div>
						</div>

						<div class="form__row">
							<div class="form__cell form__cell--small">
								<div class="atm-form_input atm-form_input--floated
            " data-input>


									<input class="atm-form_input__input" data-pattern="^[0-9]{4,4}$" id="zip2" placeholder="PLZ" name="zip" value="" type="text" required data-validation data-floating>

									<label for="zip2">PLZ</label>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>






									<p data-message="pattern">Bitte geben Sie eine gültige schweizerische Postleizahl an.</p>
									<p data-message="required">Dies ist ein Pflichtfeld</p>
								</div>

							</div>
							<div class="form__cell ">
								<div class="atm-form_input atm-form_input--floated
            " data-input>


									<input class="atm-form_input__input" id="city2" placeholder="Ort" name="city" value="" type="text" required data-validation data-floating>

									<label for="city2">Ort</label>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







									<p data-message="required">Dies ist ein Pflichtfeld</p>
								</div>

							</div>
						</div>

					</div>
					<div class="form__group form__group--duplicatable" data-form="duplicatable" data-max-duplications="3">
						<div class="form__row">
							<div class="form__cell ">
								<div class="atm-form_input atm-form_input--floated
            " data-input>


									<input class="atm-form_input__input" id="group2_text" placeholder="Text" name="group2_text" value="" type="text" required data-validation data-floating>

									<label for="group2_text">Text</label>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







									<p data-message="required">Dies ist ein Pflichtfeld</p>
								</div>

							</div>
						</div>

						<div class="form__row">
							<div class="form__cell ">
								<div class="mdl-datepicker" data-init="datepicker" data-datetimeformat="date" data-localization="de">
									<div class="atm-form_input atm-form_input--floated atm-form_input--icon
                " data-input>


										<input class="atm-form_input__input" data-pattern="^\d{2}\.\d{2}\.\d{4}$" id="date-in-group2581" placeholder="Datum" name="input_name" value="" type="text" required data-validation data-floating data-input-mask="\d\d\.[\d.]\d\d\.[\d.]\d\d\d\d" data-mask-placeholder="TT.MM.JJJJ">
										<span class="atm-form_input__backdrop">
											<i></i>TT.MM.JJJJ
										</span>

										<label for="date-in-group2581">Datum</label>


										<svg class="icon" focusable="false">
											<use xlink:href="#calendar"></use>
										</svg>




										<p data-message="pattern">Bitte geben Sie eine korrektes Datum an.</p>
										<p data-message="required">Dies ist ein Pflichtfeld</p>
									</div>
								</div>

							</div>
							<div class="form__cell ">
								<div class="mdl-select" data-init="select" data-input>
									<div class="atm-form_input atm-form_input--floated atm-form_input--trigger
              ">
										<button aria-expanded="false" id="dropdown-in-group2582" class="atm-form_input__input atm-form_input__input--trigger" type="button">
											<span class="atm-form_input__trigger-label">Dropdown</span>
											<span class="atm-form_input__trigger-value"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#angle_drop_down"></use>
											</svg>
										</button>
										<span class="atm-form_input__validate-icon">
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#confirm"></use>
												</svg>
											</span>
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#caution"></use>
												</svg>
											</span>
										</span>






										<p data-message="required">Dies ist ein Pflichtfeld</p>
									</div>
									<div class="mdl-select__options">

										<ul class="atm-list" tabindex="-1" data-inputtype="radio" tabindex="-1">
											<li id="option-item24" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item24" type="radio" value="" placeholder="" data-select-option data-validation required>


												<label for="radio-option-item24"></label>
											</li>
											<li id="option-item25" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item25" type="radio" value="mig" placeholder="Migration & Integration" data-select-option data-validation required>


												<label for="radio-option-item25">Migration & Integration</label>
											</li>
											<li id="option-item26" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item26" type="radio" value="mo" placeholder="Mobilität" data-select-option data-validation required>


												<label for="radio-option-item26">Mobilität</label>
											</li>
											<li id="option-item27" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item27" type="radio" value="sich" placeholder="Sicherheit & Justiz" data-select-option data-validation required>


												<label for="radio-option-item27">Sicherheit & Justiz</label>
											</li>
											<li id="option-item28" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item28" type="radio" value="so" placeholder="Soziales" data-select-option data-validation required>


												<label for="radio-option-item28">Soziales</label>
											</li>
											<li id="option-item29" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item29" type="radio" value="st" placeholder="Steuern" data-select-option data-validation required>


												<label for="radio-option-item29">Steuern</label>
											</li>
											<li id="option-item30" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item30" type="radio" value="umte" placeholder="Umwelt & Tier" data-select-option data-validation required>


												<label for="radio-option-item30">Umwelt & Tier</label>
											</li>
											<li id="option-item31" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item31" type="radio" value="ge" placeholder="Gemeinschaften" data-select-option data-validation required>


												<label for="radio-option-item31">Gemeinschaften</label>
											</li>
											<li class="atm-list__item">
												<input name="singleSelect" type="radio" value="scer" placeholder="Schulen & Erziehung" data-select-option data-validation required>


												<label for="radio-">Schulen & Erziehung</label>
											</li>

										</ul>

									</div>
								</div>

							</div>
						</div>

						<div class="form__row">
							<div class="form__cell ">
								<div class="mdl-select" data-init="select" data-input>
									<div class="atm-form_input atm-form_input--floated atm-form_input--trigger
              ">
										<button aria-expanded="false" id="dropdown-in-group2583" class="atm-form_input__input atm-form_input__input--trigger" type="button">
											<span class="atm-form_input__trigger-label">Dropdown 2</span>
											<span class="atm-form_input__trigger-value"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#angle_drop_down"></use>
											</svg>
										</button>
										<span class="atm-form_input__validate-icon">
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#confirm"></use>
												</svg>
											</span>
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#caution"></use>
												</svg>
											</span>
										</span>






										<p data-message="required">Dies ist ein Pflichtfeld</p>
									</div>
									<div class="mdl-select__options">

										<ul class="atm-list" tabindex="-1" data-inputtype="radio" tabindex="-1">
											<li id="option-item24" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item24" type="radio" value="" placeholder="" data-select-option data-validation required>


												<label for="radio-option-item24"></label>
											</li>
											<li id="option-item25" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item25" type="radio" value="mig" placeholder="Migration & Integration" data-select-option data-validation required>


												<label for="radio-option-item25">Migration & Integration</label>
											</li>
											<li id="option-item26" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item26" type="radio" value="mo" placeholder="Mobilität" data-select-option data-validation required>


												<label for="radio-option-item26">Mobilität</label>
											</li>
											<li id="option-item27" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item27" type="radio" value="sich" placeholder="Sicherheit & Justiz" data-select-option data-validation required>


												<label for="radio-option-item27">Sicherheit & Justiz</label>
											</li>
											<li id="option-item28" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item28" type="radio" value="so" placeholder="Soziales" data-select-option data-validation required>


												<label for="radio-option-item28">Soziales</label>
											</li>
											<li id="option-item29" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item29" type="radio" value="st" placeholder="Steuern" data-select-option data-validation required>


												<label for="radio-option-item29">Steuern</label>
											</li>
											<li id="option-item30" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item30" type="radio" value="umte" placeholder="Umwelt & Tier" data-select-option data-validation required>


												<label for="radio-option-item30">Umwelt & Tier</label>
											</li>
											<li id="option-item31" class="atm-list__item">
												<input name="singleSelect" id="radio-option-item31" type="radio" value="ge" placeholder="Gemeinschaften" data-select-option data-validation required>


												<label for="radio-option-item31">Gemeinschaften</label>
											</li>
											<li class="atm-list__item">
												<input name="singleSelect" type="radio" value="scer" placeholder="Schulen & Erziehung" data-select-option data-validation required>


												<label for="radio-">Schulen & Erziehung</label>
											</li>

										</ul>

									</div>
								</div>

							</div>
						</div>

						<button type="button" class="form__duplicator atm-text_link atm-text_link--icon" data-duplicate="duplicator">
							<svg class="icon icon--iframe-add" focusable="false">
								<use xlink:href="#add-new"></use>
							</svg>
							Weitere Gruppe hinzufügen
						</button>
						<script type="text/x-handlebars-template">
							<div class="form__duplicated">
                        <div class="form__row">
                            <div class="form__cell ">
                              <div class="atm-form_input atm-form_input--floated
            "
             data-input
            >
          
          
              <input class="atm-form_input__input"
                
                
                 id="group2_text" placeholder="Text" name="group2_text" value="" type="text"
                
                 required
                
                
                
                
                 data-validation
                 data-floating
                
                
                
                
                
              >
          
              <label for="group2_text">Text</label>
                    <span class="atm-form_input__validate-icon">
                    <span>
                      <span class="visuallyhidden"></span>
                      <svg class="icon" focusable="false">
                        <use xlink:href="#confirm"></use>
                      </svg>
                    </span>
                    <span>
                       <span class="visuallyhidden"></span>
                       <svg class="icon" focusable="false">
                          <use xlink:href="#caution"></use>
                        </svg>
                    </span>
                  </span>
          
          
          
          
          
            
            
            <p data-message="required">Dies ist ein Pflichtfeld</p>
          </div>
          
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__cell ">
                              <div class="mdl-datepicker" data-init="datepicker" data-datetimeformat="date" data-localization="de"  >
              <div class="atm-form_input atm-form_input--floated atm-form_input--icon
                "
                 data-input
                >
              
              
                  <input class="atm-form_input__input"
                     data-pattern="^\d{2}\.\d{2}\.\d{4}$"
                    
                     id="date-in-group2584" placeholder="Datum" name="input_name" value="" type="text"
                    
                     required
                    
                    
                    
                    
                     data-validation
                     data-floating
                     data-input-mask="\d\d\.[\d.]\d\d\.[\d.]\d\d\d\d"
                     data-mask-placeholder="TT.MM.JJJJ"
                    
                    
                    
                  >
                    <span class="atm-form_input__backdrop">
                      <i></i>TT.MM.JJJJ
                    </span>
              
                  <label for="date-in-group2584">Datum</label>
              
              
                    <svg class="icon" focusable="false">
                      <use xlink:href="#calendar"></use>
                    </svg>
              
              
              
                
                <p data-message="pattern">Bitte geben Sie eine korrektes Datum an.</p>
                <p data-message="required">Dies ist ein Pflichtfeld</p>
              </div>
          </div>
          
                            </div>
                            <div class="form__cell ">
                              <div
            class="mdl-select"
            data-init="select"
            data-input
            
            >
            <div class="atm-form_input atm-form_input--floated atm-form_input--trigger
              "
              
              >
                <button aria-expanded="false" id="dropdown-in-group2585"
                        class="atm-form_input__input atm-form_input__input--trigger" type="button">
                  <span class="atm-form_input__trigger-label">Dropdown</span>
                  <span class="atm-form_input__trigger-value"></span>
                  <svg class="icon" focusable="false">
                    <use xlink:href="#angle_drop_down"></use>
                  </svg>
                </button>
                <span class="atm-form_input__validate-icon">
                      <span>
                        <span class="visuallyhidden"></span>
                        <svg class="icon" focusable="false">
                          <use xlink:href="#confirm"></use>
                        </svg>
                      </span>
                      <span>
                         <span class="visuallyhidden"></span>
                         <svg class="icon" focusable="false">
                            <use xlink:href="#caution"></use>
                          </svg>
                      </span>
                    </span>
            
            
            
            
              
              
              <p data-message="required">Dies ist ein Pflichtfeld</p>
            </div>
            <div class="mdl-select__options">
          
              <ul
                class="atm-list"
                tabindex="-1"
                data-inputtype="radio"
                tabindex="-1"
                >
                  <li
                    id="option-item24"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item24"
                           type="radio"
                           value=""
                           placeholder=""
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item24"></label>
                  </li>
                  <li
                    id="option-item25"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item25"
                           type="radio"
                           value="mig"
                           placeholder="Migration & Integration"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item25">Migration & Integration</label>
                  </li>
                  <li
                    id="option-item26"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item26"
                           type="radio"
                           value="mo"
                           placeholder="Mobilität"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item26">Mobilität</label>
                  </li>
                  <li
                    id="option-item27"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item27"
                           type="radio"
                           value="sich"
                           placeholder="Sicherheit & Justiz"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item27">Sicherheit & Justiz</label>
                  </li>
                  <li
                    id="option-item28"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item28"
                           type="radio"
                           value="so"
                           placeholder="Soziales"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item28">Soziales</label>
                  </li>
                  <li
                    id="option-item29"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item29"
                           type="radio"
                           value="st"
                           placeholder="Steuern"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item29">Steuern</label>
                  </li>
                  <li
                    id="option-item30"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item30"
                           type="radio"
                           value="umte"
                           placeholder="Umwelt & Tier"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item30">Umwelt & Tier</label>
                  </li>
                  <li
                    id="option-item31"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item31"
                           type="radio"
                           value="ge"
                           placeholder="Gemeinschaften"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item31">Gemeinschaften</label>
                  </li>
                  <li
                    
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           
                           type="radio"
                           value="scer"
                           placeholder="Schulen & Erziehung"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-">Schulen & Erziehung</label>
                  </li>
                
              </ul>
          
            </div>
          </div>
          
                            </div>
                        </div>
                        <div class="form__row">
                            <div class="form__cell ">
                              <div
            class="mdl-select"
            data-init="select"
            data-input
            
            >
            <div class="atm-form_input atm-form_input--floated atm-form_input--trigger
              "
              
              >
                <button aria-expanded="false" id="dropdown-in-group2586"
                        class="atm-form_input__input atm-form_input__input--trigger" type="button">
                  <span class="atm-form_input__trigger-label">Dropdown 2</span>
                  <span class="atm-form_input__trigger-value"></span>
                  <svg class="icon" focusable="false">
                    <use xlink:href="#angle_drop_down"></use>
                  </svg>
                </button>
                <span class="atm-form_input__validate-icon">
                      <span>
                        <span class="visuallyhidden"></span>
                        <svg class="icon" focusable="false">
                          <use xlink:href="#confirm"></use>
                        </svg>
                      </span>
                      <span>
                         <span class="visuallyhidden"></span>
                         <svg class="icon" focusable="false">
                            <use xlink:href="#caution"></use>
                          </svg>
                      </span>
                    </span>
            
            
            
            
              
              
              <p data-message="required">Dies ist ein Pflichtfeld</p>
            </div>
            <div class="mdl-select__options">
          
              <ul
                class="atm-list"
                tabindex="-1"
                data-inputtype="radio"
                tabindex="-1"
                >
                  <li
                    id="option-item24"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item24"
                           type="radio"
                           value=""
                           placeholder=""
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item24"></label>
                  </li>
                  <li
                    id="option-item25"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item25"
                           type="radio"
                           value="mig"
                           placeholder="Migration & Integration"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item25">Migration & Integration</label>
                  </li>
                  <li
                    id="option-item26"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item26"
                           type="radio"
                           value="mo"
                           placeholder="Mobilität"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item26">Mobilität</label>
                  </li>
                  <li
                    id="option-item27"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item27"
                           type="radio"
                           value="sich"
                           placeholder="Sicherheit & Justiz"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item27">Sicherheit & Justiz</label>
                  </li>
                  <li
                    id="option-item28"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item28"
                           type="radio"
                           value="so"
                           placeholder="Soziales"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item28">Soziales</label>
                  </li>
                  <li
                    id="option-item29"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item29"
                           type="radio"
                           value="st"
                           placeholder="Steuern"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item29">Steuern</label>
                  </li>
                  <li
                    id="option-item30"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item30"
                           type="radio"
                           value="umte"
                           placeholder="Umwelt & Tier"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item30">Umwelt & Tier</label>
                  </li>
                  <li
                    id="option-item31"
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           id="radio-option-item31"
                           type="radio"
                           value="ge"
                           placeholder="Gemeinschaften"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-option-item31">Gemeinschaften</label>
                  </li>
                  <li
                    
                    class="atm-list__item"
                    >
                    <input  name="singleSelect"
                           
                           type="radio"
                           value="scer"
                           placeholder="Schulen & Erziehung"
                           data-select-option
                           
                           
                           data-validation
                           required>
              
              
                    <label for="radio-">Schulen & Erziehung</label>
                  </li>
                
              </ul>
          
            </div>
          </div>
          
                            </div>
                        </div>
                            <button type="button" class="form__remover" data-duplicate="remover" data-remove-uid="">
                              <svg class="icon" focusable="false">
                                <use xlink:href="#delete"></use>
                              </svg>
                              <span class="visuallyhidden">Gruppe wieder entfernen</span>
                            </button>
                            <button type="button" class="form__duplicator atm-text_link atm-text_link--icon" data-duplicate="duplicator">
                              <svg class="icon icon--iframe-add" focusable="false">
                                <use xlink:href="#add-new"></use>
                              </svg>
                              Weitere Gruppe hinzufügen
                            </button>
                    </div>
                  </script>
					</div>
				</fieldset>
			</div>

			<div class="mdl-stepper__step" data-stepper="step">
				<div class="mdl-notification
        mdl-notification--green
        mdl-notification--big
        ">
					<svg class="icon" focusable="false">
						<use xlink:href="#confirm"></use>
					</svg>
					<div class="mdl-notification__message">
						<h3 class="mdl-notification__title">Vielen Dank</h3>
						<p>Ihr Daten wurden an das Strassenverkehrsamt übermittelt, man wird sich mit Ihnen in Verbindung setzen.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mdl-stepper__last-page-info" data-stepper="lastpage">
			<label class="atm-toggle" for="allowmailnotification">
				<input type="checkbox" value="true" name="allowmailnotification" id="allowmailnotification" />
				<span class="atm-toggle__label">E-Mail Benachrichtigungen erlauben</span>
			</label>
			<div class="atm-form_input atm-form_input--floated
          " data-input data-rules="[{&quot;conditions&quot;:[{&quot;field&quot;:&quot;allowmailnotification&quot;,&quot;equals&quot;:true,&quot;value&quot;:&quot;true&quot;}],&quot;action&quot;:&quot;show&quot;}]">


				<input class="atm-form_input__input" id="reply-to192" placeholder="Ihre E-Mail-Adresse" name="reply-to193" value="" type="email" required data-validation data-floating>

				<label for="reply-to192">Ihre E-Mail-Adresse</label>
				<span class="atm-form_input__validate-icon">
					<span>
						<span class="visuallyhidden"></span>
						<svg class="icon" focusable="false">
							<use xlink:href="#confirm"></use>
						</svg>
					</span>
					<span>
						<span class="visuallyhidden"></span>
						<svg class="icon" focusable="false">
							<use xlink:href="#caution"></use>
						</svg>
					</span>
				</span>






				<p data-message="pattern">Bitte geben Sie eine gültige Mail an.</p>
				<p data-message="required">Dies ist ein Pflichtfeld</p>
			</div>

		</div>
	</form>


	<div class="mdl-stepper__message" data-stepper="messageWrapper" data-singular-text="Bitte kontrollieren Sie Ihre Angabe für das Feld <%= list %>." data-plural-text="Bitte kontrollieren Sie Ihre Angaben für die folgenden Felder: <%= list %>" data-error-text="Da ist leider etwas schief gegangen! Ihre Angaben konnten leider nicht übermittelt werden. Es tut uns leid. Bitte probieren Sie es erneut oder melden Sie sich bei: Tel.: [XX]">
		<script data-stepper="notificationTemplate" type="text/x-handlebars-template">
			<div class="mdl-notification
  <% if (typeof(isGreen) !== "undefined" && isGreen !== false) { %>mdl-notification--green<% } %>
  <% if (typeof(isBig) !== "undefined" && isBig !== false) { %>mdl-notification--big<% } %>
  <% if (typeof(isDialog) !== "undefined" && isDialog !== false) { %>mdl-notification--dialog<% } %>" <% if (typeof(focussable) !== "undefined" && focussable !== false) { %>tabindex="0"<% } %>>
  <svg class="icon" focusable="false">
    <use xlink:href="<%=icon%>"></use>
  </svg>
  <div class="mdl-notification__message">
    <% if (typeof(title) !== "undefined" && title !== false) { %><h3 class="mdl-notification__title"><%=title%></h3><% } %>
    <p><%=message%></p>
  </div>
  <% if (typeof(button) !== "undefined" && button !== false) { %>
    <button
      class="atm-button<% if (typeof(button.icon) !== "undefined" && button.icon !== false) { %> atm-button--icon-only atm-button--small<% } %>"
      <% if (typeof(button.additionalAttribute) !== "undefined" && button.additionalAttribute !== false) { %><%=button.additionalAttribute%><% } %>
    >
      <% if (typeof(button.icon) !== "undefined" && button.icon !== false) { %>
        <svg class="icon atm-button__icon" focusable="false">
          <use xlink:href="#<%=button.icon%>"></use>
        </svg>
        <span class="visuallyhidden"><%= button.label %></span>
      <%=else%>
        <%= button.label %>
      <% } %>
    </button>
  <% } %>
</div>

    </script>

	</div>

	<script type="text/x-handlebars-template" data-stepper="ruleNotification">
		<div class="mdl-notification
      
      
      mdl-notification--dialog" >
      <svg class="icon" focusable="false">
        <use xlink:href="#caution"></use>
      </svg>
      <div class="mdl-notification__message">
        <h3 class="mdl-notification__title">Wichtig</h3>
        <p>Die von Ihnen gemachte Änderung hat gegebenfalls Einfluss auf die danach folgenden Felder. Bitte überprüfen Sie Ihre Angaben erneut.</p>
      </div>
    </div>
  </script>

	<div class="mdl-stepper__control" data-stepper="control">
		<button class="atm-button atm-button--secondary mdl-stepper__back" data-stepper="back">Zurück</button>
		<button class="atm-button mdl-stepper__next" data-stepper="next">Weiter</button>
		<button class="atm-button mdl-stepper__send" data-stepper="send">
			<span class="atm-button__text ">
				Senden
			</span>
			<span class="atm-button__spinner"></span>
		</button>
	</div>
</div>