<div class="mdl-stepper" data-init="stepper">
	<h2 class="atm-heading">Formular mit Schritten</h2>

	<ol class="mdl-stepper_navigation" data-init="stepperNavigation">
		<li>
			<button class="mdl-stepper_navigation__step" data-stepper_navigation="step" data-step="0" disabled>
				<svg class="icon mdl-stepper_navigation__step-checkmark" focusable="false">
					<use xlink:href="#check"></use>
				</svg>
				<svg class="icon mdl-stepper_navigation__step-dots" focusable="false">
					<use xlink:href="#overflow"></use>
				</svg>
				<span class="mdl-stepper_navigation__step-ordinal" data-stepper_navigation="number"></span>
				<span class="mdl-stepper_navigation__step-title">Schritt 1</span>
			</button>
		</li>
		<li>
			<button class="mdl-stepper_navigation__step" data-stepper_navigation="step" data-step="1" disabled>
				<svg class="icon mdl-stepper_navigation__step-checkmark" focusable="false">
					<use xlink:href="#check"></use>
				</svg>
				<svg class="icon mdl-stepper_navigation__step-dots" focusable="false">
					<use xlink:href="#overflow"></use>
				</svg>
				<span class="mdl-stepper_navigation__step-ordinal" data-stepper_navigation="number"></span>
				<span class="mdl-stepper_navigation__step-title">Schritt 2</span>
			</button>
		</li>
		<li>
			<button class="mdl-stepper_navigation__step" data-stepper_navigation="step" data-step="2" disabled>
				<svg class="icon mdl-stepper_navigation__step-checkmark" focusable="false">
					<use xlink:href="#check"></use>
				</svg>
				<svg class="icon mdl-stepper_navigation__step-dots" focusable="false">
					<use xlink:href="#overflow"></use>
				</svg>
				<span class="mdl-stepper_navigation__step-ordinal" data-stepper_navigation="number"></span>
				<span class="mdl-stepper_navigation__step-title">Bestätigung</span>
			</button>
		</li>
	</ol>
	<form class="form" data-stepper="form" novalidate action="/mocks/modules/form/form.json">
		<div class="mdl-stepper__wrapper form" data-stepper="wrapper">
			<div class="mdl-stepper__step" data-stepper="step" data-step-index="0">
				<div data-stepper="ruleNotificationWrapper"></div>
				<fieldset class="form__section">
					<legend class="atm-heading h3 form__section-title">Persönliche Angaben</legend>
					<div class="form__group ">
						<div class="form__row">
							<div class="form__cell ">
								<div class="atm-form_input atm-form_input--floated
            " data-input>



									<input class="atm-form_input__input" id="dummy_2" placeholder="Feld 2" name="dummy_2" value="" type="text" data-floating>




									<label for="dummy_2">Feld 2</label>








								</div>

							</div>
						</div>

					</div>
				</fieldset>
			</div>
			<div class="mdl-stepper__step" data-stepper="step" data-step-index="1">
				<div data-stepper="ruleNotificationWrapper"></div>
				<fieldset class="form__section">
					<legend class="atm-heading h3 form__section-title">Persönliche Angaben</legend>
					<div class="form__group ">
						<div class="form__row">
							<div class="form__cell form__cell--small">
								<div class="mdl-select" data-init="select" data-input>
									<div class="atm-form_input atm-form_input--floated atm-form_input--trigger
              ">
										<button aria-expanded="false" id="float_button-25" class="atm-form_input__input atm-form_input__input--trigger" type="button">
											<span class="atm-form_input__trigger-label">Select Float Label</span>
											<span class="atm-form_input__trigger-value"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#angle_drop_down"></use>
											</svg>
										</button>
										<span class="atm-form_input__validate-icon">
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#confirm"></use>
												</svg>
											</span>
											<span>
												<span class="visuallyhidden"></span>
												<svg class="icon" focusable="false">
													<use xlink:href="#caution"></use>
												</svg>
											</span>
										</span>










										<p data-message="required">Dies ist ein Pflichtfeld</p>
									</div>
									<div class="mdl-select__options">



										<ul class="atm-list" tabindex="-1" data-inputtype="radio" tabindex="-1">
											<li id="option-item29" class="atm-list__item">
												<input name="nationality-sf2" id="radio-option-item29" type="radio" value="" placeholder="" data-select-option data-validation required>


												<label for="radio-option-item29"></label>
											</li>
											<li id="cnationalityx632" class="atm-list__item">
												<input name="nationality-sf2" id="radio-cnationalityx632" type="radio" value="BE" placeholder="Belgien" data-select-option data-validation required>


												<label for="radio-cnationalityx632">Belgien</label>
											</li>
											<li id="cnationalityx633" class="atm-list__item">
												<input name="nationality-sf2" id="radio-cnationalityx633" type="radio" value="DE" placeholder="Deutschland" data-select-option data-validation required>


												<label for="radio-cnationalityx633">Deutschland</label>
											</li>
											<li id="cnationalityx634" class="atm-list__item">
												<input name="nationality-sf2" id="radio-cnationalityx634" type="radio" value="CH" placeholder="Schweiz" data-select-option data-validation required>


												<label for="radio-cnationalityx634">Schweiz</label>
											</li>
											<li id="option-item33" class="atm-list__item">
												<input name="nationality-sf2" id="radio-option-item33" type="radio" value="so" placeholder="Soziales" data-select-option data-validation required>


												<label for="radio-option-item33">Soziales</label>
											</li>
											<li id="option-item34" class="atm-list__item">
												<input name="nationality-sf2" id="radio-option-item34" type="radio" value="st" placeholder="Steuern" data-select-option data-validation required>


												<label for="radio-option-item34">Steuern</label>
											</li>
											<li id="option-item35" class="atm-list__item">
												<input name="nationality-sf2" id="radio-option-item35" type="radio" value="umte" placeholder="Umwelt & Tier" data-select-option data-validation required>


												<label for="radio-option-item35">Umwelt & Tier</label>
											</li>
											<li id="option-item36" class="atm-list__item">
												<input name="nationality-sf2" id="radio-option-item36" type="radio" value="ge" placeholder="Gemeinschaften" data-select-option data-validation required>


												<label for="radio-option-item36">Gemeinschaften</label>
											</li>
											<li class="atm-list__item">
												<input name="nationality-sf2" type="radio" value="scer" placeholder="Schulen & Erziehung" data-select-option data-validation required>


												<label for="radio-">Schulen & Erziehung</label>
											</li>

										</ul>

									</div>
								</div>

							</div>
						</div>

						<div class="form__row">
							<div class="form__cell ">
								<div data-rules="[{&quot;conditions&quot;:[{&quot;field&quot;:&quot;nationality-sf2&quot;,&quot;equals&quot;:true,&quot;value&quot;:&quot;CH&quot;}],&quot;action&quot;:&quot;show&quot;},{&quot;conditions&quot;:[{&quot;field&quot;:&quot;nationality-sf2&quot;,&quot;equals&quot;:true,&quot;value&quot;:&quot;DE&quot;}],&quot;action&quot;:&quot;show&quot;}]">
									<fieldset class="mdl-file_upload" data-init="fileUpload" data-input>
										<legend class="atm-heading h4">Dokumente hochladen</legend>
										<p class="mdl-file_upload__subtitle">Hier können Sie ihren Lebenslauf hochladen</p>
										<input class="visuallyhidden" type="file" name="fileupload_SXX" id="fileupload_SXX" data-file_upload="input" data-validation data-max-size="26214400" data-file-types="text/csv, image/gif, text/html, image/jpeg, application/pdf, image/png, image/tiff, application/rtf, image/svg+xml, text/plain, application/xml" required />
										<div class="mdl-file_upload__dropzone" aria-hidden="true" data-file_upload="dropzone">
											<p>Zum Hochladen Datei ziehen und hier ablegen</p>
											<label class="mdl-file_upload__button atm-button atm-button--secondary" for="fileupload_SXX">Datei auswählen</label>
										</div>
										<p class="mdl-file_upload__error" data-message="required">Bitte geben Sie eine Datei an</p>
										<p class="mdl-file_upload__error" data-message="onlyonefile">Sie können nur 1 Datei gleichzeitig hochladen.</p>

										<div class="mdl-file_upload__list" data-file_upload="list">

										</div>

										<script type="text/x-handlebars-template" data-file_upload="item-template">
											<div class="mdl-file_upload__file" data-file-id="<%- fileID %>">
                  <div class="mdl-file_upload__file-meta">
                    <span class="mdl-file_upload__file-title"><%- fileTitle %></span>
                    <span class="mdl-file_upload__file-info"><%- fileType %> | <%- fileSize %></span>
                    <p class="mdl-file_upload__error" data-message="size">Die Datei ist grösser als die maximale Dateigrösse.</p>
                    <p class="mdl-file_upload__error" data-message="type">Zulässige Dateiformate: csv, gif, html, jpeg, pdf, png, tiff, rtf, svg, txt, xml (max. 25 MB)</p>
                  </div>
                  <button class="mdl-file_upload__file-delete" data-file_upload="delete">
                    <span class="visuallyhidden">Datei wieder entfernen</span>
                    <svg class="icon" focusable="false">
                      <use xlink:href="#delete"></use>
                    </svg>
                  </button>
                </div>
              </script>
									</fieldset>
								</div>

							</div>
						</div>

					</div>
				</fieldset>
			</div>

			<div class="mdl-stepper__step" data-stepper="step">
				<div class="mdl-notification
        mdl-notification--green
        mdl-notification--big
        ">
					<svg class="icon" focusable="false">
						<use xlink:href="#confirm"></use>
					</svg>
					<div class="mdl-notification__message">
						<h3 class="mdl-notification__title">Vielen Dank</h3>
						<p>Ihr Daten wurden an das Strassenverkehrsamt übermittelt, man wird sich mit Ihnen in Verbindung setzen.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="mdl-stepper__last-page-info" data-stepper="lastpage">

		</div>
	</form>


	<div class="mdl-stepper__message" data-stepper="messageWrapper" data-singular-text="Bitte kontrollieren Sie Ihre Angabe für das Feld <%= list %>." data-plural-text="Bitte kontrollieren Sie Ihre Angaben für die folgenden Felder: <%= list %>" data-error-text="Da ist leider etwas schief gegangen! Ihre Angaben konnten leider nicht übermittelt werden. Es tut uns leid. Bitte probieren Sie es erneut oder melden Sie sich bei: Tel.: [XX]">
		<script data-stepper="notificationTemplate" type="text/x-handlebars-template">
			<div class="mdl-notification
  <% if (typeof(isGreen) !== "undefined" && isGreen !== false) { %>mdl-notification--green<% } %>
  <% if (typeof(isBig) !== "undefined" && isBig !== false) { %>mdl-notification--big<% } %>
  <% if (typeof(isDialog) !== "undefined" && isDialog !== false) { %>mdl-notification--dialog<% } %>" <% if (typeof(focussable) !== "undefined" && focussable !== false) { %>tabindex="0"<% } %>>
  <svg class="icon" focusable="false">
    <use xlink:href="<%=icon%>"></use>
  </svg>
  <div class="mdl-notification__message">
    <% if (typeof(title) !== "undefined" && title !== false) { %><h3 class="mdl-notification__title"><%=title%></h3><% } %>
    <p><%=message%></p>
  </div>
  <% if (typeof(button) !== "undefined" && button !== false) { %>
    <button
      class="atm-button<% if (typeof(button.icon) !== "undefined" && button.icon !== false) { %> atm-button--icon-only atm-button--small<% } %>"
      <% if (typeof(button.additionalAttribute) !== "undefined" && button.additionalAttribute !== false) { %><%=button.additionalAttribute%><% } %>
    >
      <% if (typeof(button.icon) !== "undefined" && button.icon !== false) { %>
        <svg class="icon atm-button__icon" focusable="false">
          <use xlink:href="#<%=button.icon%>"></use>
        </svg>
        <span class="visuallyhidden"><%= button.label %></span>
      <%=else%>
        <%= button.label %>
      <% } %>
    </button>
  <% } %>
</div>

    </script>

	</div>

	<script type="text/x-handlebars-template" data-stepper="ruleNotification">
		<div class="mdl-notification
      
      
      mdl-notification--dialog" >
      <svg class="icon" focusable="false">
        <use xlink:href="#caution"></use>
      </svg>
      <div class="mdl-notification__message">
        <h3 class="mdl-notification__title">Wichtig</h3>
        <p>Die von Ihnen gemachte Änderung hat gegebenfalls Einfluss auf die danach folgenden Felder. Bitte überprüfen Sie Ihre Angaben erneut.</p>
      </div>
    </div>
  </script>

	<div class="mdl-stepper__control" data-stepper="control">
		<button class="atm-button atm-button--secondary mdl-stepper__back" data-stepper="back">Zurück</button>
		<button class="atm-button mdl-stepper__next" data-stepper="next">Weiter</button>
		<button class="atm-button mdl-stepper__send" data-stepper="send">
			<span class="atm-button__text ">
				Senden
			</span>
			<span class="atm-button__spinner"></span>
		</button>
	</div>
</div>