<div class="atm-radiobutton">
  <input id="radio1{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}" type="radio" name="radiogroup" {{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}>
  <label for="radio1{{#if isDisabled}}disabled{{/if}}{{#if isChecked}}checked{{/if}}">
    Radio button Label{{#if isDisabled}}(disabled){{/if}}{{#if isChecked}}(checked){{/if}}
  </label>
</div>
