.atm-radiobutton {
  position: relative;
  display: inline-flex;
  padding-left: pxToRem($sizeLarge);
  padding-right: pxToRem($sizeRegular);
  margin-bottom: pxToRem($sizeRegular);

  input {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: pxToRem($sizeLarge);
    height: pxToRem($sizeLarge);

    &:checked + label:after {
      border-color: $colorCyan;
    }

    &:checked + label:before {
      transform: scale(1);
    }

    &:focus {
      outline: none;
    }

    // No cursor when disabled
    &:disabled + label {
      cursor: auto;
    }

    &:disabled + label:after {
      border-color: $colorBlack20;
    }
  }

  label {
    margin-left: pxToRem($sizeTiny);
    font-size: pxToRem($sizeFontRegular);
    line-height: $sizeLineHeightBase;
    cursor: pointer;

    &:hover:after {
      border-color: $colorCyan;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
    }

    &:after {
      left: 0;
      top: 0;
      width: pxToRem($sizeLarge);
      height: pxToRem($sizeLarge);
      box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid $colorBlack40;
      transition: 0.2s border-color ease;
    }

    &:before {
      left: pxToRem(6px);
      top: pxToRem(6px);
      height: pxToRem($sizeSmallRegular);
      width: pxToRem($sizeSmallRegular);
      border-radius: 50%;
      transform: scale(0);
      transition: 0.2s transform ease;
      background-color: $colorCyan;
    }
  }

  &__descr {
    display: block;
    color: $colorBlack60;
    font-size: pxToRem($sizeFontSmall);
    padding-top: pxToRem($sizeMini);
    margin-left: pxToRem($sizeTiny);
  }

  &--tag {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    input {
      border: 0;
      clip: rect(0 0 0 0);
      height: 100%;
      overflow: hidden;
      position: absolute;
      width: 100%;
      left: 5px; // stylelint-disable-line

      @at-root br#{&} {
        content: '';
        display: none;
      }
    }

    label:after,
    label:before {
      display: none;
    }

    input:checked + label,
    input:checked + label:hover {
      color: $colorWhite;
      background: $colorBlack;
    }
  }
}

/** HIGHT CONTRAST MODE
 */

@media screen and (-ms-high-contrast: active) {
  .atm-radiobutton input {
    appearance: auto;
  }
}
