<div{{#if anchorReference}} id="{{anchorReference}}"{{/if}} class="mdl-linklist">
  {{#if hasTitle}}
    <h{{{headingLevel}}} class="atm-heading mdl-linklist__title">{{{linkListTitle}}}</h{{{headingLevel}}}>
  {{/if}}
  <ul class="mdl-linklist__list">
    {{#each links}}
      <li class="mdl-linklist__item">
        {{> "atoms/linklist_item/linklist_item" this}}
      </li>
    {{/each}}
  </ul>
</div>
