.mdl-linklist {
  @include sizeCurve(margin-bottom, regular);

  &__title {
    @include sizeCurve(margin-bottom, tiny);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
// default text color different from color variation
.cv-default {
  .mdl-linklist {
    .atm-linklist_item {
      color: rgba($colorText, 0.6);

      &:hover {
        color: rgba($colorText, 1);
      }
    }
  }
}
