.mdl-linklist {
  @include sizeCurve(margin-bottom, big);

  &__title {
    @include sizeCurve(margin-top, big);
    @include sizeCurve(margin-bottom, tiny);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
