<div class="mdl-linklist{{#if colorVariation}} mdl-linklist--cv-{{{colorVariation}}}{{/if}}">
  {{#if hasTitle}}
    <h{{{headingLevel}}} class="atm-heading mdl-linklist__title">Linkliste</h{{{headingLevel}}}>
  {{/if}}
  <ul class="mdl-linklist__list">
    {{#each links}}
      <li class="mdl-linklist__item">
        {{> "atoms/linklist_item/linklist_item" this}}
      </li>
    {{/each}}
  </ul>
</div>
