<!doctype html>
<html lang="de" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CZHDEV - Living Styleguide</title>
  <meta name="description" content="Staatskanzlei Kanton Zürich - Beschreibung">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="/assets/css/main.min.css">
  <link rel="stylesheet" href="/assets/css/print.min.css" media="print">
	<script src="/assets/js/head.min.js"></script>



  <link rel="manifest" href="/assets/manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Kanton Zürich">
  <meta name="apple-mobile-web-app-title" content="Kanton Zürich">
  <meta name="theme-color" content="#0076BD">
  <meta name="msapplication-navbutton-color" content="#0076BD">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

  <link rel="icon" type="image/png" href="/assets/media/icons/Favicon_48.png" >

  <link rel="shortcut icon" sizes="144x144" type="image/png" href="/assets/media/icons/Favicon_144.png" >
  <link rel="shortcut icon" sizes="96x96" type="image/png" href="/assets/media/icons/Favicon_96.png" >
  <link rel="shortcut icon" sizes="48x48" type="image/png" href="/assets/media/icons/Favicon_48.png" >
  <link rel="shortcut icon" sizes="16x16" type="image/png" href="/assets/media/icons/Favicon_16.png" >

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/media/icons/apple-touch-icon-180x180.png" >
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/media/icons/apple-touch-icon-76x76@2x.png" >
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/media/icons/apple-touch-icon-72x72@2x.png" >
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/media/icons/apple-touch-icon-60x60@2x.png" >
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/media/icons/apple-touch-icon-57x57@2x.png" >
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/media/icons/apple-touch-icon-76x76.png" >
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/media/icons/apple-touch-icon-60x60.png" >
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/media/icons/apple-touch-icon-57x57.png" >
</head>
<body class="cv-blue"   data-svgsprites-options='[&quot;/assets/media/svgsprite/base.svg&quot;]'
  data-script-main='/assets/js/main.min.js'
  data-style-fonts='/assets/css/fonts.min.css'>
<header class="lyt-wrapper" id="header">
  <h1 class="visuallyhidden">Navigation</h1>
  <div class="mdl-skiplinks" data-init="skiplinks">
  	<h2 class="visuallyhidden">Sprunglinks</h2>
  	<ul class="mdl-skiplinks__list">
  			<li class="mdl-skiplinks__item">
  				<a href="/" accesskey="0" class="mdl-skiplinks__link">Startseite</a>
  			</li>
  			<li class="mdl-skiplinks__item">
  				<a href="#navigation" accesskey="1" class="mdl-skiplinks__link">Navigation</a>
  			</li>
  			<li class="mdl-skiplinks__item">
  				<a href="#main" accesskey="2" class="mdl-skiplinks__link">Inhalt</a>
  			</li>
  			<li class="mdl-skiplinks__item">
  				<a href="#contact" accesskey="3" class="mdl-skiplinks__link">Kontakt</a>
  			</li>
  			<li class="mdl-skiplinks__item">
  				<a href="#search" accesskey="5" class="mdl-skiplinks__link">Suche</a>
  			</li>
  			<li class="mdl-skiplinks__item">
  				<a href="#contentinfo" accesskey="6" class="mdl-skiplinks__link">Fussbereich</a>
  			</li>
  	</ul>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <div class="mdl-header" data-init="header">
  <div class="lyt-wrapper">
    <div class="grid-margin-x grid-x">
      <div class="mdl-header__wrapper cell tiny-offset-2 xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-10">
        <h2 class="visuallyhidden">Hauptnavigation</h2>
        <nav id="navigation">
          <button class="mdl-header__nav-burger" data-menu-burger>
            <svg class="icon burger" focusable="false">
              <use xlink:href="#menu-1"></use>
            </svg>
            <svg class="icon close" focusable="false">
              <use xlink:href="#exit"></use>
            </svg>
            <span class="mdl-header__nav-burger-text">Menu</span>
          </button>
          <ul class="mdl-header__navigation">
              <li>
                <button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="1">
                  Themen
                </button>
              </li>
              <li>
                <button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="2">
                  Organisation
                </button>
              </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="mdl-header__functions">
    <button
      id="search"
      type="button"
      class="mdl-header__search atm-button"
      data-header="openModal"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="flyout-search"
      data-search
    >
      <span class="atm-button__text">
        Suchen
      </span>
      <svg class="icon atm-button__icon" focusable="false">
        <use xlink:href="#inspect"></use>
      </svg>
    </button>
  </div>
</div>

  <!-- modal page content -->
  <div id="flyout-topics" class="mdl-modal  mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal"
    
  >
      <button class="mdl-modal__close" data-modal="close">
        <span class="mdl-modal__close-label">Schliessen</span>
        <svg focusable="false" class="icon mdl-modal__exit">
          <use xlink:href="#exit"></use>
        </svg>
      </button>
      <div class="mdl-modal__pages">
        <div class="mdl-modal__pages-page">
        <div class="lyt-wrapper">
          <div class="grid-x grid-margin-x">
            <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
              <!-- modal content -->
                  <div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.json&quot;}'>
    <div data-topiclist="firstLayer">
      
  
        <div class="atm-form_input atm-form_input--small
          "
           data-input
          >
        
        
            <input class="atm-form_input__input"
              
              
               id="topicNavFilter" placeholder="Filtern nach Themen" name="input_name" value="" type="text"
               data-topiclist="input"
              
              
              
              
               data-hasbutton="true"
              
              
              
              
              
              autocomplete="new-password"
              
            >
        
            <label for="topicNavFilter">Filtern nach Themen</label>
        
              <button class="atm-form_input__functionality" type="button"
                      data-buttontype="clear">
                <span class="visuallyhidden">Lösche Eingabe</span>
                <svg class="icon" focusable="false">
                  <use xlink:href="#clear"></use>
                </svg>
              </button>
        
        
        
        
          
          
          
        </div>
  
      <!-- Standard Topiclist -->
      <div class="
        mdl-content_nav
        
          
          
         mdl-topiclist__navigation"
        
        data-init="contentNav"
        aria-live="polite"
        data-topiclist="navigation"
      >
        <ul class="mdl-content_nav__list">
        </ul>
      
      </div>
  
      <!-- "Autosuggest" Topiclist" -->
        <div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__autosuggest mdl-content_nav--single-column"
          
          data-init="contentNav"
          aria-live="polite"
          data-topiclist="autosuggest"
        >
          <ul class="mdl-content_nav__list">
          </ul>
        
            <div class="atm-loading_circle">
              <span class="atm-loading_circle__spinner"></span>
            </div>
        </div>
  
        <div class="mdl-topiclist__fullwidth-wrapper">
          <button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
            Alle anzeigen
            <svg class="icon atm-button__icon">
              <use xlink:href="#layer1"></use>
            </svg>
          </button>
        </div>
    </div>
  
      <div data-topiclist="furtherLayers">
      </div>
  
    <!-- Template scripts -->
      <!-- Content teaser template -->
      <script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
        <a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
      </script>
      <!-- No results template -->
      <script data-topiclist="searchLink" type="text/x-handlebars-template">
        <a href="<%= path %>" class="mdl-topiclist__search">
          <svg class="icon" focusable="false">
            <use xlink:href="#inspect"></use>
          </svg>
          <span><%= title %></span>
        </a>
      </script>
      <script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
        <div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
    <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
    <div class="mdl-subnavigation__title">
      <h3 class="atm-heading"><%=title%></h3>
      <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
        Seite anzeigen
        <svg class="icon icon--iframe-arrow" focusable="false">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  
    <div class="mdl-content_nav" data-subnavigation="contentNav">
      <ul class="mdl-content_nav__list"></ul>
    </div>
  </div>
  
      </script>
  </div>
  
            </div>
          </div>
        </div>
        </div>
        <div class="mdl-modal__pages-page">
        <div class="lyt-wrapper">
          <div class="grid-x grid-margin-x">
            <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
              <!-- modal content -->
                  <div class="mdl-organisation_navigation" data-init="organisationNavigation">
  
    <div class="mdl-organisation_navigation__top" data-organisation_navigation="topSection"></div>
  
    <div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.organisations.json&quot;}'>
      <div data-topiclist="firstLayer">
        
    
          <div class="atm-form_input atm-form_input--small
            "
             data-input
            >
          
          
              <input class="atm-form_input__input"
                
                
                 id="organisationFilterInput" placeholder="Filtern nach Amt, Direktion" name="input_name" value="" type="text"
                 data-topiclist="input"
                
                
                
                
                 data-hasbutton="true"
                
                
                
                
                
                
                
              >
          
              <label for="organisationFilterInput">Filtern nach Amt, Direktion</label>
          
                <button class="atm-form_input__functionality" type="button"
                        data-buttontype="clear">
                  <span class="visuallyhidden">Lösche Eingabe</span>
                  <svg class="icon" focusable="false">
                    <use xlink:href="#clear"></use>
                  </svg>
                </button>
          
          
          
          
            
            
            
          </div>
    
        <!-- Standard Topiclist -->
        <div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__navigation"
          
          data-init="contentNav"
          aria-live="polite"
          data-topiclist="navigation"
        >
          <ul class="mdl-content_nav__list">
          </ul>
        
        </div>
    
        <!-- "Autosuggest" Topiclist" -->
          <div class="
            mdl-content_nav
            
              
              
             mdl-topiclist__autosuggest mdl-content_nav--single-column"
            
            data-init="contentNav"
            aria-live="polite"
            data-topiclist="autosuggest"
          >
            <ul class="mdl-content_nav__list">
            </ul>
          
              <div class="atm-loading_circle">
                <span class="atm-loading_circle__spinner"></span>
              </div>
          </div>
    
          <div class="mdl-topiclist__fullwidth-wrapper">
            <button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
              Alle anzeigen
              <svg class="icon atm-button__icon">
                <use xlink:href="#layer1"></use>
              </svg>
            </button>
          </div>
      </div>
    
        <div data-topiclist="furtherLayers">
        </div>
    
      <!-- Template scripts -->
        <!-- Content teaser template -->
        <script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
          <a class="atm-content_teaser " href=<%=target%>>
      <span class="atm-content_teaser__content" data-lineclamp="true">
        <span class="atm-content_teaser__title">
          <%= shortTitle %>
        </span>
        
      </span>
    </a>
    
        </script>
        <!-- No results template -->
        <script data-topiclist="searchLink" type="text/x-handlebars-template">
          <a href="<%= path %>" class="mdl-topiclist__search">
            <svg class="icon" focusable="false">
              <use xlink:href="#inspect"></use>
            </svg>
            <span><%= title %></span>
          </a>
        </script>
        <script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
          <div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
      <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
      <div class="mdl-subnavigation__title">
        <h3 class="atm-heading"><%=title%></h3>
        <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
          Seite anzeigen
          <svg class="icon icon--iframe-arrow" focusable="false">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
    
      <div class="mdl-content_nav" data-subnavigation="contentNav">
        <ul class="mdl-content_nav__list"></ul>
      </div>
    </div>
    
        </script>
    </div>
  
    <div class="mdl-organisation_navigation__highlight">
      <div class="lyt-wrapper">
        <div class="grid-x grid-margin-x">
          <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8" data-organisation_navigation="bottomSection">
          </div>
        </div>
      </div>
    </div>
  
  
    <script data-organisation_navigation="organisationTeaserTemplate" type="text/x-handlebars-template">
      <div class="mdl-organisation_teaser" data-init="organisationTeaser">
    <h3 class="atm-heading"><%=orgTitle%></h3>
    <p class="atm-paragraph"><%=orgLead%> <a class="atm-text_link" href="<%=url%>"><%=moreLabel%></a></p>
  </div>
  
    </script>
  </div>
  
            </div>
          </div>
        </div>
        </div>
      </div>
  </div>
  
  <!-- modal page content -->
  <div id="flyout-search" class="mdl-modal mdl-modal--search mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal"
    data-modal-options="{&quot;transitionTime&quot;:500}"
  >
      <button class="mdl-modal__close" data-modal="close">
        <span class="mdl-modal__close-label">Schliessen</span>
        <svg focusable="false" class="icon mdl-modal__exit">
          <use xlink:href="#exit"></use>
        </svg>
      </button>
      
        
        <div class="lyt-wrapper">
          <div class="grid-x grid-margin-x">
            <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
              <!-- modal content -->
                  <div class="mdl-search cv-monochrome" data-search-options="{&quot;url&quot;:&quot;/mocks/modules/search/search.json&quot;,&quot;searchPageUrl&quot;:&quot;/pages/search/search.html&quot;}" data-init="search">
    <div class="mdl-search__head">
      <svg class="icon mdl-search__icon" focusable="false">
        <use xlink:href="#inspect"></use>
      </svg>
      <form novalidate data-search="form" method="GET" action="/pages/search/search.html">
        <label class="visuallyhidden" for="query">Suchbegriff</label>
        <input class="mdl-search__input atm-form_input" type="text" data-search="input" name="q" id="q" placeholder="Suchbegriff" autocomplete="new-password"/>
      </form>
    </div>
    <div class="mdl-tag-group mdl-search__tag-group">
      <h2 class="atm-heading">Meist gesucht</h2>
      <ul class="mdl-tag-group__tags">
          <li>
            <a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Schulferien 2019
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=Kurse für Hundehalter" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Kurse für Hundehalter
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=Quellensteuer" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Quellensteuer
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=Handelsregistereintrag" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Handelsregistereintrag
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=Velo" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Velo
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=eAutoindex" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              eAutoindex
            </a>
          </li>
          <li>
            <a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
              Schulferien 2019
            </a>
          </li>
      </ul>
    </div>
  
    <div class="
      mdl-content_nav
      
        
        
       mdl-search__autosuggest mdl-content_nav--single-column"
      
      data-init="contentNav"
      aria-live="polite"
      data-search="autosuggest"
    >
      <ul class="mdl-content_nav__list">
      </ul>
    
    </div>
  
    <script data-search="autosuggestTemplate" type="text/x-handlebars-template">
        <a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
    </script>
  </div>
  
            </div>
          </div>
        </div>
        
      
  </div>
  

    </div>
  </div>
</header>
<main class="lyt-wrapper" id="main">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
    <header class="mdl-page-header   mdl-page-header--inverted   " data-init="pageHeader">
      <div class="lyt-wrapper">
        <div class="grid-x grid-margin-x">
          <div class="mdl-page-header__logo-container cell tiny-2 xsmall-2 small-2 medium-2 large-2 xlarge-2">
              <a href="#">
                <span class="visuallyhidden">Logo des Kantons Zürich</span>
                  <svg viewBox="0 0 100 100" class="mdl-page-header__logo print-hidden">
                    <use xlink:href="#ktzh_inverted"></use>
                  </svg>
                <svg viewBox="0 0 100 100" class="mdl-page-header__logo screen-hidden">
                  <use xlink:href="#ktzh"></use>
                </svg>
              </a>
          </div>
          <div class="cell  tiny-10 xsmall-10 small-10 medium-10 large-10 xlarge-10">
              <h1 class="atm-heading mdl-page-header__title">Kanton Zürich</h1>
          </div>
        </div>
        <div class="grid-x grid-margin-x">
          <div
            class="cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-auto small-auto medium-9 large-8 xlarge-8">
                  <p class="atm-lead">
                    <strong>Lead: ExtraBold Interessierte können ab sofort die Genauigkeit ihrer Smartphones und Navigationsgeräte überprüfen. Die Baudirektion hat beim Landesmuseum in Zürich einen Kontrollpunkt beim Landesmuseum in Zürich einen Kontrollpunkt für mobile Geräte eingerichtet – den ersten in der Schweiz.</strong>
                  </p>
                    <a href="" class="mdl-service_button " data-init="serviceButton" 
                      data-url="../../modules/service_list/service_page.mock.html" aria-controls="service-modal0">
                      <span class="atm-button ">
                          <span class="atm-button__text">
                            Formular beantragen
                          </span>
                        </span>
                    </a>
                      <div id="service-modal0" class="mdl-modal mdl-modal--dynamicheader" data-init="modal">
                      </div>
              
              
          </div>
        </div>
      </div>
    
      <div class="mdl-page-header__subsection">
      </div>
    </header>
    </div>
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
    <h1>(--THEMELISTE FILTER PLACEHOLDER--)</h1>
    <div class="
      mdl-content_nav
      
        
        
      "
      
      data-init="contentNav"
      aria-live="polite"
      
    >
      <ul class="mdl-content_nav__list">
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Gesundheit<br class="visuallyhidden">
                </span>
                Krankenversicherung, Prämienverbilligung, Kliniken
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Familie<br class="visuallyhidden">
                </span>
                Partnerschaft, Eltern & Kinder, Untersützung für Kinder & Jugendliche, Alter, Tod, Vormunds Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Soziales<br class="visuallyhidden">
                </span>
                Arbeitslosigkeit, Finanzielle Hilfen, Sozialversicherungen, Beratungsangebote, Soziale Einricht Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Bildung<br class="visuallyhidden">
                </span>
                Bildungssystem, Schulen, Unterrichten, Schwierigkeiten in der Schule, Weiterbildung, Forschung, Bil Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Sport &amp; Kultur<br class="visuallyhidden">
                </span>
                Jugendsport, Sportförderung, Kulturpolitik, Kulturförderung, Kulturpreise, Archä Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Wirtschaft &amp; Arbeit<br class="visuallyhidden">
                </span>
                Arbeitsmarkt, Arbeitnehmer- & Arbeitgeberverhältnis, Schwarzarbeit, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Steuern<br class="visuallyhidden">
                </span>
                Steuererklärung, Steuern bezahlen, Grundlagen
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Mobilität<br class="visuallyhidden">
                </span>
                Reisen: Pass & ID, Fahren lernen, Führerausweis, Fahrzeuge, Autonummern, Gesamtverkehr, Öffentliches, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Bauen &amp; Planen<br class="visuallyhidden">
                </span>
                Karten, Bauprojekte (Hochbau), Baubewilligung, Wohnbauförderung, Energie, Lärm, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Umwelt &amp; Tier<br class="visuallyhidden">
                </span>
                Tier, Umweltschutz, Boden, Wald & Pflanzen, Wasser, Luft, Politik & Staat
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Wahlen &amp; Abstimmungen<br class="visuallyhidden">
                </span>
                Bezirke, Gemeinden, Daten & Statistik, Recht & Gesetze, Beschlüsse, Vernehmlassungen, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Migration &amp; Integration<br class="visuallyhidden">
                </span>
                Willkommen im Kanton Zürich, Einreise, Aufenthalt, Wegweisung, Asyl, Integration, Einbürgerung, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Sicherheit &amp; Justiz<br class="visuallyhidden">
                </span>
                Polizeimeldungen, Bussen, ePolice, Strafanzeige, Prävention, Kriminalität, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
          <li class="mdl-content_nav__item" >
            <a class="atm-content_teaser " href=#>
              <span class="atm-content_teaser__content" data-lineclamp="true">
                <span class="atm-content_teaser__title">
                  <span class="visuallyhidden">Kategorie: </span>Über den Kanton<br class="visuallyhidden">
                </span>
                Zahlen & Fakten, So funktioniert der Kanton, Grossprojekte, Ausgewählte Publikation, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua
              </span>
            </a>
          </li>
      </ul>
    
    </div>
    <div id="news_teaser" class="mdl-news-teaser mdl-news-teaser--more-info" data-init="newsTeaser">
      <div class="lyt-wrapper">
        <div class="grid-x grid-margin-x">
    
            <div class="mdl-news-teaser__content cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-12 small-10 medium-10 large-10 xlarge-10">
              <div class="mdl-news-teaser__header">
                <h2 class="atm-heading atm-heading--bordered">
                  News
                </h2>
                <a class="atm-text_link atm-text_link--icon" href="#">
                  Alle Beiträge
                  <svg class="icon icon--iframe-arrow" focusable="false">
                    <use xlink:href="#arrow-right"></use>
                  </svg>
                </a>
              </div>
            </div>
    
            <div class="mdl-news-teaser__content cell tiny-12 small-12 medium-12 large-12 xlarge-12">
              <div class="mdl-teaser__wrapper">
                <div class="lyt-wrapper">
                  <a href="#" class="mdl-teaser mdl-teaser--inverted"
                     data-init="teaser">
                    <div class="mdl-teaser__content">
                      <h3  class="mdl-teaser__title atm-heading" data-lineclamp="true">
                        Kanton Zürich Newsletter
                      </h3>
                        <time class="mdl-teaser__date" datetime="2018-12-14">14.12.2018</time>
              
                      <p data-teaser="teaserDescription" data-lineclamp="true" class="mdl-teaser__description">
                        Der Newsletter des Kantons informiert Sie rasch über verabschiedete Geschäfte des Regierungsrates und hält Sie per E-Mail über Neuigkeiten aus der kantonalen Verwaltung auf dem Laufenden. 
                      </p>
                      <div>
                        <span class="atm-button atm-button--cv-inverted">
                          <span class="atm-button__text ">Mehr erfahren</span>
                        </span>
                      </div>
                    </div>
                      <div class="mdl-teaser__image">
                        <figure class="mdl-image-figure">
                          <div class="mdl-image-figure__img-wrapper" >
                            <img
                                class="mdl-image-figure__img"
                                src="/assets/media/image/teaserimage_4_3_584_15.jpeg"
                                srcset="/assets/media/image/teaserimage_4_3_584_15.jpeg 1024w, /assets/media/image/teaserimage_16_9_905_15.jpeg 600w, /assets/media/image/teaserimage_16_9_530_15.jpeg 320w"
                                sizes="100vw"
                                alt=""
                                
                                data-image-figure="image"
                              />
                              
                          </div>
                          
                        </figure>
                      </div>
                  </a>
                </div>
              </div>
            </div>
    
          <div class="mdl-news-teaser__content cell tiny-12
            
            
            small-12 medium-12 large-12 xlarge-12">
            <ul>
                <li class="mdl-news-teaser__item">
                  <a href="../../pages/news_detail/news_detail.html">
                    <h3 class="atm-heading" data-lineclamp="true">
                      Winterthur: Unbekannter Zeigerdereferenzierungsoperator raubt Tankstellen-Shop aus
                    </h3>
                  
                      <p class="mdl-news-teaser__item-label">
                        Medienmitteilung
                        <time datetime="">14.12.2018</time>
                      </p>
                  
                      <div class="mdl-news-teaser__item-image">
                        <figure class="mdl-image-figure">
                          <div class="mdl-image-figure__img-wrapper">
                            <img class="mdl-image-figure__img" src="../../assets/media/image/news_teaser_316x178_x15.jpeg" alt="" />
                          </div>
                        </figure>
                      </div>
                  
                  </a>
                </li>
                <li class="mdl-news-teaser__item">
                  <a href="../../pages/news_detail/news_detail.html">
                    <h3 class="atm-heading" data-lineclamp="true">
                      Vekehrsabgaben 2019
                    </h3>
                  
                      <time class="mdl-news-teaser__date" datetime="">14.12.2018</time>
                  
                  
                      <p data-lineclamp="true" class="atm-paragraph">Alle Infos zu Verkehrsabgabenrechener, Fristen, Ratenzahlung etc</p>
                  </a>
                </li>
                <li class="mdl-news-teaser__item">
                  <a href="../../pages/news_detail/news_detail.html">
                    <h3 class="atm-heading" data-lineclamp="true">
                      Weiningen: Vermisstmeldung - Willi Müller
                    </h3>
                  
                      <p class="mdl-news-teaser__item-label">
                        Medienmitteilung
                        <time datetime="">14.12.2018</time>
                      </p>
                  
                      <div class="mdl-news-teaser__item-image">
                        <figure class="mdl-image-figure">
                          <div class="mdl-image-figure__img-wrapper">
                            <img class="mdl-image-figure__img" src="../../assets/media/image/news_teaser_316x178_x15.jpeg" alt="" />
                          </div>
                        </figure>
                      </div>
                  
                  </a>
                </li>
            </ul>
          </div>
          
          <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-12 small-10 medium-10 large-10 xlarge-8">
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</main>
<footer class="lyt-wrapper" id="footer">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <h1 class="visuallyhidden">Fussbereich</h1>
    <div id="contentinfo" class="mdl-footer" data-init="footer">
      <div class="lyt-wrapper">
        <div class="grid-margin-x grid-x">
          <div class="cell tiny-12 xsmall-12 small-10 medium-10 large-10 xlarge-10 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2">
            <div class="mdl-footer__content">
              <h2 class="mdl-footer__title atm-heading">Kanton Zürich</h2>
              <ul class="mdl-footer__menu">
                <li>
                  <a href="#contact">Kontakt</a>
                </li>
                <li>
                  <a href="#">Medien</a>
                </li>
                <li>
                  <a href="#">Aktuell</a>
                </li>
                <li>
                  <a href="#">Jobs</a>
                </li>
                <li>
                  <a href="#">Veranstaltungen</a>
                </li>
              </ul>
    
              <ul class="mdl-footer__submenu">
                <li class="mdl-footer__copyright">
                  <p>©2020 Kanton Zürich</p>
                </li>
                <li>
                  <a href="#">Datenschutz</a>
                </li>
                <li>
                  <a href="#">Impressum</a>
                </li>
                <li>
                  <a href="#">Rechtliche Hinweise</a>
                </li>
              </ul>
    
              <div class="mdl-footer__social-media">
                <div class="mdl-social-media-links" data-init="socialMediaLinks">
                    <h3 class="atm-heading">Folgen Sie dem Kanton auf</h3>
                
                  <ul>
                      <li class="mdl-social-media-links__item">
                        <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
                            <span class="atm-button__text visuallyhidden">
                              Facebook
                            </span>
                          <img src="../../assets/media/image/facebook.svg" alt="">
                        </a>
                      </li>
                      <li class="mdl-social-media-links__item">
                        <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
                          <span class="atm-button__text visuallyhidden">
                              Twitter
                            </span>
                          <img src="../../assets/media/image/twitter.svg" alt="">
                        </a>
                      </li>
                      <li class="mdl-social-media-links__item">
                        <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
                          <span class="atm-button__text visuallyhidden">
                              LinkedIn
                            </span>
                          <img src="../../assets/media/image/linkedIn.svg" alt="">
                        </a>
                      </li>
                      <li class="mdl-social-media-links__item">
                        <a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
                          <span class="atm-button__text visuallyhidden">
                              YouTube
                            </span>
                          <img src="../../assets/media/image/youtube.svg" alt="">
                        </a>
                      </li>
                  </ul>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-back2top" data-init="back2top">
        <div class="mdl-back2top__icon">
            <button class="atm-button atm-button--icon-only" >
              <span class="atm-button__text visuallyhidden">
                  Button
              </span>
                  <svg class="icon atm-button__icon" focusable="false">
                    <use xlink:href="#arrow-up"></use>
                  </svg>
              <span class="atm-button__spinner"></span>
              </button>
        </div>
    </div>
    </div>
  </div>
</footer>
</body>
</html>
