<li class="atm-search_result_item">
  <span class="atm-search_result_item__meta">
    {{#if date}}
      <span>
        {{date}}
      </span>
    {{/if}}
  </span>
  <a class="atm-search_result_item__content" href="{{link}}">
    <h4 class="atm-heading">{{title}}</h4>
    <p>{{teaserText}}</p>
  </a>
</li>
