<button
  class="mdl-header_expand atm-button atm-button--secondary atm-button--small atm-button--cv-inverted"
  data-init="headerExpand"
>
  <span class="atm-button__text" data-expand="{{expandNav}}" data-collapse="{{collapseNav}}">
    {{collapseNav}}
  </span>
  <svg class="mdl-header_expand__icon icon atm-button__icon">
    <use xlink:href="#angle_drop_up"></use>
  </svg>
</button>