{{#extend "layouts/layout"}}
  {{#content "pageheader"}}
    {{> "modules/page_header/page_header" props.modules.pageHeaderData }}
  {{/content}}

  {{#content "content"}}
    <div class="mdl-anchornav__wrapper">
      {{> "modules/lead_section/lead_section" props.modules.leadSectionData}}
    </div>
    {{> "modules/flex_data/flex_data" props.modules.flexDataData }}
  {{/content}}

  {{#content "pagefooter"}}
    {{> "modules/news_teaser/news_teaser" props.modules.newsTeaserData }}
    {{> "modules/related_content/related_content" props.modules.releatedContentData}}
    {{> "modules/tag_group/tag_group" props.modules.tagGroupData}}
  {{/content}}

  {{#content "footer"}}
    {{> "modules/footer/footer" props.modules.footerData }}
    {{> "modules/back_to/back_to" props.modules.backToData}}
  {{/content}}
{{/extend}}
