<div style="height: 2000px; position: relative;">
  <div class="mdl-back2top" data-init="back2top">
      <div class="mdl-back2top__icon">
          <svg class="icon atm-button__icon">
              <use xlink:href="#arrow-up"></use>
          </svg>
      </div>
  </div>
</div>
