$back2TopDiameter: $sizeSmallHuge;
$back2TopIconsSize: $sizeLarge;

.mdl-back2top {
  position: fixed;
  right: pxToRem($sizeBiggerBig);
  bottom: pxToRem($sizeBiggerBig);
  height: 0;
  overflow: hidden;
  pointer-events: none;

  &__icon {
    border-radius: 50%;
    overflow: hidden;
    transition: all 800ms ease;
    margin-bottom: pxToRem(-$back2TopDiameter);
    margin-top: 0;
  }

  &--unlocked {
    pointer-events: none;
    height: auto;

    .mdl-back2top__icon {
      margin-bottom: 0;
    }

    &.mdl-back2top--scrolled-on {
      height: pxToRem($back2TopDiameter);

      .mdl-back2top__icon {
        margin-top: pxToRem(-$back2TopDiameter);
      }
    }
  }
}
