{{#if develop}}
  <div style="height: 1500px">
    <p>
      <a href="../../pages/topics/topics.html">Page Topics</a> (integration with LanguageSwitch and Footer)
    </p>
{{/if}}
<div class="mdl-back2top{{#if preserveLangSwitch}} mdl-back2top--preserveLangSwitch{{/if}}" data-init="back2top">
    <div class="mdl-back2top__icon">
        {{> "atoms/button/button" toTopBtn}}
    </div>
</div>
{{#if develop}}
    </div>
{{/if}}
