<div style="height: 2000px; position: relative;">
  <div class="mdl-back2top" data-init="back2top">
      <div class="mdl-back2top__icon">
          {{> "atoms/button/button" toTopBtn}}
      </div>
  </div>
</div>
