
<div class="mdl-drilldown_select form__row" data-init="drilldownSelect">
  <div class="form__cell ">
    {{>"modules/select/select" primarySelectData }}
  </div>
  <div class="form__cell ">
    {{>"modules/select/select" secondarySelectData }}
  </div>
</div>
