{{#extend "layouts/layout"}}
  {{#content "header"}}
    <header>
      {{> "modules/page_header/page_header" props.modules.pageHeader}}
    </header>
  {{/content}}

  {{#content "content"}}
      {{> "modules/service_wrapper/service_wrapper" props.modules.serviceWrapper}}
      {{> "modules/contact/contact" props.modules.contact }}
  {{/content}}

  {{#content "footer"}}
    <footer id="contentinfo">
      <h1 class="visuallyhidden">Fussbereich</h1>
    </footer>
  {{/content}}
{{/extend}}
