
$normalButtonSize: $sizeBiggerBig + $sizeTiny;

.atm-button {
  position: relative;
  background: $colorBlack;
  border: none;

  border-radius: 1px;
  height: pxToRem($normalButtonSize);
  font-size: 1rem;
  color: $colorWhite;
  font-weight: $fontWeightBlack;
  min-width: pxToRem($normalButtonSize);
  padding: 1px $sizeLarge 0;

  display: flex;
  align-items: center;
  line-height: 1.4;

  max-width: 100%;

  transition: background $transitionTimeSimple $transitionEasingDefault;
  cursor: pointer;

  &:not(button) {
    display: inline-flex;
    text-decoration: none;
  }

  &__text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    use {
      fill: $colorWhite;
    }
  }

  &__text:not(.visuallyhidden) + .atm-button__icon {
    margin-left: pxToRem(12px);
  }

  &:hover {
    background: $colorBlack80;
  }

  &--icon-only {
    padding: 0;
    justify-content: center;
  }

  /**
   * Size variations
   */
  &--small {
    height: pxToRem($sizeBig);
    min-width: pxToRem($sizeBig);

    font-size: pxToRem($sizeFontSmall);

    .atm-button__icon {
      transform: scale(0.667);
    }
  }

  &--big {
    height: pxToRem($sizeHuge);

    .atm-button__icon {
      order: 1;
      margin-right: pxToRem(12px);
      // Important necessary to override that the margin left is only aplied when text is not visuallyhidden
      margin-left: 0 !important; //stylelint-disable-line
    }

    .atm-button__text {
      order: 2;
    }
  }

  /**
   * Type variations
   */
  &--secondary {
    background: rgba($colorBlack100, 0.1);
    color: $colorBlack60;

    .atm-button__icon use {
      fill: $colorBlack60;
    }

    &:hover {
      background: rgba($colorBlack100, 0.15);
      color: $colorBlack100;

      .atm-button__icon use {
        fill: $colorBlack100;
      }
    }

    &:active {
      background: $colorBlack100;
      color: $colorWhite;

      .atm-button__icon use {
        fill: $colorWhite;
      }
    }
  }

  /**
   * Inverted
   */
  &--cv-inverted,
  [ class*='--cv-inverted' ] & {
    background: rgba($colorWhite, 1);
    color: $colorBlack100;

    .atm-button__icon use {
      fill: $colorBlack100;
    }

    &:hover {
      background: rgba($colorWhite, 0.7);
    }

    //Secondary Button Inverted styles
    &.atm-button--secondary {
      background: rgba($colorBlack100, 0.2);
      color: $colorWhite;

      .atm-button__icon use {
        fill: $colorWhite;
      }

      &:hover {
        background: rgba($colorBlack100, 0.4);
      }

      &:active {
        background: rgba($colorWhite, 1);
        color: $colorBlack100;

        .atm-button__icon use {
          fill: $colorBlack100;
        }
      }
    }
  }

  /**
  * Tag-Buttons
  */
  &--tag {
    display: inline-flex;
    border-radius: 75.5px;
    padding: 0 $sizeRegular;
    min-width: auto;

    &:hover:not(.atm-button--cv-inverted) {
      &:not(.atm-button--secondary) {
        background: rgba($colorBlack100, 0.8);
      }
      background: rgba($colorBlack100, 0.15);
    }

    &:not(.atm-button--tag-top) {
      font-weight: $fontWeightDefault;
    }

    &-filter {
      box-sizing: border-box;
      transition: border-color $transitionTimeDefault $transitionEasingDefault;
      padding: 0 $sizeBig 0 $sizeRegular;

      &:not(.atm-button--cv-inverted) {
        border: 1px solid transparent;

        &:hover {
          border: 1px solid rgba(0, 0, 0, 0.42);
        }
      }

      .icon.atm-button__icon {
        position: absolute;
        right: 11.25px;
        margin-left: 0;
        transform: scale(0.3958) translateX(50%);
      }
    }

    &-topic {
      padding: 0 calc(#{$sizeRegular} / 2);
      height: pxToRem($sizeLarge);
      border-radius: $sizeSmallRegular;
      background: $colorBlack100;
      color: $colorWhite;
      font-size: $sizeFontTiny;

      &:hover {
        background: rgba($colorBlack100, 0.8);
      }
    }

    &-top {
      height: $sizeBiggerBig;
      padding: 0 $sizeSmallRegular;
      font-size: pxToRem($sizeFontBiggerRegular);

      &:not(.atm-button--small) {
        height: pxToRem(48px);
        font-size: pxToRem($sizeFontBig);
        padding: 0 $sizeLarge;
      }
    }

    &-edit {
      align-items: left;
      padding-left: 0;

      span {
        order: 2;
      }

      .icon.atm-button__icon {
        order: 1;
        margin-left: 13px;
        margin-right: 9px;
        transform: scale(0.625);
      }
    }
  }
}
