<button class="atm-button{{#unless isTextVisible}} atm-button--icon-only{{/unless}}{{#if isSecondary}} atm-button--secondary{{/if}}{{#if isSmall}} atm-button--small{{/if}}{{#if isBig}} atm-button--big{{/if}}{{#if isInverted}} atm-button--cv-inverted{{/if}}{{#if isTagButton}} atm-button--tag{{/if}}{{#if isTagFilter}} atm-button--tag-filter{{/if}}{{#if isTopic}} atm-button--tag-topic{{/if}}{{#if isEdit}} atm-button--tag-edit{{/if}}{{#if isTopTag}} atm-button--tag-top{{/if}}" {{#if additionalAttribute}}{{{additionalAttribute}}}{{/if}}>
  <span class="atm-button__text {{#unless isTextVisible}}visuallyhidden{{/unless}}">
      {{{text}}}
  </span>
  {{#if icon}}
    <svg class="icon atm-button__icon">
      <use xlink:href="#{{icon}}"></use>
    </svg>
  {{/if}}
</button>
