<div class="mdl-flex-data" data-init="flexData" data-source="/mocks/modules/flex_data/flex_data_generic.json" data-initial-load="true">

	<div class="mdl-flex-data__form">
		<form novalidate>
			<fieldset class="form__section">
				<legend class="atm-heading h2 form__section-title">Suche</legend>
				<div class="form__group ">
					<div class="form__row">
						<div class="form__cell ">
							<div class="atm-form_input atm-form_input--floated
          " data-input>


								<input class="atm-form_input__input" id="fullText" placeholder="Stichwort" name="fullText" value="" type="text" data-floating>

								<label for="fullText">Stichwort</label>








							</div>

						</div>
					</div>

					<div class="form__row">
						<div class="form__cell ">
							<div class="atm-form_input atm-form_input--floated
          " data-input>


								<input class="atm-form_input__input" id="decisionNumber" placeholder="RRB-Nr." name="decisionNumber" value="" type="text" data-floating>

								<label for="decisionNumber">RRB-Nr.</label>








							</div>

						</div>
						<div class="form__cell ">
							<div class="mdl-select" data-init="select" data-input>
								<div class="atm-form_input atm-form_input--floated atm-form_input--trigger
            ">
									<button aria-expanded="false" id="float_button-20" class="atm-form_input__input atm-form_input__input--trigger" type="button">
										<span class="atm-form_input__trigger-label">Jahr</span>
										<span class="atm-form_input__trigger-value"></span>
										<svg class="icon" focusable="false">
											<use xlink:href="#angle_drop_down"></use>
										</svg>
									</button>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







								</div>
								<div class="mdl-select__options">



									<ul class="atm-list" tabindex="-1" data-inputtype="radio" tabindex="-1">
										<li id="option-item24" class="atm-list__item">
											<input name="year" id="radio-option-item24" type="radio" value="" placeholder="" data-select-option data-validation>


											<label for="radio-option-item24"></label>
										</li>
										<li id="option-item25" class="atm-list__item">
											<input name="year" id="radio-option-item25" type="radio" value="2019" placeholder="2019" data-select-option data-validation>


											<label for="radio-option-item25">2019</label>
										</li>
										<li id="option-item26" class="atm-list__item">
											<input name="year" id="radio-option-item26" type="radio" value="2018" placeholder="2018" data-select-option data-validation>


											<label for="radio-option-item26">2018</label>
										</li>
										<li id="option-item27" class="atm-list__item">
											<input name="year" id="radio-option-item27" type="radio" value="2017" placeholder="2017" data-select-option data-validation>


											<label for="radio-option-item27">2017</label>
										</li>
										<li id="option-item28" class="atm-list__item">
											<input name="year" id="radio-option-item28" type="radio" value="2016" placeholder="2016" data-select-option data-validation>


											<label for="radio-option-item28">2016</label>
										</li>
										<li id="option-item29" class="atm-list__item">
											<input name="year" id="radio-option-item29" type="radio" value="2015" placeholder="2015" data-select-option data-validation>


											<label for="radio-option-item29">2015</label>
										</li>
										<li id="option-item30" class="atm-list__item">
											<input name="year" id="radio-option-item30" type="radio" value="2014" placeholder="2014" data-select-option data-validation>


											<label for="radio-option-item30">2014</label>
										</li>
										<li id="option-item31" class="atm-list__item">
											<input name="year" id="radio-option-item31" type="radio" value="2013" placeholder="2013" data-select-option data-validation>


											<label for="radio-option-item31">2013</label>
										</li>
										<li class="atm-list__item">
											<input name="year" type="radio" value="2012" placeholder="2012" data-select-option data-validation>


											<label for="radio-">2012</label>
										</li>

									</ul>

								</div>
							</div>

						</div>
					</div>

					<div class="form__row">
						<div class="form__cell ">
							<div class="mdl-select" data-init="select" data-input>
								<div class="atm-form_input atm-form_input--floated atm-form_input--trigger
            ">
									<button aria-expanded="false" id="float_button-20" class="atm-form_input__input atm-form_input__input--trigger" type="button">
										<span class="atm-form_input__trigger-label">Direktion</span>
										<span class="atm-form_input__trigger-value"></span>
										<svg class="icon" focusable="false">
											<use xlink:href="#angle_drop_down"></use>
										</svg>
									</button>
									<span class="atm-form_input__validate-icon">
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#confirm"></use>
											</svg>
										</span>
										<span>
											<span class="visuallyhidden"></span>
											<svg class="icon" focusable="false">
												<use xlink:href="#caution"></use>
											</svg>
										</span>
									</span>







								</div>
								<div class="mdl-select__options">



									<ul class="atm-list" tabindex="-1" data-inputtype="radio" tabindex="-1">
										<li id="option-item24" class="atm-list__item">
											<input name="department" id="radio-option-item24" type="radio" value="" placeholder="" data-select-option data-validation>


											<label for="radio-option-item24"></label>
										</li>
										<li id="option-item25" class="atm-list__item">
											<input name="department" id="radio-option-item25" type="radio" value="mig" placeholder="Migration & Integration" data-select-option data-validation>


											<label for="radio-option-item25">Migration & Integration</label>
										</li>
										<li id="option-item26" class="atm-list__item">
											<input name="department" id="radio-option-item26" type="radio" value="mo" placeholder="Mobilität" data-select-option data-validation>


											<label for="radio-option-item26">Mobilität</label>
										</li>
										<li id="option-item27" class="atm-list__item">
											<input name="department" id="radio-option-item27" type="radio" value="sich" placeholder="Sicherheit & Justiz" data-select-option data-validation>


											<label for="radio-option-item27">Sicherheit & Justiz</label>
										</li>
										<li id="option-item28" class="atm-list__item">
											<input name="department" id="radio-option-item28" type="radio" value="so" placeholder="Soziales" data-select-option data-validation>


											<label for="radio-option-item28">Soziales</label>
										</li>
										<li id="option-item29" class="atm-list__item">
											<input name="department" id="radio-option-item29" type="radio" value="st" placeholder="Steuern" data-select-option data-validation>


											<label for="radio-option-item29">Steuern</label>
										</li>
										<li id="option-item30" class="atm-list__item">
											<input name="department" id="radio-option-item30" type="radio" value="umte" placeholder="Umwelt & Tier" data-select-option data-validation>


											<label for="radio-option-item30">Umwelt & Tier</label>
										</li>
										<li id="option-item31" class="atm-list__item">
											<input name="department" id="radio-option-item31" type="radio" value="ge" placeholder="Gemeinschaften" data-select-option data-validation>


											<label for="radio-option-item31">Gemeinschaften</label>
										</li>
										<li class="atm-list__item">
											<input name="department" type="radio" value="scer" placeholder="Schulen & Erziehung" data-select-option data-validation>


											<label for="radio-">Schulen & Erziehung</label>
										</li>

									</ul>

								</div>
							</div>

						</div>
					</div>

				</div>
			</fieldset>
			<div class="mdl-flex-data__form-controls">
				<button data-clear-flex type="button" class="atm-button atm-button--secondary hidden">Zurücksetzen</button>
				<button data-search-flex type="button" class="atm-button ">Suchen</button>
			</div>
		</form>
	</div>
	<div class="mdl-flex-data__results initially-hidden" data-result-count-title="%1 Treffer zu ihrer Abfrage" data-no-results-title="Es wurden keine Ergebnisse gefunden. Bitte passen Sie Ihre Suche an." data-result-count-title-more="Mehr als %1 Treffer zu ihrer Abfrage" aria-live="polite">
		<script data-flex-template type="text/x-handlebars-template">
			<ul class="mdl-search_page__list">
        <% _.forEach(data, function(item, index) { %>
          <li class="atm-search_result_item">
            <span class="atm-search_result_item__meta">
              <span class="atm-search_result_item__type">
                <%- item.sessionDate %>
              </span>
            </span>
            <a class="atm-search_result_item__content" href="<%- item.link %>">
              <h4 class="atm-heading">RRB Nr. <%- item.decisionNumber%>/<%- item.year %> <%- item.title %></h4>
              <p><%= item.text %></p>
            </a>
          </li>
          <% }); %>
        </ul>
      
    </script>
		<h3 class="visuallyhidden" aria-live="polite">Resultate</h3>
		<div class="mdl-flex-data__generic-sort">
			<h4 class="visuallyhidden">Sortierung</h4>
			<div class="atm-form_input atm-form_input--trigger atm-form_input--reduced">
				<button aria-expanded="false" aria-haspopup="true" class="mdl-flex-data__generic-sort-dropdown atm-form_input__input atm-form_input__input--trigger">
					<span class="atm-form_input__trigger-label">Sortieren nach:</span>
					<span class="atm-form_input__trigger-value">Relevanz</span>
					<svg class="icon" focusable="false">
						<use xlink:href="#angle_drop_down"></use>
					</svg>
				</button>
			</div>
			<div class="mdl-context_menu">
				<div>
					<ul class="mdl-context_menu__list">
						<li data-item-index="0">
							<button class="atm-context_menu_item " href="../../" data-context-menu="item" data-sort-column="relevance" data-sort-direction="descending">
								<span class="atm-context_menu_item__label">Relevanz</span>
							</button>
						</li>
						<li data-item-index="1">
							<button class="atm-context_menu_item " href="../../" data-context-menu="item" data-sort-column="sessionDate" data-sort-direction="ascending">
								<span class="atm-context_menu_item__label">Sitzungsdatum aufsteigend</span>
							</button>
						</li>
						<li data-item-index="2">
							<button class="atm-context_menu_item " href="../../" data-context-menu="item" data-sort-column="sessionDate" data-sort-direction="descending">
								<span class="atm-context_menu_item__label">Sitzungsdatum absteigend</span>
							</button>
						</li>
						<li data-item-index="3">
							<button class="atm-context_menu_item " href="../../" data-context-menu="item" data-sort-column="publicationDate" data-sort-direction="ascending">
								<span class="atm-context_menu_item__label">Publikationsdatum aufsteigend</span>
							</button>
						</li>
						<li data-item-index="4">
							<button class="atm-context_menu_item " href="../../" data-context-menu="item" data-sort-column="publicationDate" data-sort-direction="descending">
								<span class="atm-context_menu_item__label">Publikationsdatum absteigend</span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<h3 class="atm-heading mdl-flex-data__results-title"></h3>
		<div class="mdl-flex-data__results-generic" data-sort-direction="descending" data-sort-column="relevance"></div>
		<div class="mdl-flex-data__pagination">
			<div class="mdl-pagination " data-init="pagination" data-pagecount="30">
				<h4 class="visuallyhidden">Seiten Navigation</h4>
				<div class="mdl-pagination__input atm-form_input atm-form_input--small">
					<label class="visuallyhidden" for="pagination_input_field">Seite</label>
					<input id="pagination_input_field" class="atm-form_input__input" value="1" type="number" aria-describedby="paginationCountDescr">
				</div>
				<p class="mdl-pagination__page-count" id="paginationCountDescr" aria-live="polite">
					<em class="visuallyhidden"></em> von <span>30</span>
				</p>
				<a class="mdl-pagination__button-prev atm-button atm-button--icon-only atm-button--secondary" href="">
					<span class="atm-button__text visuallyhidden">
						Vorherige Seite
					</span>
					<svg class="icon atm-button__icon" focusable="false">
						<use xlink:href="#angle_left"></use>
					</svg>
				</a>
				<a class="mdl-pagination__button-next atm-button atm-button--icon-only atm-button--secondary" href="">
					<span class="atm-button__text visuallyhidden">
						Nächste Seite
					</span>
					<svg class="icon atm-button__icon" focusable="false">
						<use xlink:href="#angle_right"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="atm-loading_circle">
			<span class="atm-loading_circle__spinner"></span>
		</div>
	</div>
	<div class="mdl-flex-data__notification hidden">
		<div class="mdl-notification
      
      
      ">
			<svg class="icon" focusable="false">
				<use xlink:href="#caution"></use>
			</svg>
			<div class="mdl-notification__message">

				<p>Beim Laden der Daten ist ein Fehler aufgetreten!</p>
			</div>
		</div>
	</div>
</div>