.mdl-facts_row {
  display: grid;
  row-gap: pxToRem($sizeBig);
  min-width: 0;

  @include mq($from: medium) {
    grid-template-rows: repeat(4, auto);
    column-gap: pxToRem($sizeBig);
    row-gap: 0;
    grid-auto-columns: minmax(0, 1fr);
  }
}
