.atm-context_menu_item {
  min-height: pxToRem($sizeTiny + $sizeBiggerBig);

  display: flex;
  align-items: center;
  font-size: pxToRem($sizeFontRegular);
  color: $colorBlack60;

  padding: 0 $sizeSmallRegular;
  text-decoration: none;

  @include transition(color);

  &:hover,
  &:active,
  &--selected {
    color: $colorBlack;
    background: $colorBlack5;

    .atm-context_menu_item__icon use {
      fill: $colorBlack;
    }
  }

  &:active,
  &--selected {
    background: $colorCyan;
  }

  // Selectable states
  &--selectable {
    .atm-context_menu_item__icon:first-child {
      opacity: 0;

      @include transition(opacity);
    }

    &.atm-context_menu_item--selected {

      .atm-context_menu_item__icon:first-child {
        opacity: 1;
      }
    }
  }

  &__label {
    flex-grow: 1;
  }

  &__icon {
    use {
      @include transition(fill);

      fill: $colorBlack60;
    }

    &:last-child {
      margin-right: pxToRem(5px);
    }

    &:first-child {
      margin-right: pxToRem($sizeTiny);
    }
  }
}
