{{#with messages}}
  <div class="mdl-biometrie_appointment__reschedule">

    <a class="atm-text_link atm-text_link--icon mdl-biometrie_appointment__reschedule__backlink" data-biometrie_appointment="rescheduleBack">
      <svg class="icon icon--iframe-add">
        <use xlink:href="#arrow-left"></use>
      </svg>
      Zurück
    </a>

    <div class="mdl-biometrie_appointment__reschedule__nextopen">
      <h3 class="atm-heading">{{ nextOpenSlotHeading }}</h3>

      <strong data-biometrie_appointment="nextOpenSlot">Montag, 01.07.2019 08:00-08:15</strong><br>
      <span>An diesem Termin sind noch <em data-biometrie_appointment="nextOpenSlot__capacity">4</em> weitere Schalter frei.</span>

      <div class="mdl-biometrie_appointment__reschedule__scheduleNextBtn">
        {{> "atoms/button/button" scheduleNextBtn}}
      </div>
    </div>

    <div class="mdl-biometrie_appointment__reschedule__allopen">
      <h3 class="atm-heading">{{ otherSlotsHeading }}</h3>
      <div data-biometrie_appointment="otherSlotsSelect">

      </div>
    </div>
  </div>
{{/with}}
