{{#if devMode}}
  <div style="height: 800px"> <!--TODO: Do not copy outer div, only for dev and LSG -->
{{/if}}


<div class="mdl-map_view" data-init="mapView" >
    <input type="hidden" data-map-view="highlightIndex" value="-1" />
    <input type="hidden" data-map-view="selectIndex" value="-1" />
    <ul hidden>
      {{#each mapMarker }}
        <li data-map-view="markerProps">
            <span data-map-view="marker_lat">{{this.lat}}</span>
            <span data-map-view="marker_lng">{{this.lng}}</span>
        </li>
      {{/each}}
    </ul>
    <div id="{{mapId}}" class="mdl-map_view__container" data-map-view="map"></div>
    <div class="mdl-map_view__controls">
      {{#if withUserLocate}}
        {{>"atoms/button/button" centerBtn }}
      {{/if}}
      {{>"atoms/button/button" zoomInBtn }}
      {{>"atoms/button/button" zoomOutBtn }}
    </div>
</div>

{{#if devMode}}
  </div>
{{/if}}
