<div class="mdl-search_page" data-init="searchPage" data-search-page-options="{&quot;url&quot;:&quot;/mocks/modules/search_page/search_page.json&quot;,&quot;autosuggestURL&quot;:&quot;/mocks/modules/search/search.json&quot;}" data-search-no-results="Keine Ergebnisse zu «<%- searchTerm %>» gefunden.">
	<form novalidate class="mdl-search_page__form" data-search_page="form">
		<div class="atm-form_input
      atm-form_input--search" data-input>


			<input class="atm-form_input__input" id="input_search" placeholder="Suche" name="input_search" value="" type="text" data-search_page="input" autocomplete="off" data-hasbutton="true" autocomplete="new-password">

			<label for="input_search">Suche</label>

			<button class="atm-form_input__functionality" type="button" data-buttontype="clear">
				<span class="visuallyhidden">Lösche Eingabe</span>
				<svg class="icon" focusable="false">
					<use xlink:href="#clear"></use>
				</svg>
			</button>







		</div>
	</form>

	<div class="
    mdl-content_nav
    
      
      
     mdl-search__autosuggest mdl-content_nav--single-column initially-hidden" data-init="contentNav" aria-live="polite" data-search_page="autosuggest">
		<ul class="mdl-content_nav__list">
		</ul>

	</div>

	<div class="mdl-search_page__results-wrapper" data-search_page="wrapper" aria-live="polite">
		<div class="mdl-search_page__results-head" data-search_page="resultsHead">
		</div>
		<div class="mdl-search_page__notification hidden">
			<div class="mdl-notification
        
        
        ">
				<svg class="icon" focusable="false">
					<use xlink:href="#caution"></use>
				</svg>
				<div class="mdl-notification__message">

					<p>Beim Laden der Daten ist ein Fehler aufgetreten!</p>
				</div>
			</div>
		</div>
		<form novalidate="true" data-search_page="dateFilter" class="mdl-search_page__date-filter">
			<div class="mdl-datepicker" data-init="datepicker" data-datetimeformat="date-range" data-localization="de">
				<div class="atm-form_input atm-form_input--floated atm-form_input--icon
            " data-input>


					<input class="atm-form_input__input" data-pattern="^\d{2}.\d{2}.\d{4}\s-\s\d{2}.\d{2}.\d{4}$" id="date-range-112" placeholder="Zeitraum von/bis" name="input_name" value="" type="text" data-validation data-floating data-input-mask="\d\d\.[\d.]\d\d\.[\d.]\d\d\d\d [\d - ]\-[\d- ] [\d ]\d\d\.[\d.]\d\d\.[\d.]\d\d\d\d" data-mask-placeholder="TT.MM.JJJJ - TT.MM.JJJJ">
					<span class="atm-form_input__backdrop">
						<i></i>TT.MM.JJJJ - TT.MM.JJJJ
					</span>

					<label for="date-range-112">Zeitraum von/bis</label>


					<svg class="icon" focusable="false">
						<use xlink:href="#calendar"></use>
					</svg>




					<p data-message="pattern">Bitte geben Sie eine korrekte Zeitspanne an.</p>

				</div>
			</div>
		</form>
		<div class="mdl-search_page__no-results">
			<h2 class="atm-heading">Keine Resultate</h2>
			<button class="atm-button atm-button--secondary atm-button--small atm-button--tag atm-button--tag-edit">
				<span class="atm-button__text ">
					Suche Zurücksetzen
				</span>
				<svg class="icon atm-button__icon" focusable="false">
					<use xlink:href="#undo"></use>
				</svg>
				<span class="atm-button__spinner"></span>
			</button>
		</div>

		<h2 class="visuallyhidden">Gefundene Resultate:</h2>
		<div class="mdl-search_page__results" data-search_page="results">
		</div>
		<div class="atm-loading_circle">
			<span class="atm-loading_circle__spinner"></span>
		</div>
		<div class="mdl-pagination " data-init="pagination" data-pagecount="">
			<h class="visuallyhidden">Seiten Navigation</h>
			<div class="mdl-pagination__input atm-form_input atm-form_input--small">
				<label class="visuallyhidden" for="pagination_input_field">Seite</label>
				<input id="pagination_input_field" class="atm-form_input__input" value="1" type="number" aria-describedby="paginationCountDescr">
			</div>
			<p class="mdl-pagination__page-count" id="paginationCountDescr" aria-live="polite">
				<em class="visuallyhidden"></em> von <span></span>
			</p>
			<a class="mdl-pagination__button-prev atm-button atm-button--icon-only atm-button--secondary" href="">
				<span class="atm-button__text visuallyhidden">
					Vorherige Seite
				</span>
				<svg class="icon atm-button__icon" focusable="false">
					<use xlink:href="#angle_left"></use>
				</svg>
			</a>
			<a class="mdl-pagination__button-next atm-button atm-button--icon-only atm-button--secondary" href="">
				<span class="atm-button__text visuallyhidden">
					Nächste Seite
				</span>
				<svg class="icon atm-button__icon" focusable="false">
					<use xlink:href="#angle_right"></use>
				</svg>
			</a>
		</div>
	</div>

	<script type="text/x-handlebars-template" data-search_page="resultsHeadTemplate">
		<div>
      <h2 class="mdl-search_page__counter"><%- numberOfResults %> Ergebnisse<span class="mdl-search_page__autocorrect" data-search_page="autocorrect"> für <a data-search_page="force" class="atm-text_link" tabindex="0" role="button"><%- autocorrectedTerm %></a>. Stattdessen suchen nach <a class="atm-text_link"  data-search_page="force" role="button" data-search_page="force" tabindex="0"><%- originalTerm %></a></span></h2>
      <ul class="mdl-search_page__tag-group mdl-tag-group__tags">
        <li>
          <div class="atm-radiobutton atm-radiobutton--tag">
            <input id="search_filter_all" type="radio" value="all" name="search_filter" checked>
            <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_all">
              Alle
            </label>
          </div>
        </li>
        <% _.forEach(resultsByType, function(type, index) { %>
          <li>
            <div class="atm-radiobutton atm-radiobutton--tag">
              <input id="search_filter_<%- index %>" type="radio" value="<%- type.type %>" name="search_filter">
              <label class="atm-button atm-button--secondary atm-button--small atm-button--tag" for="search_filter_<%- index %>">
                <%- type.typeLabel %> (<%- type.numberOfResults %>)
              </label>
            </div>
          </li>
        <% }); %>
      </ul>
    </div>
  </script>

	<script type="text/x-handlebars-template" data-search_page="resultsTemplate">
		<ul class="mdl-search_page__list">
      <% _.forEach(results, function(item, index) { %>
        <li class="atm-search_result_item" <% if(item.type === 'service') { %>data-init="servicelist"<% } %>>
          <% if (item.type === 'service') { %>
            <a href="<%- item.link %>" class="mdl-service_list__item"
              data-url="<%- item.link %>" aria-controls="modal_search-result_<%- index %>" role="button"
            >
              <div class="mdl-service_list__item-container">
                <p class="atm-heading mdl-service_list__item-title"><%= item.title %></p>
                <p class="atm-paragraph mdl-service_list__item-text" data-lineclamp="true"><%= item.teaserText %></p>
              </div>
              <span class="mdl-service_list__item-button atm-button atm-button--small" aria-hidden="true">
                <span class="atm-button__text">
                  Start
                </span>
              </span>
            </a>
            <div id="modal_search-result_<%- index %>" class="mdl-modal" data-init="modal"></div>
          <% } else if (item.type === 'document') { %>
            <a class="atm-linklist_item atm-linklist_item--download atm-linklist_item--legalfoundation" href="<%- item.link %>" download>
              <span class="atm-linklist_item__text">
                <span><%= item.title %></span>
                <span class="atm-linklist_item__label"><%= item.teaserText %></span>
              </span>
              <span class="atm-linklist_item__download-button">
                <svg class="icon" focusable="false">
                  <use xlink:href="#download"></use>
                </svg>
                <span>Download</span>
              </span>
            </a>
          <% } else { %>
            <a class="atm-search_result_item__content" href="<%- item.link %>">
              <h4 class="atm-heading"><%= item.title %></h4>
              <p><%= item.teaserText %></p>
            </a>
          <% } %>
          <span class="atm-search_result_item__meta">
            <% if (item.typeLabel) { %>
            <span>
              <%- item.typeLabel %>
            </span>
            <% } %>
            <% if (item.breadcrumb) { %>
              <span>
                <%- item.breadcrumb %>
              </span>
            <% } %>
            <% if (item.date) { %>
              <span>
                <%- item.date %>
              </span>
            <% } %>
          </span>
        </li>
      <% }); %>
    </ul>
  </script>

	<script data-search_page="autosuggestTemplate" type="text/x-handlebars-template">
		<a class="atm-content_teaser " href=<%=target%>>
  <span class="atm-content_teaser__content" data-lineclamp="true">
    <span class="atm-content_teaser__title">
      <%= shortTitle %>
    </span>
    
  </span>
</a>

  </script>
</div>