$accordionMap: (
  controlMargin: (
    tiny: 12px,
    small: 14.5px,
    large: 17px,
  )
);

.mdl-accordion {
  @include sizeCurve(padding-bottom, big);

  .atm-heading--bordered { // CZHDEV-428
    @include sizeCurve(margin-bottom, medium);
  }

  &__label {
    display: flex;
    align-items: flex-start;
    position: relative;
    cursor: pointer;

    @include sizeCurve(padding-top padding-bottom, small);
  }

  &__item {
    position: relative;

    &:after {
      display: block;
      content: ' ';
      left: 0;
      right: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      transform: scaleY(1);

      background: $colorBlack20;

      @include transition(background transform);
    }

    @include hover() {
      .mdl-accordion__control {
        color: $colorBlack100;
      }

      .mdl-accordion__plus use {
        fill: $colorBlack100;
      }
    }

    .mdl-accordion__control {
      color: $colorBlack60;
    }

    &--open {
      .mdl-accordion__plus .vertical {
        transform: rotate(90deg);
      }

      .mdl-accordion__panel {
        @include transition(max-height);
      }

      .mdl-accordion__control {
        max-height: none;
        white-space: normal;
        color: $colorBlack100;
      }

      .mdl-accordion__plus use {
        fill: $colorBlack100;
      }

      .mdl-accordion__subhead {
        opacity: 0;
        padding: 0;
        transition: none;
      }
    }

    &--transition-end {
      .mdl-accordion__panel {
        overflow: visible;
      }
    }

    @include hover('.mdl-accordion__item--open') {
      &:after {
        transform: scaleY(3);
        background: $colorBlack100;
      }
    }
  }

  &__button {
    width: 100%;

    &:not(.mdl-accordion__button--subhead) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--subhead {
      &__flexbox {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  &__header {
    margin: 0;
  }

  &__subhead {
    font-size: pxToRem($sizeRegular);
    bottom: pxToRem($sizeMini);
    margin-top: pxToRem(- $sizeRegular);
    line-height: pxToRem($sizeLarge);
    padding-bottom: pxToRem($sizeSmallLarge);
    color: $colorBlack60;
    opacity: 1;
    display: block;
    min-height: pxToRem($sizeRegular);

    @include transition(opacity padding);
  }

  &__control {
    @include polyFluidSizing(font-size, map-get($fontSizeCurves, regular));
    @include polyFluidSizing(max-height, multiplyMapValues(map-get($fontSizeCurves, regular), 1.5));

    letter-spacing: -0.3px;
    flex-grow: 1;
    overflow: hidden;
    width: calc(100% - 24px);
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: $fontFamilyBlack;
    line-height: $sizeLineHeightMedium;
    margin: 0;
    display: block;

    @include sizeCurve(margin-top margin-bottom, controlMargin, $accordionMap);
    @include transition(color);
  }


  &__plus {
    overflow: hidden;
    margin-right: 2px;

    use {
      fill: $colorBlack60;

      @include transition(fill);
    }

    .vertical {
      transform: rotate(0);
      transform-origin: 12px 12px;

      @include transition(transform);
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;

    @include transition(max-height, $easing: $transitionEasingDecelerate);
  }

  &__panel-content {
    display: inline-block;

    > :last-child {
      @include sizeCurve(margin-bottom, medium);
    }

    > p:last-child,
    > .mdl-linklist:last-child,
    > .mdl-download_list:last-child {
      @include sizeCurve(margin-bottom, regular);
    }
  }

  /** Inverted style */
  &--cv-inverted {
    @include gridBleed($fullwidth: true);
    @include sizeCurve(padding-top, big);

    background: $colorBlack5;

    h2.atm-heading.atm-heading--bordered,
    h3.atm-heading.atm-heading--bordered,
    h4.atm-heading.atm-heading--bordered,
    h2.atm-heading,
    h3.atm-heading,
    h4.atm-heading {
      color: $colorBlack;

      &:before {
        background: $colorBlack;
      }
    }

    h2.atm-heading--bordered {
      margin-top: 0;
    }
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-accordion--cv-inverted .mdl-table .atm-text_link {
      color: $val;
    }
  }
}
