.mdl-accordion {
  &__plus .vertical {
    transform: rotate(90deg);
  }

  &__panel {
    transition: none;
    max-height: none;
  }

  &__control {
    max-height: none;
    white-space: normal;
    color: $colorBlack100;
  }

  &__plus use {
    fill: $colorBlack100;
  }
}
