<div class="mdl-tag-group" data-init="tagGroup">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="mdl-tag-group__content cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-10 large-10 xlarge-10">
        <h6 class="atm-heading">Für dieses Thema zuständig: </h6>
        <div class="mdl-tag-group__tags">
          {{#each anchorLinks}}
            {{> "atoms/anchorlink/anchorlink" this}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
