<div class="mdl-tag-group mdl-tag-group--wrapped">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="mdl-tag-group__content cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-10 large-10 xlarge-10">
        {{#if tagGroupdHeading}}
        <h2 class="atm-heading"{{#if tagGroupdHeading.anchorNavReference}} id="{{tagGroupdHeading.anchorNavReference}}"{{/if}}>{{tagGroupdHeading.title}}</h2>
        {{/if}}
        <ul class="mdl-tag-group__tags">
          {{#each anchorLinks}}
            <li>
            {{> "atoms/anchorlink/anchorlink" this}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
