.m-slideshow {

  // stylelint-disable-next-line plugin/selector-bem-pattern
  .js & {
    // stylelint-disable-next-line max-nesting-depth
    &:not(.is-activated) {
      // stylelint-disable-next-line max-nesting-depth,plugin/selector-bem-pattern
      .m-slideshow__slide:not(:first-child) {
        display: none;
      }
    }

    // stylelint-disable-next-line max-nesting-depth
    &.is-activated {
      // stylelint-disable-next-line max-nesting-depth,plugin/selector-bem-pattern
      .m-slideshow__slide:not(.is-current) {
        display: none;
      }
    }
  }
}

.m-slideshow__slide { //stylelint-disable-line
  height: 0;
  overflow: hidden;
  padding-bottom: 33.333%;
  position: relative;
}

.m-slideshow__slide-img {
  display: block;
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.m-slideshow__nav {
  @include clearfix;

  margin-top: 1em;
}

.m-slideshow__nav-prev,
.m-slideshow__nav-next {
  border: 0;
  float: left;
}

.m-slideshow__nav-next {
  float: right;
}
