$sizeInput: 72px;
$sizeInputSmall: 48px;

.atm-form_input {
  display: block;
  position: relative;

  &__input {
    background: $colorWhite;
    line-height: $sizeLineHeightBase;

    height: pxToRem($sizeInput);
    padding: 0 pxToRem(44px) 0 pxToRem($sizeRegular);

    border: 2px solid $colorBlack40;
    border-radius: 1px;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $colorCyan;
    }
  }

  &__clear {
    display: block;
    position: absolute;

    @include blankButton;

    right: pxToRem($sizeSmallRegular);
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;

    svg use {
      fill: $colorBlack60;
    }

    &:hover svg use {
      fill: $colorBlack;
    }
  }

  // Special styles
  &--small {
    .atm-form_input__input {
      height: pxToRem($sizeInputSmall);
    }
  }
}
