<div class="mdl-biometrie_appointment__loginview">
	<p class="atm-lead">Login</p>

	<div class="mdl-biometrie_appointment__loginview__input error" data-biometrie_appointment="inputfieldswrapper">
		<div class="icon icon-error">!</div>
		<label>Token</label>
		<div>
			<span class="input" data-biometrie_appointment="input" contenteditable="true">___</span>&ndash;
			<span class="input" data-biometrie_appointment="input" contenteditable="true">___</span>&ndash;
			<span class="input" data-biometrie_appointment="input" contenteditable="true">___</span>&ndash;
			<span class="input" data-biometrie_appointment="input" contenteditable="true">___</span>
		</div>
	</div>
	<span class="atm-figcaption">Den 16-stelligen Token finden Sie auf der Terminbestätigung</span>
	<div class="mdl-biometrie_appointment__loginview__hint" data-biometrie_appointment="loginHint">
		<div class="login_notification show" data-biometrie_appointment="loginAlertErr1">
			<div class="mdl-notification
          
          
          ">
				<svg class="icon" focusable="false">
					<use xlink:href="#caution"></use>
				</svg>
				<div class="mdl-notification__message">

					<p>Invalider oder unvollständiger Token. Der Token ist 16-stellig und besteht ausschließlich aus Buchstaben (ohne Umlaute) und Ziffern.</p>
				</div>
			</div>
		</div>
		<div class="login_notification " data-biometrie_appointment="loginAlertErr2">
			<div class="mdl-notification
          
          
          ">
				<svg class="icon" focusable="false">
					<use xlink:href="#caution"></use>
				</svg>
				<div class="mdl-notification__message">

					<p>Der Token ist Falsch. Bitte überprüfen Sie Ihre Angaben.</p>
				</div>
			</div>
		</div>
		<div class="login_notification " data-biometrie_appointment="loginAlertErr3">
			<div class="mdl-notification
          
          
          ">
				<svg class="icon" focusable="false">
					<use xlink:href="#caution"></use>
				</svg>
				<div class="mdl-notification__message">

					<p>Der Token ist Falsch. Bitte überprüfen Sie Ihre Angaben. Wenn Sie sich nicht anmelden können, rufen Sie uns von Montag – Freitag von 09:00 – 11:00 Uhr auf die Telefonnr. 043 259 88 40 an.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="mdl-biometrie_appointment__loginview__submit">
		<button class="atm-button" data-biometrie_appointment="submit">
			<span class="atm-button__text ">
				Anmelden
			</span>
			<span class="atm-button__spinner"></span>
		</button>
	</div>
</div>