$toggleWidth: 56px;
$toggleFrameWidth: 60px;
$toggleBackgroundHeight: 24px;
$toggleDimension: 32px;

.atm-toggle {
  display: flex;
  position: relative;
  gap: $sizeSmallRegular;
  margin: pxToRem($sizeRegular) 0;
  cursor: pointer;

  &__switch {
    flex-shrink: 0;
    position: relative;
    width: pxToRem($toggleWidth);
    height: pxToRem($toggleBackgroundHeight);
    border-radius: pxToRem(calc($toggleBackgroundHeight / 2));
    background: $colorBlack20;

    @include transition(background-color);

    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: pxToRem($toggleDimension);
      height: pxToRem($toggleDimension);
      border: 2px solid $colorBlack20;
      left: 0;
      top: pxToRem(calc((($toggleDimension - $toggleBackgroundHeight) / 2) * -1));
      background: $colorWhite;
      border-radius: 100%;

      @include transition(border-color left);
    }
  }

  input {
    opacity: 0;
    position: absolute;
    top: pxToRem(calc(($toggleDimension / 4) * -1));
    height: pxToRem($sizeBiggerBig);
    width: pxToRem($toggleFrameWidth);
    z-index: 1;
    cursor: pointer;
  }

  input:checked + &__switch {
    background: $colorCyan;

    &:after {
      left: pxToRem($toggleWidth - $toggleDimension);
      border-color: $colorCyan;
    }
  }

  &:hover {
    .atm-toggle__switch::after {
      border-color: $colorBlack60;
    }
  }
}

@media screen and (-ms-high-contrast: active) {
  .atm-toggle {
    &__switch {
      border: 1px dashed $colorWhite;
    }

    input:checked + &__switch {
      border: 2px solid $colorWhite;
    }
  }
}
