{{#extend "layouts/layout"}}
  {{#content "header"}}
    {{> "modules/page_header/page_header" props.modules.pageHeaderData }}
  {{/content}}

  {{#content "content"}}
    <h2 class="atm-heading">From Section 1</h2>
    <form novalidate>
      {{> "modules/form/form" props.modules.formSection1 }}
    </form>
    <h2 class="atm-heading">From Section 2</h2>
    <form novalidate>
      {{> "modules/form/form" props.modules.formSection2 }}
    </form>
  {{/content}}

  {{#content "footer"}}
    {{> "modules/footer/footer" props.modules.footerData }}
  {{/content}}
{{/extend}}
