{{#if preview}}
  <!-- Helper markup (do not include) -->
  <button class="atm-button atm-button--big"
          onclick="document.querySelector('.mdl-service-wrapper').dispatchEvent(new CustomEvent('ServiceWrapper.showOverlay'))">Overlay anzeigen
  </button>
  <!--  -->
{{/if}}
<div class="mdl-service-wrapper" data-init="serviceWrapper">
  <div class="mdl-service-wrapper__overlay">
    <div class="mdl-richtext">
      <h2 class="atm-heading">Vielen Dank</h2>
      <p class="atm-paragraph">Ihre Angaben wurden an das Strassenverkehrsamt übermittelt. Wir werden sie schnellst möglich bearbeiten.</p>
      <hr>
      <h2 class="atm-heading">Das müssen Sie wissen!</h2>
      <p class="atm-paragraph">
        Wir werden Ihnen den internatlionalen Führerausweis per Post zustellen. Sobald Sie ihn erhalten haben, müssen Sie folgendes beachten:
      </p>
      <ul>
        <li>{{listItem1}}</li>
        <li>{{listItem2}}</li>
        <li>{{listItem3}}</li>
      </ul>
    </div>
  </div>
  <div class="mdl-service-wrapper__content">
  {{> "modules/instructions/instructions" instructions }}
  </div>
</div>
