<div class="mdl-tax_calc" data-tax_calc-apibase="https://webcalc.services.zh.ch/ZH-Web-Calculators/calculators/" data-init="taxCalc">
	<div class="mdl-instructions" data-init="instructions">
		<ol class="mdl-instructions__list mdl-instructions__list--ordered">
			<li class="mdl-instructions__item mdl-tax_calc__before-block">
				<div>
					<h3 class="mdl-instructions__item-title atm-heading">
						Bevor Sie starten
					</h3>
					<div class="mdl-instructions__item-content">
						<div class="mdl-richtext">
							<ul class="mdl-richtext__benefits">
								<li>Die berechneten Werte sind nicht rechtsverbindlich.</li>
								<li>In einzelnen Gemeinden können allenfalls abweichende Steuerfüsse zur Anwendung kommen. Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend.</li>
								<li>Die Übermittlung der Daten erfolgt verschlüsselt und die Daten werden unmittelbar nach der Berechnung wieder gelöscht.</li>
								<li>Die Daten werden für keine weiteren Auswertungen verwendet.</li>
							</ul>
						</div>
					</div>
				</div>
			</li>
			<li class="mdl-instructions__item mdl-tax_calc__form-block">
				<div>
					<h3 class="mdl-instructions__item-title atm-heading">
						Steuerbetrag berechnen
					</h3>

					<div class="mdl-instructions__item-content">
						<form data-tax_calc="formBase" novalidate>

							<div class="mdl-accordion  mdl-accordion--toggleall " data-init="accordion">
								<p class="visuallyhidden">Verwenden Sie die Akkordeon-Bedienelemente, um die Sichtbarkeit der jeweiligen Panels (unterhalb der Bedienelemente) umzuschalten.</p>
								<div>
									<div class="mdl-accordion__item mdl-tax_calc__form-block_item" data-accordion="item">
										<h4 class="mdl-accordion__header">
											<button class="mdl-accordion__button mdl-accordion__button--subhead" aria-expanded="false" data-accordion="trigger" type="button">
												<span class="mdl-accordion__button--subhead__flexbox">
													<span class="mdl-accordion__control">
														Für wen möchten Sie den Steuerbetrag berechnen?
													</span>
													<svg class="icon mdl-accordion__plus" focusable="false">
														<use class="vertical" xlink:href="#plus-vertical" data-accordion="verticalIcon"></use>
														<use xlink:href="#plus-horizontal"></use>
													</svg>
												</span>
												<span class="mdl-accordion__subhead">{value-reserve}</span>
											</button>
										</h4>
										<div class="mdl-accordion__panel" data-accordion="panel" aria-hidden="true">
											<div class="mdl-accordion__panel-content" data-accordion="panel-content">
												<fieldset class="form__section">

													<div class="form__group ">
														<div class="form__row">
															<div class="form__cell form__cell--small">
																<fieldset class="form__fieldset" data-input>

																	<div class="form__fieldset-list form__fieldset-list--vertical">
																		<div class="atm-radiobutton " data-tax_calc="inputEntity">
																			<input id="radioprivatperson" type="radio" value="individual" name="taxEntity" data-validation required>
																			<label for="radioprivatperson">
																				Privatperson
																				<span class="atm-radiobutton__descr">Berechnen von Bundes-, Staats- und Gemeindesteuerbetrag, Steuerbetrag auf Kapitalleistungen aus Vorsorge sowie Erbschafts- und Schenkungssteuer (Natürliche Personen)</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputEntity">
																			<input id="radioincorp" type="radio" value="incorp" name="taxEntity" data-validation required>
																			<label for="radioincorp">
																				Unternehmen, Vereine und Stiftungen
																				<span class="atm-radiobutton__descr">Berechnen des Steuerbetrag und/ oder der Steuerrückstellung für ordentlich besteuerte Gesellschaften und Genossenschaften (Juristische Personen)</span>
																			</label>
																		</div>

																	</div>
																	<p data-message="required" class="form__fieldset-error-message">Bitte wählen Sie eine Option aus.</p>
																</fieldset>

															</div>
														</div>

													</div>
												</fieldset>

											</div>
										</div>
									</div>
									<div class="mdl-accordion__item mdl-tax_calc__form-block_item" data-accordion="item">
										<h4 class="mdl-accordion__header">
											<button class="mdl-accordion__button mdl-accordion__button--subhead" aria-expanded="false" data-accordion="trigger" type="button">
												<span class="mdl-accordion__button--subhead__flexbox">
													<span class="mdl-accordion__control">
														Was möchten Sie berechnen?
													</span>
													<svg class="icon mdl-accordion__plus" focusable="false">
														<use class="vertical" xlink:href="#plus-vertical" data-accordion="verticalIcon"></use>
														<use xlink:href="#plus-horizontal"></use>
													</svg>
												</span>
												<span class="mdl-accordion__subhead">{value-reserve}</span>
											</button>
										</h4>
										<div class="mdl-accordion__panel" data-accordion="panel" aria-hidden="true">
											<div class="mdl-accordion__panel-content" data-accordion="panel-content">
												<fieldset class="form__section">

													<div class="form__group ">
														<div class="form__row">
															<div class="form__cell form__cell--small">
																<fieldset class="form__fieldset" data-input>

																	<div class="form__fieldset-list form__fieldset-list--vertical">
																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-individual">
																			<input id="radioincome_assets" type="radio" value="income_assets" name="taxType" data-validation required>
																			<label for="radioincome_assets">
																				Staats- &amp; Gemeindesteuern
																				<span class="atm-radiobutton__descr">Berechnung Staats- und Gemeindesteuern, auch Sonderfälle.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-individual">
																			<input id="radiofederal" type="radio" value="federal" name="taxType" data-validation required>
																			<label for="radiofederal">
																				Direkte Bundessteuer
																				<span class="atm-radiobutton__descr">Berechnung Direkte Bundessteuer, auch Sonderfälle.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-individual">
																			<input id="radiobenefit_payments" type="radio" value="benefit_payments" name="taxType" data-validation required>
																			<label for="radiobenefit_payments">
																				Staats- &amp; Gemeindesteuern auf Kapitalleistungen
																				<span class="atm-radiobutton__descr">Berechnung der Staats- und Gemeindesteuern auf Kapitalleistungen aus Vorsorge.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-individual">
																			<input id="radiobenefit_payments_federal" type="radio" value="benefit_payments_federal" name="taxType" data-validation required>
																			<label for="radiobenefit_payments_federal">
																				Direkte Bundessteuer auf Kapitalleistungen
																				<span class="atm-radiobutton__descr">Berechnung der Direkten Bundessteuer auf Kapitalleistungen aus Vorsorge.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-individual">
																			<input id="radioinheritance" type="radio" value="inheritance" name="taxType" data-validation required>
																			<label for="radioinheritance">
																				Erbschafts- &amp; Schenkungssteuern
																				<span class="atm-radiobutton__descr">Berechnung Erbschafts- und Schenkungssteuern für natürliche Personen.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-incorp">
																			<input id="radiolegal_simple" type="radio" value="legal_simple" name="taxType" data-validation required>
																			<label for="radiolegal_simple">
																				Steuerbetrag juristische Personen
																				<span class="atm-radiobutton__descr">Berechnen der Steuern, ausgehend vom steuerbaren Reingewinn und vom Kapital.</span>
																			</label>
																		</div>

																		<div class="atm-radiobutton " data-tax_calc="inputTaxType-incorp">
																			<input id="radiolegal_iterative" type="radio" value="legal_iterative" name="taxType" data-validation required>
																			<label for="radiolegal_iterative">
																				Steuerrückstellung juristische Personen
																				<span class="atm-radiobutton__descr">Berechnen der Steuern, ausgehend von Gewinn und Kapital vor Steuern, mit dem Zweck der Vornahme der Steuerrückstellung.</span>
																			</label>
																		</div>

																	</div>
																	<p data-message="required" class="form__fieldset-error-message">Bitte wählen Sie eine Option aus.</p>
																</fieldset>

															</div>
														</div>

													</div>
												</fieldset>

											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="mdl-tax_calc__error" data-tax_calc="apiErrorsNotification">
								<div class="mdl-notification">
									<svg class="icon" focusable="false">
										<use xlink:href="#caution"></use>
									</svg>
									<div class="mdl-notification__message">
										<p>Dummy for Dev</p>
									</div>
								</div>
							</div>
						</form>
						<div class="mdl-tax_calc__next-btn_container" data-tax_calc="btnContainer">
							<button class="atm-button mdl-tax_calc__next-btn" data-tax_calc="nextBtn">
								<span class="atm-button__text atm-button__text--next">
									Weiter
								</span>
								<span class="atm-button__text atm-button__text--calculate">
									Berechnen
								</span>
								<div class="atm-loading_circle">
									<span class="atm-loading_circle__spinner"></span>
								</div>
							</button>
						</div>
					</div>
				</div>
			</li>
			<li class="mdl-instructions__item mdl-tax_calc__result-block">
				<div>
					<h3 class="mdl-instructions__item-title atm-heading">
						Ihr Ergebnis - Provisorische Berechnung&nbsp;<span data-tax_calc-taxyear></span>
					</h3>

					<div class=" mdl-tax_calc__toformbtn_anker">
					</div>
					<button class="atm-button atm-button--icon-only mdl-tax_calc__toformbtn" data-tax_calc="editBtn" tabindex="-1">
						<span class="atm-button__text visuallyhidden">
							Bearbeiten
						</span>
						<svg class="icon atm-button__icon" focusable="false">
							<use xlink:href="#edit"></use>
						</svg>
					</button>

					<div class="mdl-instructions__item-content" data-tax_calc="resultCon">

					</div>
				</div>
			</li>
		</ol>
	</div>



	<div class="mdl-tax_calc__alert-connection-fail">
		<div class="mdl-notification
        
        
        mdl-notification--dialog">
			<svg class="icon" focusable="false">
				<use xlink:href="#caution"></use>
			</svg>
			<div class="mdl-notification__message">
				<h3 class="mdl-notification__title">Entschuldigung, der Service ist nicht verfügbar.</h3>
				<p>Grund dafür ist ein technisches Problem. Bitte versuchen Sie es später noch einmal.</p>
			</div>
		</div>
	</div>


	<script type="text/x-handlebars-template" data-tax_calc="formItemTemplate">
		<h4 class="mdl-accordion__header">
            <button class="mdl-accordion__button" aria-expanded="false" data-accordion="trigger" type="button" tabindex="-1">
              <span class="mdl-accordion__control">
                <%=title%>
              </span>
              <svg class="icon mdl-accordion__plus" focusable="false">
                <use class="vertical" xlink:href="#plus-vertical" data-accordion="verticalIcon"></use>
                <use xlink:href="#plus-horizontal"></use>
              </svg>
            </button>
            <span class="mdl-accordion__subhead"></span>
          </h4>
          <div class="mdl-accordion__panel" data-accordion="panel" aria-hidden="true">
            <div class="mdl-accordion__panel-content" data-accordion="panel-content">
              <fieldset class="form__section" aria-live="polite">
                <div class="form__group">
                  <% _.forEach(rows, function(row, index) { %>
                    <div class="form__row">
                      <% _.forEach(row.fields, function(field, index) { %>
                        <div class="form__cell">
                          <%=field%>
                        </div>
                      <% }); %>
                    </div>
                  <% }); %>
                </div>
              </fieldset>
            </div>
          </div>
    </script>


	<script type="text/x-handlebars-template" data-tax_calc-fieldtemplate="list">
		<div class="mdl-select" data-input data-init="select">
            <div class="atm-form_input atm-form_input--floated atm-form_input--trigger">
        
                <button aria-expanded="false" aria-labelledby="aria-labledBy- " class="atm-form_input__input atm-form_input__input--trigger" type="button" tabindex="-1">
                    <span id="aria-labledBy-" class="atm-form_input__trigger-label"><%=label%></span>
                    <span class="atm-form_input__trigger-value"></span>
                    <svg class="icon" focusable="false">
                        <use xlink:href="#angle_drop_down"></use>
                    </svg>
                </button>
        
                <% if (mandatory) { %>
                  <p class="form__fieldset-error-message" data-message="required">Bitte wählen Sie eine Option.</p>
                <% } %>
            </div>
        
            <div class="mdl-select__options">
                <ul class="atm-list" data-inputtype="radio" tabindex="-1">
                  <% _.forEach(selectOptions, function(option, index) { %>
                      <li class="atm-list__item atm-list__item--icon-right">
        
                          <input name="<%=fieldName%>"
                                 id="<%='radio-'+fieldName+'-'+index%>"
                                 type="radio"
                                 value="<%=option.value%>" placeholder="<%=option.label%>"
                                 data-select-option data-validation
                                 tabindex="-1"
                          <% if (option.selected) { %> checked<% } %>
                          <% if (mandatory) { %> required<% } %>
                          <% if (reinvokeTrigger) { %> data-tax_calc-reinvoke="true"<% } %>
                          >
        
                          <label for="<%='radio-'+fieldName+'-'+index%>"><%=option.label%></label>
                      </li>
        
                    <% }); %>
                </ul>
            </div>
        </div>
    </script>

	<script type="text/x-handlebars-template" data-tax_calc-fieldtemplate="number">
		<div class="atm-form_input atm-form_input--floated" data-input>
          <input class="atm-form_input__input<% if (value) { %> dirty<% } %>"
                 tabindex="-1" type="text" data-validation data-floating
                 data-pattern="^([0-9]){1,<%=maxLength%>}$|^<%=maxSize%>$" id="input-<%=fieldName%>" placeholder="<%=label%>"
                <% if (reinvokeTrigger) { %> data-tax_calc-reinvoke="true"<% } %>
                 name="<%=fieldName%>" value="<%=value %>" type="text"<% if (mandatory) { %> required<% } %>>
      
          <label for="input-<%=fieldName%>"><%=label%></label>
          <span class="atm-form_input__validate-icon">
      		<span>
      			<span class="visuallyhidden">Eingabe entspricht den Vorgaben.</span>
      			<svg class="icon" focusable="false">
      				<use xlink:href="#confirm"></use>
      			</svg>
      		</span>
      		<span>
      			<span class="visuallyhidden">Eingabe entspricht nicht den Vorgaben.</span>
      			<svg class="icon" focusable="false">
      				<use xlink:href="#caution"></use>
      			</svg>
      		</span>
      	</span>
      
        <% if (mandatory) { %>
        <p class="form__fieldset-error-message" data-message="required">Für die Berechnung ist hier eine Eingabe erforderlich.</p>
        <% } %>
        <p class="form__fieldset-error-message" data-message="pattern">Ungültige Zahleneingabe</p>
      
        <% if (hint) { %>
          <div class="atm-form_input__hint"><%=hint %></div>
        <% } %>
      </div>
    </script>

	<script type="text/x-handlebars-template" data-tax_calc-fieldtemplate="boolean">
		<fieldset class="form__fieldset" data-input>
          <div class="form__fieldset-list form__fieldset-list--vertical">
              <div class="atm-checkbox">
                  <input type="checkbox" id="checkbox-<%=fieldName%>" name="<%=fieldName%>" data-validation value="<%=label%>"
                  <% if (reinvokeTrigger) { %> data-tax_calc-reinvoke="true"<% } %>
                  <% if (mandatory) { %> required<% } %><% if (value) { %> checked<% } %>>
                  <label for="checkbox-<%=fieldName%>">
                      <%=label%>
                      <span>
                        <svg class="icon icon--iframe-arrow" focusable="false">
                          <use xlink:href="#check"></use>
                        </svg>
                      </span>
                      <% if (hint) { %>
                      <div class="atm-checkbox__hint"><%=hint%></div>
                      <% } %>
                  </label>
              </div>
      
          </div>
      
          <% if (mandatory) { %>
            <p class="form__fieldset-error-message" data-message="required">Bitte auswählen.</p>
          <% } %>
      </fieldset>
    </script>

	<script type="text/x-handlebars-template" data-tax_calc-fieldtemplate="date">
		<div class="atm-form_input atm-form_input--floated" data-input>
      
          <input class="atm-form_input__input<% if (value) { %> dirty<% } %>"  type="text" data-validation data-floating
                 data-pattern="^([0][1-9]|[1-2][0-9]|3[0-1])\.([0][1-9]|[1][0-2])\.$" tabindex="-1"
                 id="input-<%=fieldName%>" placeholder="<%=label%>" name="<%=fieldName%>" value="<%=value %>"
                 data-input-mask="\d\d\.[\d.]\d\d[\d.]\." data-mask-placeholder="TT.MM."
                <% if (reinvokeTrigger) { %> data-tax_calc-reinvoke="true"<% } %>
                <% if (mandatory) { %> required<% } %> >
         <span class="atm-form_input__backdrop">
            <i></i>TT.MM.
          </span>
          <label for="input-<%=fieldName%>"><%=label%></label>
          <span class="atm-form_input__validate-icon">
      		<span>
      			<span class="visuallyhidden">Eingabe entspricht den Vorgaben.</span>
      			<svg class="icon" focusable="false">
      				<use xlink:href="#confirm"></use>
      			</svg>
      		</span>
      		<span>
      			<span class="visuallyhidden">Eingabe entspricht nicht den Vorgaben.</span>
      			<svg class="icon" focusable="false">
      				<use xlink:href="#caution"></use>
      			</svg>
      		</span>
      	</span>
      
        <% if (mandatory) { %>
        <p class="form__fieldset-error-message" data-message="required">Für die Berechnung ist hier eine Eingabe erforderlich.</p>
        <% } %>
        <p class="form__fieldset-error-message" data-message="pattern">Bitte im Format TT.MM. eingeben</p>
      </div>
    </script>


	<script type="text/x-handlebars-template" data-tax_calc="tableBlockTemplate">
		<div class="mdl-table mdl-table--align-right mdl-table--first-column-fixed" data-init="table" data-redraw="true">
          <h4 class="atm-heading mdl-table__title"><%=blockHead%></h4>
          <figure class="mdl-table__figure">
              <div class="mdl-table__scroll-area" data-table="scroll-area">
                  <div class="mdl-table__wrapper" data-table="scroll-area-wrapper">
                      <table class="mdl-table__table" data-table="table">
                          <thead>
                              <tr class="mdl-table__row">
                              <% _.forEach(headRow, function(entry, index) { %>
                                  <th scope="col" class="mdl-table__cell mdl-table__column-header ">
                                      <span><%=entry%></span>
                                  </th>
                              <% }); %>
                              </tr>
                          </thead>
                          <tbody class="mdl-table__body">
                          <% _.forEach(bodyRows, function(row, index) { %>
                              <tr class="mdl-table__row mdl-table__row">
                              <% _.forEach(row.entries, function(entry, index) { %>
                                  <% if(index === 0) { %>
                                  <td scope="row" class="mdl-table__cell mdl-table__row-header<% if(row.isHighlighted) { %> mdl-table__cell--highlighted<% } %>" data-table="cell">
                                      <%=entry%>
                                  </td>
                                  <% } else { %>
                                    <% if(row.isHighlighted) { %>
                                    <th class="mdl-table__cell  mdl-table__cell--highlighted" data-table="cell">
                                        <%=entry%>
                                    </th>
                                    <% } else { %>
                                    <td class="mdl-table__cell" data-table="cell">
                                        <%=entry%>
                                    </td>
                                    <% }%>
                                  <% }%>
                              <% }); %>
                              </tr>
                          <% }); %>
                          </tbody>
                      </table>
                  </div>
              </div>
              <% if(caption) { %>
              <figcaption class="mdl-table__figcaption">
                <span class="atm-figcaption" data-figcaption="caption">
                  <%=caption %>
                </span>
              </figcaption>
              <% }%>
          </figure>
      </div>
    </script>

	<script type="text/x-handlebars-template" data-tax_calc="remarksTemplate">
		<h4 class="atm-heading mdl-table__title">Bemerkungen</h4>
      <% _.forEach(remarks, function(remark) { %>
        <p class="atm-paragraph">
            <%=remark%>
        </p>
      <% }); %>
    </script>


	<script type="application/json" data-tax_calc-formconfig>
		{
			"INCOME_ASSETS": [{
				"title": "Genauer",
				"rows": [{
						"fields": ["isLiabilityLessThanAYear"]
					},
					{
						"fields": ["hasTaxSeparation"]
					},
					{
						"fields": ["hasQualifiedInvestments"]
					}
				]
			}, {
				"title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
				"rows": [{
						"fields": ["taxYear"]
					},
					{
						"fields": ["liabilityBegin", "liabilityEnd"]
					}
				]
			}, {
				"title": "Persönliche Daten",
				"rows": [{
						"fields": ["maritalStatus", "taxScale"]
					},
					{
						"fields": ["religionP1", "religionP2"]
					},
					{
						"fields": ["municipality"]
					}
				]
			}, {
				"title": "Einkommen und Vermögen",
				"rows": [{
						"fields": ["taxableIncome", "ascertainedTaxableIncome"]
					},
					{
						"fields": ["qualifiedInvestmentsIncome"]
					},
					{
						"fields": ["taxableAssets", "ascertainedTaxableAssets"]
					},
					{
						"fields": ["withholdingTax"]
					}
				]
			}],
			"FEDERAL": [{
				"title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
				"rows": [{
					"fields": ["taxYear"]
				}]
			}, {
				"title": "Ihr Tarif",
				"rows": [{
						"fields": ["isLiabilityLessThanAYearOrHasTaxSeparation"]
					},
					{
						"fields": ["taxScale", "childrenNo"]
					}
				]
			}, {
				"title": "Einkommen",
				"rows": [{
					"fields": ["taxableIncome", "ascertainedTaxableIncome"]
				}]
			}],
			"BENEFIT_PAYMENTS": [{
				"title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
				"rows": [{
					"fields": ["taxYear"]
				}]
			}, {
				"title": "Persönliche Daten",
				"rows": [{
						"fields": ["taxScale", "municipality"]
					},
					{
						"fields": ["religionP1", "religionP2"]
					}
				]
			}, {
				"title": "Einkommen und Vermögen",
				"rows": [{
					"fields": ["benefitPayments", "ascertainedBenefitPayments"]
				}]
			}],
			"BENEFIT_PAYMENTS_FEDERAL": [{
				"title": "Für welchen Zeitraum möchten Sie den Steuerbetrag berechnen?",
				"rows": [{
					"fields": ["taxYear"]
				}]
			}, {
				"title": "Persönliche Daten",
				"rows": [{
						"fields": ["taxScale", "municipality"]
					},
					{
						"fields": ["religionP1", "religionP2"]
					}
				]
			}, {
				"title": "Einkommen und Vermögen",
				"rows": [{
					"fields": ["benefitPayments", "ascertainedBenefitPayments"]
				}]
			}],
			"INHERITANCE": [{
				"title": "Ihre Angaben",
				"rows": [{
						"fields": ["inheritanceAmount"]
					},
					{
						"fields": ["taxFreeAmount"]
					},
					{
						"fields": ["kinshipDegree"]
					}
				]
			}],
			"LEGAL_SIMPLE": [{
				"title": "Ihre Angaben",
				"rows": [{
						"fields": ["municipality", "taxYear"]
					},
					{
						"fields": ["earnings", "capital"]
					}
				]
			}],
			"LEGAL_ITERATIVE": [{
				"title": "Ihre Angaben",
				"rows": [{
						"fields": ["municipality", "taxYear"]
					},
					{
						"fields": ["earnings", "capital"]
					}
				]
			}]
		}
	</script>

	<script type="application/json" data-tax_calc-resultconfig>
		{
			"INCOME_ASSETS": {
				"tables": [{
						"heading": "Einfache Staatssteuer Einkommen und Vermögen",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"Einfache Staatssteuer<br>100%, CHF"
						],
						"fieldRows": [{
								"entries": [
									"ascertainedTaxableIncome.label",
									"ascertainedTaxableIncome",
									"incomeTaxRate",
									""
								]
							},
							{
								"entries": [
									"taxableIncome.label",
									"taxableIncome",
									"incomeTaxRate",
									"incomeTax"
								]
							},
							{
								"entries": [
									"qualifiedInvestmentsIncome.label",
									"qualifiedInvestmentsIncome",
									"qualifiedInvestmentsTaxRate",
									"qualifiedInvestmentsTax"
								]
							},
							{
								"entries": [
									"ascertainedTaxableAssets.label",
									"ascertainedTaxableAssets",
									"assetsTaxRate",
									""
								]
							},
							{
								"entries": [
									"taxableAssets.label",
									"taxableAssets",
									"assetsTaxRate",
									"assetsTax"
								]
							},
							{
								"entries": [
									"cantonalSimpleTax.label",
									"",
									"",
									"cantonalSimpleTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Steuerberechnung",
						"thead": [
							"",
							"",
							"Steuerfuss",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"cantonalBaseTax.label",
									"",
									"cantonalBaseTaxRate",
									"benefitPaymentsTax"
								]
							},
							{
								"entries": [
									"municipalityTax.label",
									"",
									"municipalityTaxRate",
									"municipalityTax"
								]
							},
							{
								"entries": [
									"religionTaxP1.label",
									"religionP1",
									"religionTaxRateP1",
									"religionTaxP1"
								]
							},
							{
								"entries": [
									"religionTaxP2.label",
									"religionP2",
									"religionTaxRateP2",
									"religionTaxP2"
								]
							},
							{
								"entries": [
									"personalTax.label",
									"",
									"personalTaxRate",
									"personalTax"
								]
							},
							{
								"entries": [
									"totalCantonalTax.label",
									"",
									"",
									"totalCantonalTax"
								],
								"isHighlighted": true
							},
							{
								"entries": [
									"withholdingTax.label",
									"",
									"",
									"withholdingTax"
								]
							},
							{
								"entries": [
									"difference.label",
									"",
									"",
									"difference"
								]
							}
						],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["financialEqualizationRemark", "provisionallyRemark"]
			},
			"FEDERAL": {
				"tables": [{
						"heading": "Einkommen",
						"thead": [
							"",
							"CHF",
							"Steuersatz"
						],
						"fieldRows": [{
								"entries": [
									"taxableAscertainedFederalIncome.label",
									"taxableAscertainedFederalIncome",
									""
								]
							},
							{
								"entries": [
									"taxableFederalIncome.label",
									"taxableFederalIncome",
									"federalTaxRate"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Steuerberechnung",
						"thead": [
							"",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"totalFederalTax.label",
									"totalFederalTax"
								]
							},
							{
								"entries": [
									"childrenDeduction.label",
									"childrenDeduction"
								]
							},
							{
								"entries": [
									"totalAfterChildrenDeduction.label",
									"totalAfterChildrenDeduction"
								],
								"isHighlighted": true
							}
						],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["minimumTaxableAmountRemark"]
			},
			"BENEFIT_PAYMENTS": {
				"tables": [{
						"heading": "Kapitalleistungen",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"Einfache Staatssteuer<br>100%, CHF"
						],
						"fieldRows": [{
								"entries": [
									"benefitPayments.label",
									"benefitPayments",
									"",
									""
								]
							},
							{
								"entries": [
									"taxablePortion.label",
									"taxablePortion",
									"",
									""
								]
							},
							{
								"entries": [
									"benefitPaymentsTaxable.label",
									"benefitPaymentsTaxable",
									"benefitPaymentsTaxRate",
									"benefitPaymentsTax"
								]
							},
							{
								"entries": [
									"ascertainedBenefitPayments.label",
									"ascertainedBenefitPayments",
									"",
									""
								]
							},
							{
								"entries": [
									"pensions.label",
									"pensions",
									"benefitPaymentsTaxRate",
									""
								]
							},
							{
								"entries": [
									"benefitPaymentsTax.label",
									"",
									"",
									"benefitPaymentsTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Steuerberechnung",
						"thead": [
							"",
							"",
							"Steuerfuss",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"cantonalBaseTax.label",
									"",
									"cantonalBaseTaxRate",
									"benefitPaymentsTax"
								]
							},
							{
								"entries": [
									"municipalityTax.label",
									"",
									"municipalityTaxRate",
									"municipalityTax"
								]
							},
							{
								"entries": [
									"religionTaxP1.label",
									"religionP1",
									"religionTaxRateP1",
									"religionTaxP1"
								]
							},
							{
								"entries": [
									"religionTaxP2.label",
									"religionP2",
									"religionTaxRateP2",
									"religionTaxP2"
								]
							},
							{
								"entries": [
									"totalCantonalTax.label",
									"",
									"",
									"totalCantonalTax"
								],
								"isHighlighted": true
							}
						],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["financialEqualizationRemark", "provisionallyRemark"]
			},
			"BENEFIT_PAYMENTS_FEDERAL": {
				"tables": [{
						"heading": "Kapitalleistungen",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"benefitPayments.label",
									"benefitPayments",
									"",
									""
								]
							},
							{
								"entries": [
									"taxablePortion.label",
									"taxablePortion",
									"",
									""
								]
							},
							{
								"entries": [
									"benefitPaymentsTaxable.label",
									"benefitPaymentsTaxable",
									"benefitPaymentsTaxRate",
									"benefitPaymentsTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Steuerberechnung",
						"thead": [
							"",
							"CHF"
						],
						"fieldRows": [{
							"entries": [
								"totalFederalTax.label",
								"totalFederalTax"
							],
							"isHighlighted": true
						}],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["minimumTaxableAmountRemark"]
			},
			"INHERITANCE": {
				"tables": [{
					"heading": "Erbschafts- & Schenkungssteuern",
					"thead": [
						"",
						"CHF"
					],
					"fieldRows": [{
							"entries": [
								"inheritanceAmount.label",
								"inheritanceAmount"
							]
						},
						{
							"entries": [
								"taxFreeAmount.label",
								"taxFreeAmount"
							]
						},
						{
							"entries": [
								"taxableAmount.label",
								"taxableAmount"
							]
						},
						{
							"entries": [
								"simpleTax.label",
								"simpleTax"
							]
						},
						{
							"entries": [
								"kinshipDegree.label",
								"kinshipDegree"
							]
						},
						{
							"entries": [
								"totalTax.label",
								"totalTax"
							],
							"isHighlighted": true
						}
					],
					"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
				}],
				"remarks": ["minimumTaxableAmountRemark", "minimumTotalTaxRemark"]
			},
			"LEGAL_SIMPLE": {
				"tables": [{
						"heading": "Einfache Steuer",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"Einfache Staatssteuer<br>100%, CHF"
						],
						"fieldRows": [{
								"entries": [
									"earnings.label",
									"earnings",
									"earningsCantonalTaxRate",
									"earningsTax"
								]
							},
							{
								"entries": [
									"capital.label",
									"capital",
									"capitalTaxRate",
									"capitalTax"
								]
							},
							{
								"entries": [
									"simpleTax.label",
									"",
									"",
									"simpleTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Staats- und Gemeindesteuern",
						"thead": [
							"",
							"Steuersatz",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"cantonalTaxRate.label",
									"cantonalTaxRate",
									""
								]
							},
							{
								"entries": [
									"resultingMunicipalityTaxRate.label",
									"resultingMunicipalityTaxRate",
									""
								]
							},
							{
								"entries": [
									"totalCantonalTax.label",
									"resultingCantonalTaxRate",
									"totalCantonalTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Direkte Bundessteuer",
						"thead": [
							"",
							"Steuersatz",
							"CHF"
						],
						"fieldRows": [{
							"entries": [
								"totalFederalTax.label",
								"earningsFederalTaxRate",
								"totalFederalTax"
							],
							"isHighlighted": true
						}],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["iterativeThresholdExeeded", "provisionallyRemark"]
			},
			"LEGAL_ITERATIVE": {
				"tables": [{
						"heading": "Steuerbarer Reingewinn",
						"thead": [
							"",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"earnings.label",
									"earnings"
								]
							},
							{
								"entries": [
									"taxProvisions1.label",
									"taxProvisions1"
								]
							},
							{
								"entries": [
									"resultingEarnings.label",
									"resultingEarnings"
								]
							},
							{
								"entries": [
									"taxableEarnings.label",
									"taxableEarnings"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Steuerbares Kapital",
						"thead": [
							"",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"capital.label",
									"capital"
								]
							},
							{
								"entries": [
									"taxProvisions2.label",
									"taxProvisions2"
								]
							},
							{
								"entries": [
									"resultingCapital.label",
									"resultingCapital"
								]
							},
							{
								"entries": [
									"taxableCapital.label",
									"taxableCapital"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Besteuerung Staat",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"Einfache Staatssteuer<br>100%, CHF"
						],
						"fieldRows": [{
								"entries": [
									"taxableEarnings.label",
									"taxableEarnings",
									"earningsCantonalTaxRate",
									"earningsTax"
								]
							},
							{
								"entries": [
									"taxableCapital.label",
									"taxableCapital",
									"capitalTaxRate",
									"capitalTax"
								]
							},
							{
								"entries": [
									"simpleTax.label",
									"",
									"",
									"simpleTax"
								],
								"isHighlighted": true
							}
						]
					},
					{
						"heading": "Besteuerung Bund",
						"thead": [
							"",
							"CHF",
							"Steuersatz",
							"Einfache Staatssteuer<br>100%, CHF"
						],
						"fieldRows": [{
							"entries": [
								"taxableEarnings.label",
								"taxableEarnings",
								"earningsFederalTaxRate",
								"totalFederalTax"
							],
							"isHighlighted": true
						}]
					},
					{
						"heading": "Steuerberechnung",
						"thead": [
							"",
							"CHF"
						],
						"fieldRows": [{
								"entries": [
									"totalCantonalTax.label",
									"totalCantonalTax"
								]
							},
							{
								"entries": [
									"totalFederalTax.label",
									"totalFederalTax"
								]
							},
							{
								"entries": [
									"taxProvisions.label",
									"taxProvisions"
								],
								"isHighlighted": true
							}
						],
						"caption": "Für die Steuerzahlung ist einzig der Betrag auf der Steuerrechnung massgebend."
					}
				],
				"remarks": ["iterativeThresholdExeeded", "provisionallyRemark"]
			}
		}
	</script>

</div>