<div class="mdl-header mdl-header--inverted" data-init="header">
	<div class="lyt-wrapper">
		<div class="grid-margin-x grid-x">
			<div class="mdl-header__wrapper cell tiny-offset-2 xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-10">
				<h2 class="visuallyhidden">Hauptnavigation</h2>
				<nav id="navigation">
					<button class="mdl-header__nav-burger" data-menu-burger>
						<svg class="icon burger" focusable="false">
							<use xlink:href="#menu-1"></use>
						</svg>
						<svg class="icon close" focusable="false">
							<use xlink:href="#exit"></use>
						</svg>
						<span class="mdl-header__nav-burger-text">Menu</span>
					</button>
					<ul class="mdl-header__navigation">
						<li>
							<button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="1">
								Themen
							</button>
						</li>
						<li>
							<button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="2">
								Organisation
							</button>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<div class="mdl-header__functions">
		<div class="mdl-user-menu" data-init="userMenu" aria-describedby="aria-user-menu">
			<input type="hidden" data-user-menu="loginStatusEndpoint" value="../../mocks/modules/cug_login/status_logged_in.json" />
			<button class="mdl-user-menu__trigger">
				<svg class="icon" focusable="false">
					<use xlink:href="#user"></use>
				</svg>
				<span class="mdl-user-menu__user" data-user-menu="userNameField">

				</span>
				<span class="mdl-user-menu__user-short" data-user-menu="userShortField">

				</span>
				<svg class="icon" focusable="false">
					<use xlink:href="#angle_drop_down"></use>
				</svg>
			</button>

			<div class="mdl-context_menu" id="aria-user-menu">
				<div>
					<ul class="mdl-context_menu__list">
						<li>
							<button class="atm-context_menu_item " data-context-menu="item" data-user-menu="logout">
								<span class="atm-context_menu_item__label">Abmelden</span>
								<svg class="icon atm-context_menu_item__icon" focusable="false">
									<use xlink:href="#logout-user"></use>
								</svg>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<button id="search" type="button" class="mdl-header__search atm-button" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-search" data-search>
			<span class="atm-button__text">
				Suchen
			</span>
			<svg class="icon atm-button__icon" focusable="false">
				<use xlink:href="#inspect"></use>
			</svg>
		</button>
	</div>
</div>

<!-- modal page content -->
<div id="flyout-topics" class="mdl-modal  mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal" role="dialog">
	<div role="document">
		<button class="mdl-modal__close" data-modal="close">
			<span class="mdl-modal__close-label"><span class="visuallyhidden">Menu Themen </span>Schliessen</span>
			<svg focusable="false" class="icon mdl-modal__exit">
				<use xlink:href="#exit"></use>
			</svg>
		</button>
		<div class="mdl-modal__pages">
			<div class="mdl-modal__pages-page">
				<div class="lyt-wrapper">
					<div class="grid-x grid-margin-x">
						<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
							<!-- modal content -->
							<div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.json&quot;}'>
								<div data-topiclist="firstLayer">


									<div class="atm-form_input atm-form_input--small
          " data-input>


										<input class="atm-form_input__input" id="topicNavFilter" placeholder="Filtern nach Themen" name="input_name" value="" type="text" data-topiclist="input" data-hasbutton="true" autocomplete="new-password">

										<label for="topicNavFilter">Filtern nach Themen</label>

										<button class="atm-form_input__functionality" type="button" data-buttontype="clear">
											<span class="visuallyhidden">Lösche Eingabe</span>
											<svg class="icon" focusable="false">
												<use xlink:href="#clear"></use>
											</svg>
										</button>







									</div>

									<!-- Standard Topiclist -->
									<div class="
        mdl-content_nav
        
          
          
         mdl-topiclist__navigation" data-init="contentNav" aria-live="polite" data-topiclist="navigation">
										<ul class="mdl-content_nav__list">
										</ul>

									</div>

									<!-- "Autosuggest" Topiclist" -->
									<div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__autosuggest mdl-content_nav--single-column" data-init="contentNav" aria-live="polite" data-topiclist="autosuggest">
										<ul class="mdl-content_nav__list">
										</ul>

										<div class="atm-loading_circle">
											<span class="atm-loading_circle__spinner"></span>
										</div>
									</div>

									<div class="mdl-topiclist__fullwidth-wrapper">
										<button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
											Alle anzeigen
											<svg class="icon atm-button__icon">
												<use xlink:href="#layer1"></use>
											</svg>
										</button>
									</div>
								</div>

								<div data-topiclist="furtherLayers">
								</div>

								<!-- Template scripts -->
								<!-- Content teaser template -->
								<script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
									<a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
      </script>
								<!-- No results template -->
								<script data-topiclist="searchLink" type="text/x-handlebars-template">
									<a href="<%= path %>" class="mdl-topiclist__search">
          <svg class="icon" focusable="false">
            <use xlink:href="#inspect"></use>
          </svg>
          <span><%= title %></span>
        </a>
      </script>
								<script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
									<div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
    <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
    <div class="mdl-subnavigation__title">
      <h3 class="atm-heading"><%=title%></h3>
      <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
        Seite anzeigen
        <svg class="icon icon--iframe-arrow" focusable="false">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  
    <div class="mdl-content_nav" data-subnavigation="contentNav">
      <ul class="mdl-content_nav__list"></ul>
    </div>
  </div>
  
      </script>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="mdl-modal__pages-page">
				<div class="lyt-wrapper">
					<div class="grid-x grid-margin-x">
						<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
							<!-- modal content -->
							<div class="mdl-organisation_navigation" data-init="organisationNavigation">

								<div class="mdl-organisation_navigation__top" data-organisation_navigation="topSection"></div>

								<div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.organisations.json&quot;}'>
									<div data-topiclist="firstLayer">


										<div class="atm-form_input atm-form_input--small
            " data-input>


											<input class="atm-form_input__input" id="organisationFilterInput" placeholder="Filtern nach Amt, Direktion" name="input_name" value="" type="text" data-topiclist="input" data-hasbutton="true">

											<label for="organisationFilterInput">Filtern nach Amt, Direktion</label>

											<button class="atm-form_input__functionality" type="button" data-buttontype="clear">
												<span class="visuallyhidden">Lösche Eingabe</span>
												<svg class="icon" focusable="false">
													<use xlink:href="#clear"></use>
												</svg>
											</button>







										</div>

										<!-- Standard Topiclist -->
										<div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__navigation" data-init="contentNav" aria-live="polite" data-topiclist="navigation">
											<ul class="mdl-content_nav__list">
											</ul>

										</div>

										<!-- "Autosuggest" Topiclist" -->
										<div class="
            mdl-content_nav
            
              
              
             mdl-topiclist__autosuggest mdl-content_nav--single-column" data-init="contentNav" aria-live="polite" data-topiclist="autosuggest">
											<ul class="mdl-content_nav__list">
											</ul>

											<div class="atm-loading_circle">
												<span class="atm-loading_circle__spinner"></span>
											</div>
										</div>

										<div class="mdl-topiclist__fullwidth-wrapper">
											<button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
												Alle anzeigen
												<svg class="icon atm-button__icon">
													<use xlink:href="#layer1"></use>
												</svg>
											</button>
										</div>
									</div>

									<div data-topiclist="furtherLayers">
									</div>

									<!-- Template scripts -->
									<!-- Content teaser template -->
									<script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
										<a class="atm-content_teaser " href=<%=target%>>
      <span class="atm-content_teaser__content" data-lineclamp="true">
        <span class="atm-content_teaser__title">
          <%= shortTitle %>
        </span>
        
      </span>
    </a>
    
        </script>
									<!-- No results template -->
									<script data-topiclist="searchLink" type="text/x-handlebars-template">
										<a href="<%= path %>" class="mdl-topiclist__search">
            <svg class="icon" focusable="false">
              <use xlink:href="#inspect"></use>
            </svg>
            <span><%= title %></span>
          </a>
        </script>
									<script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
										<div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
      <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
      <div class="mdl-subnavigation__title">
        <h3 class="atm-heading"><%=title%></h3>
        <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
          Seite anzeigen
          <svg class="icon icon--iframe-arrow" focusable="false">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
    
      <div class="mdl-content_nav" data-subnavigation="contentNav">
        <ul class="mdl-content_nav__list"></ul>
      </div>
    </div>
    
        </script>
								</div>

								<div class="mdl-organisation_navigation__highlight">
									<div class="lyt-wrapper">
										<div class="grid-x grid-margin-x">
											<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8" data-organisation_navigation="bottomSection">
											</div>
										</div>
									</div>
								</div>


								<script data-organisation_navigation="organisationTeaserTemplate" type="text/x-handlebars-template">
									<div class="mdl-organisation_teaser" data-init="organisationTeaser">
    <h3 class="atm-heading"><%=orgTitle%></h3>
    <p class="atm-paragraph"><%=orgLead%> <a class="atm-text_link" href="<%=url%>"><%=moreLabel%></a></p>
  </div>
  
    </script>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- modal page content -->
<div id="flyout-search" class="mdl-modal mdl-modal--search mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal" role="dialog" data-modal-options="{&quot;transitionTime&quot;:500}">
	<div role="document">
		<button class="mdl-modal__close" data-modal="close">
			<span class="mdl-modal__close-label"><span class="visuallyhidden">Suche </span>Schliessen</span>
			<svg focusable="false" class="icon mdl-modal__exit">
				<use xlink:href="#exit"></use>
			</svg>
		</button>


		<div class="lyt-wrapper">
			<div class="grid-x grid-margin-x">
				<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
					<!-- modal content -->
					<div class="mdl-search cv-monochrome" data-search-options="{&quot;url&quot;:&quot;/mocks/modules/search/search.json&quot;,&quot;searchPageUrl&quot;:&quot;/pages/search/search.html&quot;}" data-init="search">
						<div class="mdl-search__head">
							<svg class="icon mdl-search__icon" focusable="false">
								<use xlink:href="#inspect"></use>
							</svg>
							<form novalidate data-search="form" method="GET" action="/pages/search/search.html">
								<label class="visuallyhidden" for="query">Suchbegriff</label>
								<input class="mdl-search__input atm-form_input" type="text" data-search="input" name="q" id="q" placeholder="Suchbegriff" autocomplete="new-password" />
							</form>
						</div>
						<div class="mdl-tag-group mdl-search__tag-group">
							<h2 class="atm-heading">Meist gesucht</h2>
							<ul class="mdl-tag-group__tags">
								<li>
									<a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Schulferien 2019
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=Kurse für Hundehalter" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Kurse für Hundehalter
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=Quellensteuer" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Quellensteuer
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=Handelsregistereintrag" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Handelsregistereintrag
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=Velo" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Velo
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=eAutoindex" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										eAutoindex
									</a>
								</li>
								<li>
									<a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
										Schulferien 2019
									</a>
								</li>
							</ul>
						</div>

						<div class="
      mdl-content_nav
      
        
        
       mdl-search__autosuggest mdl-content_nav--single-column initially-hidden" data-init="contentNav" aria-live="polite" data-search="autosuggest">
							<ul class="mdl-content_nav__list">
							</ul>

						</div>

						<script data-search="autosuggestTemplate" type="text/x-handlebars-template">
							<a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
    </script>
					</div>

				</div>
			</div>
		</div>


	</div>
</div>