<div class="atm-form_input atm-form_input--floated" data-input>

    <input class="atm-form_input__input<% if (value) { %> dirty<% } %>"  type="text" data-validation data-floating
           data-pattern="^\d{2}\.\d{2}\.$" tabindex="-1"
           id="input-<%=fieldName%>" placeholder="<%=label%>" name="<%=fieldName%>" value="<%=value %>"
          <% if (reinvokeTrigger) { %> data-tax_calc-reinvoke="true"<% } %>
          <% if (mandatory) { %> required<% } %> >

    <label for="input-<%=fieldName%>"><%=label%></label>
    <span class="atm-form_input__validate-icon">
		<span>
			<span class="visuallyhidden">Eingabe entspricht den Vorgaben.</span>
			<svg class="icon" focusable="false">
				<use xlink:href="#confirm"></use>
			</svg>
		</span>
		<span>
			<span class="visuallyhidden">Eingabe entspricht nicht den Vorgaben.</span>
			<svg class="icon">
				<use xlink:href="#caution"></use>
			</svg>
		</span>
	</span>

    <% if (hint) { %>
     <div class="atm-form_input__hint">Bitte im Format TT.MM. eingeben</div>
    <% } %>
    <% if (mandatory) { %>
    <p class="form__fieldset-error-message" data-message="required">{{requiredMessages.number}}</p>
    <% } %>
</div>
