$headerCurves: (
  height: (
    tiny: 48px,
    xsmall: 56px,
    medium: 72px
  )
);

.mdl-header {
  @include gridBleed($fullwidth: true);

  padding-bottom: pxToRem(5px);
  position: relative;

  &__wrapper {
    &:after {
      height: 5px;
      background: $colorWhite;

      width: 100vw;
      position: absolute;
      display: block;
      content: ' ';
    }
  }

  &__navigation {
    display: flex;

    @include resetList;

    li {
      margin-right: pxToRem($sizeFontLarge);
    }
  }

  &__nav-item {
    @include sizeCurve(line-height, nav, $lineHeightCurves, $pxToRem: false);
    @include sizeCurve(height, height, $headerCurves);

    display: flex;
    align-items: center;

    color: $colorWhite;
  }

  /** Special design for header */
  .mdl-search {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-header {
      background: $val;

      &--inverted {
        background: transparent;

        .mdl-header__nav-item {
          color: $colorBlack100;
        }

        .mdl-header__wrapper:after {
          background: $colorBlack;
        }
      }
    }
  }
}

// Monochrome version
.cv-monochrome {
  .mdl-header {
    background: transparent;

    &__nav-item {
      color: $colorBlack100;
    }

    &__wrapper:after {
      background: $colorBlack;
    }
  }
}
