<div class="mdl-header{{#if inverted}} cv-inverted{{/if}}" data-init="header">
  <div class="lyt-wrapper">
    <div class="grid-margin-x grid-x">
      <div class="mdl-header__wrapper cell small-offset-2 medium-offset-2 large-offset-2">
        <div class="mdl-header__logo">
          {{> "atoms/logo/logo" logo}}
        </div>
        <span class="mdl-header__logo-text">Kanton Zürich</span>

        {{!-- Hauptnavigation --}}
        <h2 class="visuallyhidden">Hauptnavigation</h2>
        <div class="mdl-header__spacer"></div>
        <nav class="mdl-header__navigation-container" id="navigation" tabindex="-1">
          <button class="mdl-header__nav-burger" data-menu-burger>
            <span class="mdl-header__nav-burger-text" data-menu-burger-text>Menu</span>
            <svg class="icon burger" focusable="false">
              <use xlink:href="#menu-1"></use>
            </svg>
            <svg class="icon close" focusable="false">
              <use xlink:href="#exit"></use>
            </svg>
          </button>
          <ul class="mdl-header__navigation">
            {{#each navItem}}
              <li>
                <button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="{{modal}}" data-nav-index="{{increment @index}}">
                  {{title}}
                </button>
              </li>
            {{/each}}
          </ul>
        </nav>
        {{!-- Hauptnavigation END --}}
      </div>
    </div>
  </div>
  <div class="mdl-header__functions">
    {{#if userMenu}}
      {{> "modules/user_menu/user_menu" userMenu}}
    {{/if}}
    <button
      id="search"
      type="button"
      class="mdl-header__search atm-button"
      data-header="openModal"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="flyout-search"
      data-search
    >
      <span class="atm-button__text">
        Suchen
      </span>
      <svg class="icon atm-button__icon" focusable="false">
        <use xlink:href="#inspect"></use>
      </svg>
    </button>

  </div>
</div>

{{#each modals}}
  {{> "modules/modal/modal" this}}
{{/each}}
