<div class="mdl-header{{#if inverted}} mdl-header--inverted{{/if}}" data-init="header">
  <div class="lyt-wrapper">
    <div class="grid-margin-x grid-x">
      <div class="mdl-header__wrapper cell tiny-offset-2 xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-10">
        <h2 class="visuallyhidden">Hauptnavigation</h2>
        <nav id="navigation">
          <button class="mdl-header__nav-burger" data-menu-burger>
            <svg class="icon burger" focusable="false">
              <use xlink:href="#menu-1"></use>
            </svg>
            <svg class="icon close" focusable="false">
              <use xlink:href="#exit"></use>
            </svg>
            <span class="mdl-header__nav-burger-text">Menu</span>
          </button>
          <ul class="mdl-header__navigation" role="navigation">
            {{#each navItem}}
              <li>
                <button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="{{modal}}" data-nav-index="{{increment @index}}">
                  {{title}}
                </button>
              </li>
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="mdl-header__functions">
    {{#if hasUserMenu}}
      {{> "modules/user_menu/user_menu" userMenu}}
    {{/if}}
    <button
      id="search"
      type="button"
      class="mdl-header__search atm-button"
      data-header="openModal"
      aria-expanded="false"
      aria-haspopup="true"
      aria-controls="flyout-search"
      data-search
    >
      <span class="atm-button__text">
        Suchen
      </span>
      <svg class="icon atm-button__icon" focusable="false">
        <use xlink:href="#inspect"></use>
      </svg>
    </button>
  </div>
</div>

{{#each modals}}
  {{> "modules/modal/modal" this}}
{{/each}}
