<div class="mdl-stepper" data-init="stepper">
  <h2 class="atm-heading">{{title}}</h2>

  <!-- PLACEHOLDER STEPPER NAVIGATION -->

  <form class="mdl-stepper__wrapper form" data-stepper="wrapper" novalidate action="{{action}}">
    {{#each steps}}
      <div class="mdl-stepper__step" data-stepper="step">
        {{> "modules/form/form" this}}
      </div>
    {{/each}}
  </form>

  <div class="mdl-stepper__control" data-stepper="control">
    <button class="atm-button atm-button--secondary mdl-stepper__back" data-stepper="back">Zurück</button>
    <button class="atm-button mdl-stepper__next" data-stepper="next">Weiter</button>
    <button class="atm-button mdl-stepper__send" data-stepper="send">Senden</button>
  </div>
</div>
