.mdl-stepper {

  &__wrapper {
    overflow-x: hidden;

    position: relative;
    min-height: 0;
  }

  &__step {
    min-width: 100%;
    transition: transform $transitionTimeAreaLarge $transitionEasingDefault;

    position: absolute;
    top: 0;
    left: 0;

    background: $colorWhite;

    z-index: 2;
    opacity: 1;

    &--transition-left {
      animation: transitionInLeft $transitionTimeAreaMedium;
    }

    &--transition-right {
      animation: transitionInRight $transitionTimeAreaMedium;
    }

    &--transition-out {
      animation: transitionOut $transitionTimeAreaMedium;
      z-index: 1;
    }

    &--hidden {
      display: none;
      opacity: 1;
    }
  }

  &__control {
    display: flex;
    justify-content: flex-end;

    margin-top: pxToRem($sizeLarge);
    padding-top: pxToRem($sizeRegular);

    border-top: 3px solid $colorBlack;

    .mdl-stepper__next,
    .mdl-stepper__send {
      margin-left: pxToRem($sizeTiny);
    }
  }

  &__back,
  &__send {
    display: none;
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes transitionInRight {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes transitionInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
