<div class="mdl-user-menu" data-init="userMenu" aria-describedby="aria-user-menu">
  <input type="hidden" data-user-menu="loginStatusEndpoint" value="{{ endpointLoginStatus }}" />
  <button class="mdl-user-menu__trigger">
    <svg class="icon" focusable="false">
      <use xlink:href="#user"></use>
    </svg>
    <span class="mdl-user-menu__user" data-user-menu="userNameField">
      {{ userName }}
    </span>
    <span class="mdl-user-menu__user-short"  data-user-menu="userShortField">
      {{ userInitials }}
    </span>
    <svg class="icon" focusable="false">
      <use xlink:href="#angle_drop_down"></use>
    </svg>
  </button>

  <div class="mdl-context_menu" id="aria-user-menu">
    <div>
      <ul class="mdl-context_menu__list">
        <li>
          {{> "atoms/context_menu_item/context_menu_item" logoutItem}}
        </li>
      </ul>
    </div>
  </div>
</div>


