<div class="mdl-user-menu" data-init="userMenu" aria-describedby="aria-user-menu">
  <input type="hidden" data-user-menu="loginStatusEndpoint" value="{{ endpointLoginStatus }}" />
  <span class="menuhook"></span>
  <button class="mdl-user-menu__trigger">
    <svg class="icon">
      <use xlink:href="#user"></use>
    </svg>
    <span class="mdl-user-menu__user">
      {{ userName }}
    </span>
    <span class="mdl-user-menu__user-short">
      {{ userInitials }}
    </span>
    <svg class="icon">
      <use xlink:href="#angle_drop_down"></use>
    </svg>
  </button>

  <div class="mdl-context_menu" id="aria-user-menu">
    <div>
      <ul class="mdl-context_menu__list">
        <li>
        </li>
        <li>
          <button class="atm-context_menu_item" data-context-menu="item">
            <span class="atm-context_menu_item__label">Abmelden</span>
            <svg class="icon atm-context_menu_item__icon">
              <use xlink:href="#logout"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
