<div class="demobg">


  <div class="mdl-user-menu" data-init="userMenu">
    <button class="mdl-user-menu__trigger">
      <svg class="icon">
        <use xlink:href="#user"></use>
      </svg>
    <span class="mdl-user-menu__user">
      Andrea Mustermann
    </span>
      <span class="mdl-user-menu__user-short">
        AM
      </span>
      <svg class="icon">
        <use xlink:href="#angle_drop_down"></use>
      </svg>
    </button>
  </div>


</div>
