{{#extend "preview/layouts/layout"}}
  {{#content "header"}}
    {{> "modules/page_header/page_header" wrappingElements.pageHeaderData}}
  {{/content}}
	{{#content "content"}}
    <div class="lyt-wrapper" id="header">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
          {{#if mainMenu}}
            {{> "modules/topiclist/topiclist" mainMenu }}
          {{/if}}
          <div class="sg_documentation">
            {{{documentation}}}
          </div>
          <h3 class="atm-heading">Corporate Design Manual</h3>
          {{> "modules/publication_teaser/publication_teaser" publicationTeaser }}
        </div>
      </div>
    </div>
	{{/content}}
{{/extend}}
