{{#extend "preview/layouts/layout"}}
  {{#content "header"}}
    {{> "modules/page_header/page_header" wrappingElements.pageHeaderData}}
  {{/content}}
	{{#content "content"}}
    <div class="sg_documentation">
      <div class="lyt-wrapper" id="header">
        <div class="grid-x grid-margin-x">
          <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
            {{{documentation}}}
          </div>
        </div>
      </div>
    </div>
	{{/content}}
{{/extend}}
