<div class="mdl-people_teaser" data-init="peopleTeaser">
  <h2 class="atm-heading atm-heading--bordered ">Unser Team mit Zwischentiteln</h2>
  <div class="mdl-people_teaser__block">
    <h3 class="atm-heading">Leitung biz Oerlikon</h3>
    <div class="mdl-people_teaser__cardlist">
      {{> "modules/person_card/person_card" personCardData0 }}
    </div>
    <p class="atm-paragraph">
      Sie Sicherheitsdirektion und die darunter liegenden Ämter und Bereiche kümmern sich um ein grosens Leistungsspektrum des Kantons. Die folgenden Schwerpunkte liegen uns besonders am Herzen.
    </p>
  </div>
  <div class="mdl-people_teaser__block">
    <h3 class="atm-heading">Berater</h3>
    <div class="mdl-people_teaser__cardlist">
      {{> "modules/person_card/person_card" personCardData0 }}
      {{> "modules/person_card/person_card" personCardData1 }}
    </div>
    <p class="atm-paragraph">
      Sie Sicherheitsdirektion und die darunter liegenden Ämter und Bereiche kümmern sich um ein grosens Leistungsspektrum des Kantons. Die folgenden Schwerpunkte liegen uns besonders am Herzen.
    </p>
  </div>
  <div class="mdl-people_teaser__block">
    <h3 class="atm-heading">Was wir tun</h3>
    <div class="mdl-people_teaser__cardlist">
      {{> "modules/person_card/person_card" personCardData2 }}
    </div>
    <p class="atm-paragraph">
      Sie Sicherheitsdirektion und die darunter liegenden Ämter und Bereiche kümmern sich um ein grosens Leistungsspektrum des Kantons. Die folgenden Schwerpunkte liegen uns besonders am Herzen.
    </p>
    <div class="mdl-people_teaser__cardlist">
      {{> "modules/person_card/person_card" personCardData3 }}
    </div>
  </div>
</div>
