<div
  class="mdl-select{{#if orientationUpwards}} mdl-select--list-upwards{{/if}}{{#if hasFilter}} mdl-select--filter{{/if}}{{#if hasButton}} mdl-select--button{{/if}}{{#if floatRight}} mdl-select--float-right{{/if}}"
  data-init="select"{{#if isMultiSelect}} data-multiple="true" data-multiselectpostfix="gewählt"{{/if}}{{#if maxItems}} data-max-items="{{maxItems}}"{{/if}}
  data-input
  {{#if additionalAttributes}}{{{additionalAttributes}}}{{/if}}
  >
  {{> "atoms/form_input/form_input" triggerInputData }}
  <div class="mdl-select__options{{#if isTable}} mdl-select__options--table{{/if}}">
    {{#if hasFilter}}
      <div class="mdl-select__filter">
      {{#if preview}}<form novalidate>{{/if}}
        {{> "atoms/form_input/form_input" filterInputData }}
      {{#if preview}}</form>{{/if}}
      </div>
    {{/if}}

    {{#if isMultiSelect}}<span class="visuallyhidden">Mehrere Optionen auswählbar. Navigieren Sie mit den Pfeiltasten.</span>{{/if}}

    {{> "atoms/list/list" listData }}

    {{#if hasButton}}
      <div class="mdl-select__apply">
        <button class="atm-button" type="button">Anwenden</button>
      </div>
    {{/if}}
  </div>
</div>
