<div
  class="mdl-select{{#if hasFilter}} mdl-select--filter {{/if}}{{#if hasButton}} mdl-select--button{{/if}}"
  data-init="select"{{#if isMultiSelect}} data-multiple="true" data-multiselectpostfix="gewählt"{{/if}}
  data-input
  {{#if additionalAttributes}}{{{additionalAttributes}}}{{/if}}
  >
  {{> "atoms/form_input/form_input" triggerInputData }}
  <div class="mdl-select__options">
    {{#if hasFilter}}
      <div class="mdl-select__filter">
      {{#if preview}}<form novalidate>{{/if}}
        {{> "atoms/form_input/form_input" filterInputData }}
      {{#if preview}}</form>{{/if}}
      </div>
    {{/if}}

    {{> "atoms/list/list" listData }}

    {{#if hasButton}}
      <div class="mdl-select__apply">
        <button class="atm-button" type="button">Anwenden</button>
      </div>
    {{/if}}
  </div>
</div>
