<!doctype html>
<html lang="de" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#if title}}{{title}}{{/if}}</title>
  <meta name="description" content="{{#if description}}{{description}}{{/if}}">
  <meta name="format-detection" content="telephone=no">

  <link rel="stylesheet" href="/assets/css/main_minimal{{#unless env.dev}}.min{{/unless}}.css">
  <link rel="stylesheet" href="/assets/css/fonts{{#unless env.dev}}.min{{/unless}}.css">


  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="Kanton Zürich">
  <meta name="apple-mobile-web-app-title" content="Kanton Zürich">
  <meta name="theme-color" content="#0076BD">
  <meta name="msapplication-navbutton-color" content="#0076BD">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
</head>
<body {{#if props.defaultColorVariation}}class="{{props.defaultColorVariation}}"{{/if}} {{#unless props.defaultColorVariation}}class="cv-blue"{{/unless}}>
<main class="lyt-wrapper" id="main">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      {{#block "header"}}
      {{/block}}
    </div>
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      {{#block "content"}}
      {{/block}}
    </div>
  </div>
</main>
<footer class="lyt-wrapper" id="footer">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <h1 class="visuallyhidden">Fussbereich</h1>
      {{#block "footer"}}
      {{/block}}
    </div>
  </div>
</footer>
{{#if props.svgSprites}}
<div id="m-svgsprites" data-svgsprites="wrapper" style="display: none">
  <!--svg href="{{props.svgSprites}}"-->
</div>
{{/if}}
</body>
</html>
