<!doctype html>
<html lang="de" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{#if title}}{{title}} – {{/if}}{{meta.project}}</title>
  <meta name="description" content="{{#if description}}{{description}}{{/if}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{! <link rel="manifest" href="site.webmanifest"> }}
  {{! <link rel="apple-touch-icon" href="icon.png"> }}

  <link href="/assets/css/critical.css" rel="stylesheet">

	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

  {{#if env.dev}}
    <link rel="stylesheet" href="/preview/assets/css/dev.css">
    <script src="/preview/assets/js/dev.js" async></script>
  {{/if}}

  {{! <meta name="theme-color" content="#fafafa"> }}
</head>
<body class="cv-default" {{#if props.svgSprites}} data-svgsprites-options='{{props.svgSprites}}'{{/if}}
  data-fonts='/assets/css/fonts{{#unless env.dev}}.min{{/unless}}.css'
  data-style-main='/assets/css/main{{#unless env.dev}}.min{{/unless}}.css'
  data-script-main='/assets/js/main{{#unless env.dev}}.min{{/unless}}.js'>
{{#block "header"}}
{{/block}}
<div class="lyt-wrapper" id="main">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      {{#block "content"}}
      {{/block}}
    </div>
  </div>
</div>
{{#block "footer"}}
{{/block}}
</body>
</html>
