{{#extend "layouts/layout"}}
	{{#content "content"}}
		<div class="lyt-columns">
			<main class="lyt-main" role="main">
				{{#block "main"}}
				{{/block}}
			</main>

			<aside class="lyt-sidebar" role="complementary">
				{{#block "sidebar"}}
				{{/block}}
			</aside>
		</div>
	{{/content}}
{{/extend}}
