<a class="atm-text_link{{#if isInverted}} atm-text_link--cv-inverted{{/if}}" href="#">
  {{#if hasLeadingIcon}}
    <svg class="icon atm-text_link__icon">
      <use xlink:href="#{{icon}}"></use>
    </svg>
  {{/if}}
  {{ text }}
  {{#if hasTrailingIcon}}
    <svg class="icon atm-text_link__icon">
      <use xlink:href="#{{icon}}"></use>
    </svg>
  {{/if}}
</a>
