.atm-figcaption {
  color: rgba($colorText, 0.6);

  @include polyFluidSizing(font-size, map-get($fontSizeCurves, tiny));

  &--cv-inverted,
  [ class*='--cv-inverted' ] & {
    color: $colorBlack20;
  }

  .mdl-image_gallery & {
    $captionHeightCurve: (
      maxHeight: (
        tiny: $sizeFontTiny * 1.5 * 4,
        small: $sizeFontSmall * 1.5 * 4,
        medium: $sizeFontSmall * 1.5 * 2,
      )
    );

    @include sizeCurve(max-height, maxHeight, $captionHeightCurve);

    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
  }
}
