<div class="atm-notification">
  <svg class="icon">
    <use xlink:href="{{icon}}"></use>
  </svg>
  <span class="atm-notification__message">
    {{#if title}}<h4 class="atm-heading">{{title}}</h4>{{/if}}
    <p>{{{message}}}</p>
  </span>
</div>
