.mdl-video {
  margin: 0;
  padding: 0;

  @include sizeCurve(margin-bottom, medium);

  &__frame {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  /* keep 16:9 Aspect ratio */
  &__wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; // stylelint-disable-line -- preserve 16:6 aspect ratio
    margin-bottom: $sizeTiny;
  }

  &__caption {
    display: flex;
    align-items: flex-start;

    .atm-figcaption {
      flex-grow: 1;
    }
  }

  &__preview,
  &__cookie-dialog {
    position: absolute;
    z-index: $zIndexInner;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    > button {
      position: absolute;
    }
  }

  &__preview {
    display: flex;
    cursor: pointer;

    button {
      bottom: 0;
      left: 0;

      .atm-button__text {
        padding-left: pxToRem($sizeTiny);
      }

      @include mq($from: xlarge) {
        height: pxToRem($sizeHuge);
      }
    }
  }

  &__cookie-dialog {
    display: none;
    flex-direction: column;
    background-color: $colorBlack5;

    > button {
      @include blankButton();
      display: flex;
      top: pxToRem($sizeTiny);
      right: pxToRem($sizeTiny);

      .icon {
        transform: scale(0.3958);

        use {
          fill: $colorBlack60;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin: auto 0;

      font-size: pxToRem(10px);
      line-height: $sizeLineHeightBigger;
      color: $colorBlack60;
    }

    .atm-button {
      margin: 0 auto;
      background-color: $colorWhite;
      color: $colorBlack;

      .icon {
        use {
          fill: $colorRed;
        }
      }
    }

    p {
      margin: 0;
    }

    p,
    strong,
    a {
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    strong {
      display: block;
    }

    a {
      position: relative;
      text-decoration: none;
      margin: 0 auto pxToRem($sizeRegular) auto;
      display: flex;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: pxToRem(2px);

        background-color: $colorBlue;
      }
    }

    @include mq($from: small) {
      > button {
        top: pxToRem($sizeRegular);
        right: pxToRem($sizeRegular);

        .icon {
          transform: scale(0.5938);
        }
      }

      div {
        font-size: pxToRem($sizeFontSmall);
      }
    }
    @include mq($from: xlarge) {
      > button {
        top: pxToRem($sizeLarge);
        right: pxToRem($sizeLarge);
      }
    }
  }

  &--fullwidth {
    @include sizeCurve(margin-bottom margin-top, big);

    .mdl-video__wrapper {
      padding-top: calc(100vw / 1.777); // stylelint-disable-line -- preserve aspect 16:9 ratio

      @media ( min-width: $sizeGlobalMaxWidth ) {
        padding-top: 810px; // stylelint-disable-line -- preserve 16:9 aspect ratio
      }

      @include gridBleed;

      z-index: 1;
    }
  }

  &--header {
    margin-bottom: 0;

    .mdl-video__wrapper {
      $maxImageWidth: 1104px;
      $maxLayoutBreakPointWidth: 1248px;

      max-width: $maxImageWidth;
      max-height: calc(#{$maxImageWidth} / 1.777);

      @include polyFluidSizing('width', map-get($imageCustomSizes, headerImageWidth));
      @include polyFluidSizing('height', map-get($imageCustomSizes, headerImageWidthAspect));
      $breakpointValue: $maxLayoutBreakPointWidth;
      $sizeValue: $sizeBreakpointLarge;
      $nextBreakpointValue: $sizeGlobalMaxWidth;
      $nextSizeValue: $maxImageWidth;

      @media ( min-width: $breakpointValue ) {
        width: linearInterpolation(($breakpointValue: $sizeValue, $nextBreakpointValue: $nextSizeValue)); //stylelint-disable-line
        height: linearInterpolation(($breakpointValue: ($sizeValue / 1.777), $nextBreakpointValue: ($nextSizeValue / 1.777))); //stylelint-disable-line
      }

      @include mq($from: tiny, $to: xsmall) {
        @include gridNestedOffset('margin-left', 1, $gridOffsetColumns);
      }
    }

    @include mq($from: tiny, $to: xsmall) {
      .mdl-video__caption {
        @include gridNestedOffset('margin-left', 1, $gridOffsetColumns);
      }
    }
  }
}
