.mdl-service_list {
  $lineCountMobile: 3;
  $lineCountDesktop: 2;
  $serviceListCurves: (
    itemPadding: (
      tiny: $sizeRegular,
      large:$sizeLarge,
    ),
    headingBottomMargin: (
      tiny: $sizeLarge,
      medium: $sizeBig,
    ),
  );
  $textHeightCurve: (
    tiny: $sizeFontRegular * $sizeLineHeightBase * $lineCountMobile ,
    xsmall: $sizeFontRegular * $sizeLineHeightBase * $lineCountMobile ,
    small: $sizeFontBiggerRegular * $sizeLineHeightBase * $lineCountDesktop,
    medium: $sizeFontBiggerRegular * $sizeLineHeightBase * $lineCountDesktop ,
    large: $sizeFontBiggerRegular * $sizeLineHeightBase * $lineCountDesktop,
    xlarge: $sizeFontMedium * $sizeLineHeightBase * $lineCountDesktop,
  );

  $titleHeightCurve: (
    tiny: $sizeFontRegular * $sizeLineHeightBase * $lineCountMobile,
    xsmall: $sizeFontBiggerRegular * $sizeLineHeightBase * $lineCountMobile,
    small: $sizeFontBiggerRegular * $sizeLineHeightMedium * $lineCountDesktop,
    medium: $sizeFontBiggerRegular * $sizeLineHeightMedium * $lineCountDesktop,
    large: $sizeFontBiggerRegular * $sizeLineHeightMedium * $lineCountDesktop,
    xlarge: $sizeFontMedium * $sizeLineHeightMedium * $lineCountDesktop,
  );

  @include sizeCurve(margin-bottom, big);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h2,
  h3 {
    &.atm-heading--bordered {

      @include sizeCurve('margin-bottom', headingBottomMargin, $serviceListCurves);
    }
  }

  h4,
  h5,
  h6 {
    &.atm-heading--bordered {

      @include sizeCurve('margin-bottom', tiny);
    }
  }

  &__item {
    cursor: pointer;
    text-decoration: none;
    background-color: rgba($colorBlack, 0.033);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: $sizeTiny;
    width: 100%;

    @include sizeCurve(padding, itemPadding, $serviceListCurves);
    @include mq($from: tiny, $to: small) {
      display: block;
    }

    &:hover {
      .mdl-service_list__item-title,
      .mdl-service_list__item-text {
        color: $colorBlack;
      }
    }

    &-title {
      line-height: $sizeLineHeightMedium;
      margin-bottom: 0;
      margin-right: $sizeTiny;

      @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
      @include mq($to: xsmall) {
        line-height: $sizeLineHeightBase;
      }
      @include polyFluidSizing(max-height, $titleHeightCurve);
    }
  }

  &__item-text {
    margin-top: $sizeTiny;
    margin-bottom: 0;
    margin-right: $sizeTiny;

    @include polyFluidSizing(max-height, $textHeightCurve);
    @include mq($from: tiny, $to: small) {
      margin-right: 0;
      margin-bottom: $sizeRegular;
    }
  }

  &__item-button {
    display: inline-flex;
    min-width: unset;
    flex-shrink: 0;

    @include mq($from: tiny, $to: small) {
      margin-top: $sizeTiny;
    }
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-service_list {
      &__item-title {
        color: #{$val};
      }
    }
  }
}
