<div class="lyt-wrapper">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!-- modal header -->
      {{> "modules/page_header/page_header" servicePageHeaderData }}
    </div>
  </div>
</div>
<div class="lyt-wrapper">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!-- modal content -->
      {{> "modules/service_box/service_box" serviceBoxData }}
    </div>
  </div>
</div>
<div class="lyt-wrapper">
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
      <!-- modal footer -->
    </div>
  </div>
</div>
