<div class="mdl-service_list">
  {{#if hasHeading}}
  <h2 class="atm-heading atm-heading--bordered ">{{headingText}}</h2>
  {{/if}}
{{#each items}}
  <a href="#" class="mdl-service_list__item">
    <div class="mdl-service_list__item-container">
      <h4 class="atm-heading mdl-service_list__item-title">{{title}}</h4>
      {{#if text}}
      <p class="atm-paragraph mdl-service_list__item-text" data-lineclamp="true">{{text}}</p>
      {{/if}}
    </div>
    <div class="mdl-service_list__item-button atm-button atm-button--small" aria-hidden="true">
      <span class="atm-button__text">
        {{buttonTitle}}
      </span>
    </div>
  </a>
  {{/each}}
</div>
