<div class="mdl-subnavigation" data-init="subnavigation" data-layer="{{layer}}">
  <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu {{parent}}</button>
  <div class="mdl-subnavigation__title">
    <h3 class="atm-heading">{{title}}</h3>
    <a class="atm-text_link atm-text_link--icon" href="{{pageUrl}}">
      Seite anzeigen
      <svg class="icon icon--iframe-arrow">
        <use xlink:href="#arrow-right"></use>
      </svg>
    </a>
  </div>

  <div class="mdl-content_nav" data-subnavigation="contentNav">
    <ul class="mdl-content_nav__list"></ul>
  </div>
</div>
