<div class="mdl-subnavigation" data-init="subnavigation" data-layer="{{layer}}">

  <a class="atm-text_link atm-text_link--icon" data-subnavigation="layerUp">
    <svg class="icon icon--iframe-add" focusable="false">
      <use xlink:href="#arrow-left"></use>
    </svg>Zurück zu
    {{parent}}
  </a>

  <h3 class="atm-heading">
    <a class="mdl-subnavigation__title" href="{{pageUrl}}">
      {{title}}
    </a>
  </h3>

  <div class="mdl-content_nav" data-subnavigation="contentNav">
    <ul class="mdl-content_nav__list"></ul>
  </div>
</div>