.mdl-news-overview {
  @include gridBleed($fullwidth: true);

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: - $sizeRegular;

    & > div {
      margin-left: $sizeRegular;
      width: 100%;
      flex-basis: 200px;
      min-width: 200px;
      flex-grow: 1;
      margin-bottom: $sizeRegular;

      + .mdl-select--filter {
        .mdl-select__options {
          min-width: 200px;
        }
      }
    }
  }

  &__pagination {
    margin-top: $sizeRegular + $sizeTiny;
  }

  .mdl-news-teaser {
    background-color: $colorWhite;
    width: 100%;
    transform: translate(0);
    margin-left: 0;
  }
}
