<div class="mdl-news-overview" data-init="newsOverview" data-source="/mocks/modules/news_overview/news_overview.json">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <form novalidate>
          <div class="mdl-news-overview__filter">
            <div class="atm-form_input atm-form_input--icon atm-form_input--floated" data-input>
              <input class="atm-form_input__input" placeholder="Suche nach Stichwort" value="" type="text"
                     data-hasbutton="true" data-floating>
              <label>Suche nach Stichwort</label>
              <button class="atm-form_input__functionality" type="button" data-buttontype="clear">
                <span class="visuallyhidden">Lösche Eingabe</span>
                <svg class="icon">
                  <use xlink:href="#clear"></use>
                </svg>
              </button>
              <svg class="icon">
                <use xlink:href="#search"></use>
              </svg>
            </div>
          </div>
        </form>
        <div class="mdl-news-teaser">
          <div class="mdl-news-teaser__content">
            <script data-teaser-template type="text/x-handlebars-template">
              {{{ newsTeaserTemplate }}}
            </script>
            <ul>
            </ul>
          </div>
          <div class="mdl-news-overview__pagination">
            {{> "modules/pagination/pagination" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
