.mdl-news-overview {
  $newsOverviewCurves: (
    marginBottom: (
      tiny: $sizeLarge,
      small: $sizeBiggerBig,
      medium: $sizeHuge,
    )
  );
  $dropdownWidth: 120px;
  $sortMinWidth: 280px;
  $inputElementHeight: 72px;

  @include gridBleed($fullwidth: true);
  @include sizeCurve(margin-top, large);

  position: relative;
  z-index: 1;

  &--loading {
    position: relative;
    height: $loadingMinHeight;
    overflow: hidden;
  }

  &__no-results {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: - $sizeRegular;
    margin-top: - $sizeRegular;

    @include sizeCurve(margin-bottom, marginBottom, $newsOverviewCurves);

    > div,
    > button {
      margin-left: $sizeRegular;
      flex-grow: 1;
      flex-basis: 0;
      margin-top: $sizeRegular;
      max-height: pxToRem($inputElementHeight);
    }

    > div {
      &:first-child {
        @include mq($from: medium, $to: large) {
          flex-basis: calc(66.6666% - #{$sizeRegular});
        }
        @include mq($from: large, $to: xlarge) {
          flex-basis: 100%;
        }
      }

      &:nth-child(2) {
        @include mq($from: medium, $to: large) {
          flex-basis: calc(33.3333% - #{$sizeRegular});
        }
      }
    }

    > button {
      display: none;
      padding: 0;

      span {
        margin-left: $sizeLarge;
      }
    }

    @include mq($from: tiny, $to: medium) {
      > .mdl-datepicker,
      > .mdl-select {
        display: none;
      }

      > button {
        display: block;
        height: auto;
      }
    }
    @include mq($from: tiny, $to: small) {
      display: block;
      margin-left: 0;

      > button,
      > div {
        width: 100%;
        margin-left: 0;
        min-height: $inputElementHeight;
      }
    }
  }

  &__controls {
    display: flex;
    margin-top: pxToRem($sizeSmallRegular);

    @include mq($from: tiny, $to: small) {
      display: block;
    }

    .mdl-news-overview__selection {
      flex-grow: 1;

      .mdl-filter-pills {
        display: block;

        button[ data-clear ] {
          &.hidden {
            display: none;
          }
        }
      }
    }

    .mdl-news-overview__sort {
      min-width: $sortMinWidth;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      position: relative;
      top: pxToRem(-$sizeTiny);

      > span {
        font-size: $sizeFontSmall;
        color: $colorBlack60;
      }

      span,
      button {
        white-space: nowrap;
      }

      &-dropdown {
        font-size: $sizeFontRegular;
        padding-left: $sizeRegular;

        .icon {
          position: relative;
          top: $sizeMini;
        }
      }

      .mdl-context_menu {
        right: 0;
        top: calc(100% + #{$sizeTiny});
        display: none;
        width: $dropdownWidth;

        > div {
          width: 100%;
        }

        button {
          width: 100%;
        }

        &.visible {
          display: flex;
          z-index: 1;
        }
      }
    }
  }

  &__pagination {
    margin-top: $sizeRegular + $sizeTiny;

    &.hidden {
      display: none;
    }
  }

  &__topnews {
    display: none;
    padding-top: 0;

    &.visible {
      display: block;
    }
  }

  .mdl-news-teaser {
    background-color: $colorWhite;
    width: 100%;
    transform: translate(0);
    margin-left: 0;
  }
}
