.mdl-news-overview {
  $newsOverviewCurves: (
    marginBottom: (
      tiny: $sizeLarge,
      small: $sizeBiggerBig,
      medium: $sizeHuge,
    )
  );
  $dropdownWidth: 120px;
  $sortMinWidth: 280px;

  @include gridBleed($fullwidth: true);

  &__filter {
    display: flex;
    flex-wrap: wrap;
    margin-left: - $sizeRegular;
    margin-top: - $sizeRegular;

    @include sizeCurve(margin-bottom, marginBottom, $newsOverviewCurves);

    & > div,
    & > button {
      margin-left: $sizeRegular;
      flex-grow: 1;
      flex-basis: 0;
      margin-top: $sizeRegular;
    }

    > div {
      &:first-child {
        @include mq($from: medium, $to: large) {
          flex-basis: calc(66.6666% - #{$sizeRegular});
        }
        @include mq($from: large, $to: xlarge) {
          flex-basis: 100%;
        }
      }

      &:nth-child(2) {
        @include mq($from: medium, $to: large) {
          flex-basis: calc(33.3333% - #{$sizeRegular});
        }
      }
    }

    > button {
      display: none;
    }

    @include mq($from: tiny, $to: medium) {
      > div {
        display: none;
      }

      > button {
        display: block;
        height: auto;
      }
    }
  }

  &__controls {
    display: flex;

    .mdl-news-overview__selection {
      flex-grow: 1;
    }

    .mdl-news-overview__sort {
      min-width: $sortMinWidth;
      text-align: right;

      > span {
        font-size: $sizeFontSmall;
        color: $colorBlack40;
      }
      &-dropdown {
        font-size: $sizeFontRegular;
        padding-left: $sizeRegular;
        .icon {
          position: relative;
          top: $sizeMini;
        }
      }

      .mdl-context_menu {
        right: 0;
        display: none;
        width: $dropdownWidth;

        > div {
          width: 100%
        }

        button {
          width: 100%;
        }

        &.visible {
          display: flex;
          z-index: 1;
        }
      }
    }
  }

  &__pagination {
    margin-top: $sizeRegular + $sizeTiny;
  }

  &__topnews {
    display: none;
    &.visible {
      display: block;
    }
  }

  .mdl-news-teaser {
    background-color: $colorWhite;
    width: 100%;
    transform: translate(0);
    margin-left: 0;
  }
}
