<div class="mdl-news-overview" data-init="newsOverview" data-source="/mocks/modules/news_overview/news_overview.json" data-order-by="new">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h2 class="visuallyhidden">Filterformular</h2>
        <form novalidate>
          <div class="mdl-news-overview__filter">
            {{>"atoms/form_input/form_input" searchInputData }}
            {{>"modules/datepicker/datepicker" dateInputData }}
            {{>"modules/select/select" topicSelect }}
            {{>"modules/select/select" organisationSelect }}
            {{>"modules/select/select" typeSelect }}
            {{>"atoms/button/button" buttonData }}
          </div>
        </form>
        {{>"modules/news_filter_mobile/news_filter_mobile" newsFilterMobileData}}
        <div data-news_overview="wrapper" class="mdl-news-overview--loading">
          <div class="mdl-news-teaser mdl-news-overview__topnews">
            <h3 class="visuallyhidden">Top News</h3>
            <div class="mdl-news-teaser__content">
          {{> "modules/teaser/teaser" prominentTeaser}}
            </div>
            <div class="mdl-news-teaser__content">
              <ul>
                {{#each topNewsTeaserItems}}
                  <li class="mdl-news-teaser__item">
                    {{> "modules/news_teaser/_news_teaser_item" this }}
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
          <div class="mdl-news-overview__controls">
            <h3 class="visuallyhidden">Aktive Filter</h3>
            <div class="mdl-news-overview__selection">
              {{>"modules/filter_pills/filter_pills" filterPillsData}}
            </div>
            <div class="mdl-news-overview__sort">
              <h3 class="visuallyhidden">Sortierung</h3>
              <span>Sortieren nach: </span>
              <button class="mdl-news-overview__sort-dropdown">
                <span>Neueste</span>
                <svg class="icon">
                  <use xlink:href="#angle_drop_down"></use>
                </svg>
              </button>
              {{> "modules/context_menu/context_menu" sortContextMenu}}
            </div>
            {{> "atoms/loading_circle/loading_circle"}}
          </div>
          <h2 class="visuallyhidden">Resultate</h2>
          <div class="mdl-news-teaser mdl-news-overview__newsgrid">
            <div class="mdl-news-teaser__content">
              <div class="mdl-news-overview__no-results">
                <h4 class=" atm-heading">{{noResults}}</h4>
                <p class="atm-paragraph">{{noResultsSubText}}</p>
              </div>
              <script data-teaser-template type="text/x-handlebars-template">
                {{{ newsTeaserTemplate }}}
              </script>
              <ul>
              </ul>
            </div>
            <div class="mdl-news-overview__pagination hidden">
              {{> "modules/pagination/pagination" }}
            </div>
            <div class="mdl-news-overview__notification hidden">
              {{> "atoms/notification/notification" notificationData }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
