.mdl-news-overview {
  .mdl-news-teaser {
    display: block;
  }

  .mdl-news-overview__filter {
    display: none;
  }

  .mdl-news-overview__topnews {
    display: none;
  }

  .mdl-news-overview__newsgrid {
    ul {
      width: 100%;
    }
  }
}
