.atm-iframe {
  @include gridBleed($fullwidth: true);
  color: $colorBlack60;

  iframe {
    width: 100%;
    border: 2px solid $colorBlack10;
    margin-bottom: $sizeTiny;
  }

  a {
    color: inherit;
  }
}
