.mdl-page-header {
  @include gridBleed($fullwidth: true);
  padding-top: 40px;

  @include sizeCurve(padding-bottom, pageHeaderBottom, $verticalSpacingCurves);

  &__logo {
    position: relative;

    @include polyFluidSizing('width', map-get($customSize, ktzhLogoWidth));
    @include polyFluidSizing('height', map-get($customSize, ktzhLogoWidth));
    @include sizeCurve('padding-top', ktzhLogoPaddingTop, $verticalSpacingCurves);
    @include polyFluidSizing('top', map-get($verticalSpacingCurves, ktzhLogoTop));
    @include polyFluidSizing('margin-left', map-get($customSize, ktzhLogoMarginLeft));
  }

  &__breadcrumb {
    @include polyFluidSizing('font-size', map-get($fontSizeCurves, regular));
    @include sizeCurve('margin-bottom', breadcrumpMarginBottom, $verticalSpacingCurves);

    span {
      color: $colorBlack60;
    }
  }

  &__breadcrumb-angle,
  &__breadcrumb-backlink {
    vertical-align: text-top;

    @include polyFluidSizing(width, map-get($fontSizeCurves, regular));
    @include polyFluidSizing(height, map-get($fontSizeCurves, regular));
  }

  .atm-lead {
    margin-top: 0;
    margin-left: 0;
  }

  .atm-button {
    @include sizeCurve('margin-bottom', regular);
  }

  &--headerimage {
    padding-bottom: 0;

    .mdl-page-header__subsection {
      @include sizeCurve(padding-top, headerImagePadding, $verticalSpacingCurves);

      .lyt-wrapper {
        @include sizeCurve(padding-bottom, pageHeaderBottom, $verticalSpacingCurves);
      }
    }

    .lyt-wrapper {
      @include sizeCurve(margin-bottom, headerImageMargin, $verticalSpacingCurves, $isNegative: true);
    }

    @include sizeCurve(padding-bottom, headerImageMargin, $verticalSpacingCurves);

    &.mdl-page-header--image-title {
      .mdl-page-header__subsection {
        @include sizeCurve(padding-top, headerImagePaddingCaptioned, $verticalSpacingCurves);
      }

      .lyt-wrapper {
        @include sizeCurve(margin-bottom, headerImageMarginCaptioned, $verticalSpacingCurves, $isNegative: true);
      }

      @include sizeCurve(padding-bottom, headerImageMarginCaptioned, $verticalSpacingCurves);
    }
  }
}

@-moz-document url-prefix('') {
  .mdl-page-header {
    &__logo {
      @include polyFluidSizing('top', map-get($verticalSpacingCurves, ktzhLogoTopFF));
    }
  }
}


@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-page-header {
      &--inverted {
        background-color: #{$val};

        ::selection {
          color: $colorBlack;
          background: $colorWhite;
        }

        .atm-heading,
        .atm-lead,
        .mdl-page-header__breadcrumb {
          color: $colorWhite;

          span {
            color: $colorWhite;
          }
        }

        .mdl-page-header__breadcrumb use {
          fill: $colorWhite;
        }

        .mdl-page-header__subsection {
          background-color: $colorWhite;

          ::selection {
            background: #{$val};
            color: $colorWhite;
          }

          .atm-heading,
          .atm-lead,
          .mdl-page-header__breadcrumb {
            color: $colorBlack;
          }
        }
      }
    }
  }
}
