.mdl-page-header {
  padding: 0;

  .mdl-page-header__logo-container {
    display: none;
  }

  .mdl-service_button,
  .mdl-tag-group {
    display: none;
  }
}

@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-page-header {
      &--inverted,
      [ class*='--inverted' ] & {
        background-color: initial;
      }


      .atm-heading,
      .atm-lead,
      .atm-paragraph,
      .mdl-page-header__breadcrumb,
      .mdl-breadcrumb__show-context,
      .mdl-page-header__closebutton {
        color: $colorText;
      }
    }
  }
}
