<div class="mdl-page-header">
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
        <h1 class="atm-heading">Titel</h1>
      </div>
    </div>
  </div>
</div>
