.mdl-download_list {
  @include sizeCurve(margin-bottom, regular);

  &__list {
    @include resetList;

    .atm-linklist_item__label {
      line-height: 1.5;
    }
  }

  &__title.atm-heading {
    margin-bottom: pxToRem($sizeTiny);

    @include sizeCurve(padding-top, small);
  }

  .mdl-context_menu {
    display: none;
  }
}

