<!doctype html>
<html lang="de" class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>CZHDEV - Living Styleguide</title>
	<meta name="description" content="Staatskanzlei Kanton Zürich - Beschreibung">
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="/assets/css/main.min.css">
	<link rel="stylesheet" href="/assets/css/print.min.css" media="print">
	<script src="/assets/js/head.min.js"></script>
	<script type="text/javascript">
		window.startTracking = function() {
			console.log('Tracking analytics initialized!');
		};
	</script>



	<link rel="manifest" href="/assets/manifest.json">

	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="application-name" content="Kanton Zürich">
	<meta name="apple-mobile-web-app-title" content="Kanton Zürich">
	<meta name="theme-color" content="#0076BD">
	<meta name="msapplication-navbutton-color" content="#0076BD">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="msapplication-starturl" content="/">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">

	<link rel="icon" type="image/png" href="/assets/media/icons/Favicon_48.png">

	<link rel="shortcut icon" sizes="144x144" type="image/png" href="/assets/media/icons/Favicon_144.png">
	<link rel="shortcut icon" sizes="96x96" type="image/png" href="/assets/media/icons/Favicon_96.png">
	<link rel="shortcut icon" sizes="48x48" type="image/png" href="/assets/media/icons/Favicon_48.png">
	<link rel="shortcut icon" sizes="16x16" type="image/png" href="/assets/media/icons/Favicon_16.png">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/media/icons/apple-touch-icon-180x180.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/media/icons/apple-touch-icon-76x76@2x.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/media/icons/apple-touch-icon-72x72@2x.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/media/icons/apple-touch-icon-60x60@2x.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/media/icons/apple-touch-icon-57x57@2x.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/media/icons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/media/icons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/media/icons/apple-touch-icon-57x57.png">
</head>

<body class="cv-blue" data-svgsprites-options='[&quot;/assets/media/svgsprite/base.svg&quot;]' data-script-main='/assets/js/main.min.js' data-style-fonts='/assets/css/fonts.min.css'>
	<header class="lyt-wrapper" id="header">
		<h1 class="visuallyhidden">Navigation</h1>
		<div class="mdl-skiplinks" data-init="skiplinks">
			<h2 class="visuallyhidden">Sprunglinks</h2>
			<ul class="mdl-skiplinks__list">
				<li class="mdl-skiplinks__item">
					<a href="/" accesskey="0" class="mdl-skiplinks__link">Startseite</a>
				</li>
				<li class="mdl-skiplinks__item">
					<a href="#navigation" accesskey="1" class="mdl-skiplinks__link">Navigation</a>
				</li>
				<li class="mdl-skiplinks__item">
					<a href="#main" accesskey="2" class="mdl-skiplinks__link">Inhalt</a>
				</li>
				<li class="mdl-skiplinks__item">
					<a href="#contact" accesskey="3" class="mdl-skiplinks__link">Kontakt</a>
				</li>
				<li class="mdl-skiplinks__item">
					<a href="#search" accesskey="5" class="mdl-skiplinks__link">Suche</a>
				</li>
				<li class="mdl-skiplinks__item">
					<a href="#contentinfo" accesskey="6" class="mdl-skiplinks__link">Fussbereich</a>
				</li>
			</ul>
		</div>
		<div class="grid-x grid-margin-x">
			<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
				<div class="mdl-header" data-init="header">
					<div class="lyt-wrapper">
						<div class="grid-margin-x grid-x">
							<div class="mdl-header__wrapper cell tiny-offset-2 xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 tiny-10">
								<h2 class="visuallyhidden">Hauptnavigation</h2>
								<nav id="navigation">
									<button class="mdl-header__nav-burger" data-menu-burger>
										<svg class="icon burger" focusable="false">
											<use xlink:href="#menu-1"></use>
										</svg>
										<svg class="icon close" focusable="false">
											<use xlink:href="#exit"></use>
										</svg>
										<span class="mdl-header__nav-burger-text">Menu</span>
									</button>
									<ul class="mdl-header__navigation">
										<li>
											<button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="1">
												Themen
											</button>
										</li>
										<li>
											<button class="mdl-header__nav-item" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-topics" data-nav-index="2">
												Organisation
											</button>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
					<div class="mdl-header__functions">
						<button id="search" type="button" class="mdl-header__search atm-button" data-header="openModal" aria-expanded="false" aria-haspopup="true" aria-controls="flyout-search" data-search>
							<span class="atm-button__text">
								Suchen
							</span>
							<svg class="icon atm-button__icon" focusable="false">
								<use xlink:href="#inspect"></use>
							</svg>
						</button>
					</div>
				</div>

				<!-- modal page content -->
				<div id="flyout-topics" class="mdl-modal  mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal" role="dialog">
					<div role="document">
						<button class="mdl-modal__close" data-modal="close">
							<span class="mdl-modal__close-label"><span class="visuallyhidden">Menu Themen </span>Schliessen</span>
							<svg focusable="false" class="icon mdl-modal__exit">
								<use xlink:href="#exit"></use>
							</svg>
						</button>
						<div class="mdl-modal__pages">
							<div class="mdl-modal__pages-page">
								<div class="lyt-wrapper">
									<div class="grid-x grid-margin-x">
										<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
											<!-- modal content -->
											<div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.json&quot;,&quot;searchUrl&quot;:&quot;/pages/search/search.html?q&#x3D;{value}&quot;}'>
												<div data-topiclist="firstLayer">


													<div class="atm-form_input atm-form_input--small
          " data-input>



														<input class="atm-form_input__input" id="topicNavFilter" placeholder="Filtern nach Themen" name="input_name" value="" type="text" data-topiclist="input" data-hasbutton="true" autocomplete="new-password">




														<label for="topicNavFilter">Filtern nach Themen</label>

														<button class="atm-form_input__functionality" type="button" data-buttontype="clear">
															<span class="visuallyhidden">Lösche Eingabe</span>
															<svg class="icon" focusable="false">
																<use xlink:href="#clear"></use>
															</svg>
														</button>









													</div>

													<!-- Standard Topiclist -->
													<div class="
        mdl-content_nav
        
          
          
         mdl-topiclist__navigation" data-init="contentNav" aria-live="polite" data-topiclist="navigation">
														<ul class="mdl-content_nav__list">
														</ul>

													</div>

													<!-- "Autosuggest" Topiclist" -->
													<div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__autosuggest mdl-content_nav--single-column" data-init="contentNav" aria-live="polite" data-topiclist="autosuggest">
														<ul class="mdl-content_nav__list">
														</ul>

														<div class="atm-loading_circle">
															<span class="atm-loading_circle__spinner"></span>
														</div>
													</div>

													<div class="mdl-topiclist__fullwidth-wrapper">
														<button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
															Alle anzeigen
															<svg class="icon atm-button__icon">
																<use xlink:href="#layer1"></use>
															</svg>
														</button>
													</div>
												</div>

												<div data-topiclist="furtherLayers">
												</div>

												<!-- Template scripts -->
												<!-- Content teaser template -->
												<script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
													<a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
      </script>
												<script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
													<div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
    <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
    <div class="mdl-subnavigation__title">
      <h3 class="atm-heading"><a href="/pages/department/department.html"><%=title%></a></h3>
      <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
        Seite anzeigen
        <svg class="icon icon--iframe-arrow" focusable="false">
          <use xlink:href="#arrow-right"></use>
        </svg>
      </a>
    </div>
  
    <div class="mdl-content_nav" data-subnavigation="contentNav">
      <ul class="mdl-content_nav__list"></ul>
    </div>
  </div>
  
      </script>
											</div>

										</div>
									</div>
								</div>
							</div>
							<div class="mdl-modal__pages-page">
								<div class="lyt-wrapper">
									<div class="grid-x grid-margin-x">
										<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
											<!-- modal content -->
											<div class="mdl-organisation_navigation" data-init="organisationNavigation">

												<div class="mdl-organisation_navigation__top" data-organisation_navigation="topSection"></div>

												<div class="mdl-topiclist mdl-topiclist--home mdl-topiclist--nav" data-init="topiclist" data-topiclist-options='{&quot;url&quot;:&quot;/mocks/modules/topiclist/topiclist.organisations.json&quot;,&quot;searchUrl&quot;:&quot;/pages/search/search.html?q&#x3D;{value}&quot;}'>
													<div data-topiclist="firstLayer">


														<div class="atm-form_input atm-form_input--small
            " data-input>



															<input class="atm-form_input__input" id="organisationFilterInput" placeholder="Filtern nach Amt, Direktion" name="input_name" value="" type="text" data-topiclist="input" data-hasbutton="true">




															<label for="organisationFilterInput">Filtern nach Amt, Direktion</label>

															<button class="atm-form_input__functionality" type="button" data-buttontype="clear">
																<span class="visuallyhidden">Lösche Eingabe</span>
																<svg class="icon" focusable="false">
																	<use xlink:href="#clear"></use>
																</svg>
															</button>









														</div>

														<!-- Standard Topiclist -->
														<div class="
          mdl-content_nav
          
            
            
           mdl-topiclist__navigation" data-init="contentNav" aria-live="polite" data-topiclist="navigation">
															<ul class="mdl-content_nav__list">
															</ul>

														</div>

														<!-- "Autosuggest" Topiclist" -->
														<div class="
            mdl-content_nav
            
              
              
             mdl-topiclist__autosuggest mdl-content_nav--single-column" data-init="contentNav" aria-live="polite" data-topiclist="autosuggest">
															<ul class="mdl-content_nav__list">
															</ul>

															<div class="atm-loading_circle">
																<span class="atm-loading_circle__spinner"></span>
															</div>
														</div>

														<div class="mdl-topiclist__fullwidth-wrapper">
															<button class="atm-button mdl-topiclist__show-all" data-topiclist="showAllTrigger">
																Alle anzeigen
																<svg class="icon atm-button__icon">
																	<use xlink:href="#layer1"></use>
																</svg>
															</button>
														</div>
													</div>

													<div data-topiclist="furtherLayers">
													</div>

													<!-- Template scripts -->
													<!-- Content teaser template -->
													<script data-topiclist="contentTeaserTemplate" type="text/x-handlebars-template">
														<a class="atm-content_teaser " href=<%=target%>>
      <span class="atm-content_teaser__content" data-lineclamp="true">
        <span class="atm-content_teaser__title">
          <%= shortTitle %>
        </span>
        
      </span>
    </a>
    
        </script>
													<script data-topiclist="subnavigationTemplate" type="text/x-handlebars-template">
														<div class="mdl-subnavigation" data-init="subnavigation" data-layer="<%=layer%>">
      <button data-subnavigation="layerUp" class="atm-button atm-button--secondary atm-button--small">Zurück zu <%=parent%></button>
      <div class="mdl-subnavigation__title">
        <h3 class="atm-heading"><a href="/pages/department/department.html"><%=title%></a></h3>
        <a class="atm-text_link atm-text_link--icon" href="<%=pageUrl%>">
          Seite anzeigen
          <svg class="icon icon--iframe-arrow" focusable="false">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a>
      </div>
    
      <div class="mdl-content_nav" data-subnavigation="contentNav">
        <ul class="mdl-content_nav__list"></ul>
      </div>
    </div>
    
        </script>
												</div>

												<div class="mdl-organisation_navigation__highlight">
													<div class="lyt-wrapper">
														<div class="grid-x grid-margin-x">
															<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8" data-organisation_navigation="bottomSection">
															</div>
														</div>
													</div>
												</div>


												<script data-organisation_navigation="organisationTeaserTemplate" type="text/x-handlebars-template">
													<div class="mdl-organisation_teaser" data-init="organisationTeaser">
    <h3 class="atm-heading"><%=orgTitle%></h3>
    <p class="atm-paragraph"><%=orgLead%> <a class="atm-text_link" href="<%=url%>"><%=moreLabel%></a></p>
  </div>
  
    </script>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- modal page content -->
				<div id="flyout-search" class="mdl-modal mdl-modal--search mdl-modal--flyout cv-monochrome print-hidden " aria-hidden="true" data-init="modal" role="dialog" data-modal-options="{&quot;transitionTime&quot;:500}">
					<div role="document">
						<button class="mdl-modal__close" data-modal="close">
							<span class="mdl-modal__close-label"><span class="visuallyhidden">Suche </span>Schliessen</span>
							<svg focusable="false" class="icon mdl-modal__exit">
								<use xlink:href="#exit"></use>
							</svg>
						</button>


						<div class="lyt-wrapper">
							<div class="grid-x grid-margin-x">
								<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
									<!-- modal content -->
									<div class="mdl-search cv-monochrome" data-search-options="{&quot;url&quot;:&quot;/mocks/modules/search/search.json&quot;,&quot;searchPageUrl&quot;:&quot;/pages/search/search.html&quot;}" data-init="search">
										<div class="mdl-search__head">
											<svg class="icon mdl-search__icon" focusable="false">
												<use xlink:href="#inspect"></use>
											</svg>
											<form novalidate data-search="form" method="GET" action="/pages/search/search.html">
												<label class="visuallyhidden" for="query">Suchbegriff</label>
												<input class="mdl-search__input atm-form_input" type="text" data-search="input" name="q" id="q" placeholder="Suchbegriff" autocomplete="new-password" />
											</form>
										</div>
										<div class="mdl-tag-group mdl-search__tag-group">
											<h2 class="atm-heading">Meist gesucht</h2>
											<ul class="mdl-tag-group__tags">
												<li>
													<a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Schulferien 2019
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=Kurse für Hundehalter" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Kurse für Hundehalter
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=Quellensteuer" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Quellensteuer
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=Handelsregistereintrag" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Handelsregistereintrag
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=Velo" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Velo
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=eAutoindex" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														eAutoindex
													</a>
												</li>
												<li>
													<a href="/pages/search/search.html?q=Schulferien 2019" class="atm-anchorlink atm-anchorlink--tag atm-anchorlink--tag-top">
														Schulferien 2019
													</a>
												</li>
											</ul>
										</div>

										<div class="
      mdl-content_nav
      
        
        
       mdl-search__autosuggest mdl-content_nav--single-column initially-hidden" data-init="contentNav" aria-live="polite" data-search="autosuggest">
											<ul class="mdl-content_nav__list">
											</ul>

										</div>

										<script data-search="autosuggestTemplate" type="text/x-handlebars-template">
											<a class="atm-content_teaser " href=<%=target%>>
    <span class="atm-content_teaser__content" data-lineclamp="true">
      <span class="atm-content_teaser__title">
        <%= shortTitle %>
      </span>
      
    </span>
  </a>
  
    </script>
									</div>

								</div>
							</div>
						</div>


					</div>
				</div>


			</div>
		</div>
	</header>
	<main class="lyt-wrapper" id="main">
		<div class="grid-x grid-margin-x">
			<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
				<header class="mdl-page-header   mdl-page-header--inverted   " data-init="pageHeader">
					<div class="lyt-wrapper">
						<div class="grid-x grid-margin-x">
							<div class="mdl-page-header__logo-container cell tiny-2 xsmall-2 small-2 medium-2 large-2 xlarge-2">
								<span>
									<span class="visuallyhidden">Logo des Kantons Zürich</span>
									<svg viewBox="0 0 100 100" class="mdl-page-header__logo print-hidden">
										<use xlink:href="#ktzh_inverted"></use>
									</svg>
									<svg viewBox="0 0 100 100" class="mdl-page-header__logo screen-hidden">
										<use xlink:href="#ktzh"></use>
									</svg>
									<span>
							</div>
							<div class="cell  tiny-10 xsmall-10 small-10 medium-10 large-10 xlarge-10">
								<div class="mdl-page-header__breadcrumb">
									<nav>
										<h2 class="visuallyhidden">Sie sind hier: </h2>
										<ol class="mdl-breadcrumb " data-init="breadcrumb">
											<li class="mdl-breadcrumb__item
            mdl-breadcrumb__item--main
            
          " data-index="0" data-breadcrumb="item">
												<svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
													<use xlink:href="#arrow-left"></use>
												</svg>
												<a class="mdl-breadcrumb__link" href="#">Kanton Zürich</a>
											</li>
											<li class="mdl-breadcrumb__item
            
            
          " data-index="1" data-breadcrumb="item">
												<svg class="icon" focusable="false">
													<use xlink:href="#angle_right"></use>
												</svg>
												<svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
													<use xlink:href="#arrow-left"></use>
												</svg>
												<a class="mdl-breadcrumb__link" href="#">Urgrosselternseite</a>
											</li>
											<li class="mdl-breadcrumb__item
            
            
          " data-index="2" data-breadcrumb="item">
												<svg class="icon" focusable="false">
													<use xlink:href="#angle_right"></use>
												</svg>
												<svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
													<use xlink:href="#arrow-left"></use>
												</svg>
												<a class="mdl-breadcrumb__link" href="#">Grosselternseite</a>
											</li>
											<li class="mdl-breadcrumb__item
            
            
          " data-index="3" data-breadcrumb="item">
												<svg class="icon" focusable="false">
													<use xlink:href="#angle_right"></use>
												</svg>
												<svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
													<use xlink:href="#arrow-left"></use>
												</svg>
												<a class="mdl-breadcrumb__link" href="#">Elternseite</a>
											</li>
											<li class="mdl-breadcrumb__item
            
            mdl-breadcrumb__item--active
          " data-index="4" data-breadcrumb="item">
												<svg class="icon" focusable="false">
													<use xlink:href="#angle_right"></use>
												</svg>
												<svg class="icon mdl-breadcrumb__arrow-left" focusable="false">
													<use xlink:href="#arrow-left"></use>
												</svg>
												<span class="mdl-breadcrumb__link">aktuelle Seite</span>
											</li>
											<li class="mdl-breadcrumb__item mdl-breadcrumb__hidden-items" data-breadcrumb="ellipsis">
												<svg class="icon" focusable="false">
													<use xlink:href="#angle_right"></use>
												</svg>
												<button class="mdl-breadcrumb__show-context" data-breadcrumb="showContext">
													<span class="visuallyhidden">Ausgeblendete Navigationsebenen</span> ...
												</button>
												<div class="mdl-context_menu">
													<div>
														<ul class="mdl-context_menu__list">
															<li data-item-index="0">
																<a class="atm-context_menu_item " href="../../" data-context-menu="item">
																	<span class="atm-context_menu_item__label">Urgrosselternseite</span>
																</a>
															</li>
															<li data-item-index="1">
																<a class="atm-context_menu_item " href="../../" data-context-menu="item">
																	<span class="atm-context_menu_item__label">Grosselternseite</span>
																</a>
															</li>
															<li data-item-index="2">
																<a class="atm-context_menu_item " href="../../" data-context-menu="item">
																	<span class="atm-context_menu_item__label">Elternseite</span>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ol>
									</nav>
								</div>
								<h1 class="atm-heading mdl-page-header__title">Newsletter verwalten</h1>
							</div>
						</div>
						<div class="grid-x grid-margin-x">
							<div class="cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-auto small-auto medium-9 large-8 xlarge-8">
								<p class="atm-lead">
									<strong>Verwalten Sie hier Ihre Newsletter-Einstellungen</strong>
								</p>


							</div>
						</div>
					</div>

					<div class="mdl-page-header__subsection">
					</div>
				</header>
			</div>
			<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
				<form novalidate>
					<p class="atm-heading__lead">Ihre E-Mail Adresse</p>
					<h2 class="atm-heading atm-heading--with-lead">max@mustermann.com</h2>
					<section class="form__section">
						<h3 class="atm-heading form__section-title">Ihre Themen</h3>
						<p class="atm-paragraph">
							Wählen Sie die Themen, zu denen Sie von uns regelmässig News erhalten möchten:
						</p>
						<div class="form__group ">
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_297" name="checkbox" value="value" />
										<label for="checkboxcheck_297">
											Bildung
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Schule, Lehrmittel, Berufsberatung, Berufsschule, Mittelschule</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_298" name="checkbox" value="value" />
										<label for="checkboxcheck_298">
											Wirtschaft &amp; Unternehmen
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Handelsregister, Fimengründung, Arbeitsbewilligung, Forschung</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_299" name="checkbox" value="value" />
										<label for="checkboxcheck_299">
											Freizeit &amp; Kultur
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Sportförderung, Schulsport, Jugendsport, Kulturförderung</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_300" name="checkbox" value="value" />
										<label for="checkboxcheck_300">
											Raum &amp; Bauen
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Geodaten &amp; Karten, Baulandpreise, Baubewilligungen, Raumplanung</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_301" name="checkbox" value="value" />
										<label for="checkboxcheck_301">
											Gesundheit
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Krankenversicherung, Prämienverbilligung, Kliniken</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_302" name="checkbox" value="value" />
										<label for="checkboxcheck_302">
											Steuern
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Steuererklärung, Quellensteuer, Steuerbuch, Steuerberechnung</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_303" name="checkbox" value="value" />
										<label for="checkboxcheck_303">
											Politik
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Wahlen &amp; Abstimmungen, Wahlen 2019, Regierungsrat, Kantonsrat</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_304" name="checkbox" value="value" />
										<label for="checkboxcheck_304">
											Ausländer &amp; Migration
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Einreise, Aufenthaltsbewilligung, internationaler Führerschein, Asyl</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_305" name="checkbox" value="value" />
										<label for="checkboxcheck_305">
											Umwelt &amp; Tiere
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Betriebsökologie, Abfall, Wasser, Hunde, Tierschutz, Betriebsökologie, Energie</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_306" name="checkbox" value="value" />
										<label for="checkboxcheck_306">
											Sicherheit &amp; Justiz
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Kantonspolizei, ePolice, Bussen, Gerichte, Gefängnis, Justizvollzug</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_307" name="checkbox" value="value" />
										<label for="checkboxcheck_307">
											Verkehr
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Führerschein, Fahrzeug, Velo, Autonummern, Verkehrsplanung</div>
										</label>
									</div>
								</div>
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_308" name="checkbox" value="value" />
										<label for="checkboxcheck_308">
											Über den Kanton Zürich
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Fakten, Informationen für Neuzuzüger, Daten und Statistiken</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form__row">
								<div class="form__cell form__cell">
									<div class="atm-checkbox atm-checkbox--strong">
										<input type="checkbox" id="checkboxcheck_309" name="checkbox" value="value" />
										<label for="checkboxcheck_309">
											Familie
											<span>
												<svg class="icon icon--iframe-arrow" focusable="false">
													<use xlink:href="#check"></use>
												</svg>
											</span>
											<div class="atm-checkbox__hint">Beratung Familie &amp; Kinder, Kinder- und Jugendhilfezentrum kjz</div>
										</label>
									</div>
								</div>
							</div>
						</div>
					</section>
					<br />
					<br />
					<section class="form__section">
						<h3 class="atm-heading form__section-title">Regelmässigkeit der Zustellung</h3>
						<p class="atm-paragraph">
							Wählen Sie, wie häufig Sie unseren Newsletter erhalten möchten:
						</p>
						<div class="form__group ">
							<div class="form__row form__row--narrow">
								<div class="form__cell form__cell">
									<div class="atm-radiobutton ">
										<input id="radioimmediately" type="radio" value="" name="frequency">
										<label for="radioimmediately">
											Sofort

										</label>
									</div>
								</div>
							</div>
							<div class="form__row form__row--narrow">
								<div class="form__cell form__cell">
									<div class="atm-radiobutton ">
										<input id="radiodaily" type="radio" value="" name="frequency">
										<label for="radiodaily">
											Einmal pro Tag

										</label>
									</div>
								</div>
							</div>
							<div class="form__row form__row--narrow">
								<div class="form__cell form__cell">
									<div class="atm-radiobutton ">
										<input id="radioweeklychecked" type="radio" value="" name="frequency" checked>
										<label for="radioweeklychecked">
											Einmal pro Woche(checked)

										</label>
									</div>
								</div>
							</div>
						</div>
					</section>
					<div class="mdl-stepper__control">
						<button class="atm-button">
							<span class="atm-button__text">
								Änderungen speichern
							</span>
						</button>
					</div>
				</form>
				<br />
				<br />
				<br />
				<br />
				<div class="mdl-contact mdl-contact--fullwidth">
					<div class="lyt-wrapper">
						<div class="grid-x grid-margin-x">
							<div class="cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-10">
								<h2 class="atm-heading atm-heading--bordered">Kontakt</h2>

								<h3 class="mdl-contact__subtitle">
									Kanton Zürich
								</h3>
								<a class="mdl-contact__subtitle-link" href="#">
									Mehr erfahren
								</a>
							</div>
						</div>
						<div class="mdl-contact__section grid-x grid-margin-x">

							<div class="mdl-contact__section-cell cell xsmall-offset-2 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 xsmall-10 small-5 xlarge-3">
								<div class="mdl-contact__cell-icon">
									<h4 class="visuallyhidden">Adresse</h4>
									<svg class="icon mdl-contact__icon-location" aria-hidden="true" focusable="false">
										<use xlink:href="#location"></use>
									</svg>
								</div>
								<div class="mdl-contact__cell-content">
									<address class="mdl-contact__address">
										<div data-contact-copy-source>
											Zürich-Albisgütli<br>
											Uetlibergstrasse 301<br>
											8036 Zürich<br>
										</div>
										<a target="_blank" href="#" class="mdl-contact__show-route">Route anzeigen
										</a>
									</address>

									<div class="mdl-contact__text">

									</div>

								</div>
							</div>

							<div class="mdl-contact__section-cell cell xsmall-offset-2 small-offset-0 medium-offset-0 large-offset-0 xlarge-offset-0 x-small-6 xsmall-10 small-5 xlarge-3">
								<div class="mdl-contact__cell-icon">
									<h4 class="visuallyhidden">Telefon</h4>
									<svg class="icon mdl-contact__icon-phone" aria-hidden="true" focusable="false">
										<use xlink:href="#phone-call"></use>
									</svg>
								</div>
								<div class="mdl-contact__cell-content">
									<a class="atm-text_link mdl-contact__phone" href="tel:+41588113000">058 811 30 00</a>

									<div class="mdl-contact__text">
										<p>
											Telefon
										</p>
									</div>

								</div>
							</div>

							<div class="mdl-contact__section-cell cell xsmall-offset-2 small-offset-2 medium-offset-2 xlarge-offset-0 xsmall-10 small-8 xlarge-4">
								<div class="mdl-contact__cell-icon">
									<h4 class="visuallyhidden">E-Mail</h4>
									<svg class="icon mdl-contact__icon-email" aria-hidden="true" focusable="false">
										<use xlink:href="#email"></use>
									</svg>
								</div>
								<div class="mdl-contact__cell-content">
									<a class="mdl-contact__mail" href="mailto:velo@vd.zh.ch">velo@vd.zh.ch</a><br>
									<div class="mdl-contact__text">
										<p>

										</p>
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</main>
	<footer class="lyt-wrapper" id="footer">
		<div class="grid-x grid-margin-x">
			<div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
				<h1 class="visuallyhidden">Fussbereich</h1>
				<div id="contentinfo" class="mdl-footer" data-init="footer">
					<div class="lyt-wrapper">
						<div class="grid-margin-x grid-x">
							<div class="cell tiny-12 xsmall-12 small-10 medium-10 large-10 xlarge-10 small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2">
								<div class="mdl-footer__content">
									<h2 class="mdl-footer__title atm-heading">Kanton Zürich</h2>
									<ul class="mdl-footer__menu">
										<li>
											<a href="#contact">Kontakt</a>
										</li>
										<li>
											<a href="#">Medien</a>
										</li>
										<li>
											<a href="#">Aktuell</a>
										</li>
										<li>
											<a href="#">Jobs</a>
										</li>
										<li>
											<a href="#">Veranstaltungen</a>
										</li>
									</ul>

									<ul class="mdl-footer__submenu">
										<li class="mdl-footer__copyright">
											<p>©2021 Kanton Zürich</p>
										</li>
										<li>
											<a href="#">Datenschutz</a>
										</li>
										<li>
											<a href="#">Impressum</a>
										</li>
										<li>
											<a href="#">Rechtliche Hinweise</a>
										</li>
									</ul>

									<div class="mdl-footer__social-media">
										<div class="mdl-social-media-links" data-init="socialMediaLinks">
											<h3 class="atm-heading">Folgen Sie dem Kanton auf</h3>

											<ul>
												<li class="mdl-social-media-links__item">
													<a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
														<span class="atm-button__text visuallyhidden">
															Facebook
														</span>
														<img src="../../assets/media/image/facebook.svg" alt="">
													</a>
												</li>
												<li class="mdl-social-media-links__item">
													<a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
														<span class="atm-button__text visuallyhidden">
															Twitter
														</span>
														<img src="../../assets/media/image/twitter.svg" alt="">
													</a>
												</li>
												<li class="mdl-social-media-links__item">
													<a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
														<span class="atm-button__text visuallyhidden">
															linkedIn
														</span>
														<img src="../../assets/media/image/linkedIn.svg" alt="">
													</a>
												</li>
												<li class="mdl-social-media-links__item">
													<a href="#" class="atm-button atm-button--icon-only atm-button--secondary atm-button--cv-inverted">
														<span class="atm-button__text visuallyhidden">
															YouTube
														</span>
														<img src="../../assets/media/image/youtube.svg" alt="">
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>