$customParagraphCurve: (
  tiny: $sizeFontSmall,
  xsmall: $sizeFontSmall,
  small: $sizeFontRegular,
  medium: $sizeFontRegular,
  large: $sizeFontBiggerRegular,
);

$maxTextLines: 6;
$maxTextLinesDesktop: 4;

.mdl-news-teaser {
  @include gridBleed($fullwidth: true);
  padding-top: pxToRem($sizeBig);
  padding-bottom: pxToRem($sizeBig);
  background-color: $colorBlack5;

  &--more-info {
    margin-top: 0;
  }

  &__content {
    ul {
      @include resetList();
      display: flex;
      flex-flow: row wrap;
      padding-top: pxToRem($sizeTiny);
      padding-left: pxToRem($sizeTiny);
      width: 100%;
    }
  }

  &__header {
    position: relative;

    a {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: pxToRem($sizeFontRegular);
      line-height: $sizeLineHeightBase;
    }

    // Overwrite heading atom style
    .atm-heading {
      margin-top: pxToRem($sizeBig);
      margin-bottom: pxToRem($sizeLarge);
    }
  }

  &__item {
    position: relative;
    background-color: $colorBlack10;
    margin-right: pxToRem($sizeTiny);
    margin-bottom: pxToRem($sizeTiny);
    width: 100%;

    &:before {
      content: '';
      position: absolute;
      display: block;
      top: pxToRem(-$sizeTiny);
      left: pxToRem(-$sizeTiny);
      width: calc(100% + #{$sizeRegular});
      height: calc(100% + #{$sizeRegular});
      background-color: $colorBlack10;
    }

    a {
      background-color: $colorWhite;
      height: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      padding: pxToRem($sizeBig);
      text-decoration: none;
    }

    // HOVER OVER ITEMS
    &:hover {
      z-index: 1;

      &:before {
        background-color: $colorBorderFrameHover;
      }

      .atm-heading,
      time,
      p {
        color: $colorBlack;
      }
    }

    time,
    p {
      color: $colorBlack60;
    }

    // Overwrite item heading atom
    .atm-heading {
      padding-top: pxToRem($sizeMini);
      padding-bottom: pxToRem($sizeTiny);
      margin-bottom: 0;
      order: 2;

      // LineClamper Config
      $headingHeightCurve: (
        tiny: $sizeLarge * $sizeLineHeightMedium * $maxTextLines,
        small: $sizeLarge * $sizeLineHeightMedium * $maxTextLinesDesktop,
        medium: $sizeBig * $sizeLineHeightMedium * $maxTextLinesDesktop,
        xlarge: $sizeBiggerBig * $sizeLineHeightNarrower * $maxTextLinesDesktop,
      );

      @include polyFluidSizing(max-height, $headingHeightCurve);
    }

    // Overwrite item paragraph atom
    .atm-paragraph {
      order: 3;
      margin: 0 0 pxToRem($sizeRegular) 0;
      line-height: $sizeLineHeightBase;

      @include polyFluidSizing('font-size', map-get($fontSizeCurves, small));

      // LineClamper Config
      $paragraphHeightCurve: (
        tiny: $sizeFontSmall * $sizeLineHeightBase * $maxTextLines,
        small: $sizeFontRegular * $sizeLineHeightBase * $maxTextLinesDesktop,
        large: $sizeFontBiggerRegular * $sizeLineHeightBase * $maxTextLinesDesktop,
      );

      @include polyFluidSizing(max-height, $paragraphHeightCurve);
    }
  }

  &__date,
  &__item-label {
    font-size: $sizeFontTiny;
    line-height: $sizeLineHeightBase;
    font-family: $fontFamilyBlack;
    margin: 0;
    order: 1;

    time {
      font-family: $fontFamilyBase;
    }
  }

  &__item-image {
    order: 3;
    margin-top: auto;
    margin-bottom: 0;
    flex-shrink: 0;

    // Overwrite item image-figure-module
    figure {
      margin-top: pxToRem($sizeLarge);
      margin-bottom: 0;

      > div {
        margin-bottom: 0;
      }
    }
  }

  // Overwrite item linklist-module
  .mdl-linklist {
    margin: calc(#{$sizeRegular} + #{$sizeSmallLarge}) 0 0;
  }

  .mdl-teaser__wrapper {
    transform: translateX(-50%);
  }

  .mdl-teaser {
    margin-bottom: 0;
  }

  /*
  * MEDIA QUERIES
  */
  @include mq($from: small) {

    &--more-info {
      padding-top: 0;
      padding-bottom: pxToRem($sizeBiggerBig);
    }

    &__header {
      .atm-heading {
        margin-top: pxToRem($sizeBiggerBig);
      }
    }

    &__item {
      flex-basis: calc(50% - #{$sizeTiny});
      max-width: calc(50% - #{$sizeTiny});
    }
    // Single item style
    .medium-6 ul {
      .mdl-news-teaser__item {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
  @include mq($from: large) {
    padding-top: pxToRem($sizeBiggerBig);
    padding-bottom: pxToRem($sizeBiggerBig);

    &__header {
      // Overwrite heading atom style
      .atm-heading {
        margin-bottom: pxToRem($sizeBiggerBig);
      }
    }

    &--more-info {
      padding-top: 0;
      padding-bottom: pxToRem($sizeGiant);

      .mdl-news-teaser__header {
        .atm-heading {
          margin-top: pxToRem($sizeGiant);
        }
      }
    }

    // Single item style
    .medium-6 ul {
      max-width: 50%;
    }
    // Two item style
    .large-8 .mdl-news-teaser__item {
      flex-basis: calc(50% - #{$sizeTiny});
      max-width: calc(50% - #{$sizeTiny});
    }

    &__item {
      flex-basis: calc(33.33% - #{$sizeTiny});
      max-width: calc(33.33% - #{$sizeTiny});
    }

    .mdl-linklist {
      margin: calc(#{$sizeBiggerBig} + #{$sizeRegular}) 0 0;
    }
  }
}

/*
* COLOR VARIATIONS
*/
@each $key, $val in $tl-color-variations {
  .#{$key} {
    .mdl-news-teaser__item a {
      color: #{$val};
    }
  }
}
