{{#if preview}}
<!-- Helper markup (do not include) -->
<button class="atm-button atm-button--big"
        onclick="document.querySelector('#{{modalId}}').dispatchEvent(new CustomEvent('Modal.open'))">Modal anzeigen
</button>
<!--  -->
{{/if}}
<!-- modal page content -->
<div id="{{modalId}}" class="mdl-modal {{#if mainNavigation}}mdl-modal--flyout cv-monochrome{{/if}}" aria-hidden="true" data-init="modal">
  {{#unless mainNavigation}}
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
          <!-- modal header -->
          {{> "modules/page_header/page_header" modules.servicePageHeaderData }}
        </div>
      </div>
    </div>
  {{/unless}}
  <div class="lyt-wrapper">
    <div class="grid-x grid-margin-x">
      <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
        <!-- modal content -->
        {{#each modules.contentModules}}
          {{{this}}}
        {{/each}}
      </div>
    </div>
  </div>
  {{#unless mainNavigation}}
    <div class="lyt-wrapper">
      <div class="grid-x grid-margin-x">
        <div class="cell small-offset-2 medium-offset-2 large-offset-2 xlarge-offset-2 small-10 medium-9 large-8">
          <!-- modal footer -->
        </div>
      </div>
    </div>
  {{/unless}}
</div>

